@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
	#main-window[defaultfxtheme="true"] panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete),
	#main-window[defaultfxtheme="true"] #PopupAutoCompleteRichResult[autocompleteinput="urlbar"] {
	  -moz-appearance: menupopup !important;
	  color: MenuText;
	}
	#main-window[defaultfxtheme="true"] panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) .autocomplete-richlistitem .ac-title,
	#main-window[defaultfxtheme="true"] #PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-title {
	  padding-top: 2px !important;
	  padding-bottom: 2px !important;
	  color: MenuText;
	}
	
	#main-window[defaultfxtheme="true"] panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) .autocomplete-richlistitem[selected="true"] .ac-title,
	#main-window[defaultfxtheme="true"] #PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem[selected="true"] .ac-title {
	  color: HighlightText;
	}
}