@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	#urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar > #notification-popup-box[hidden] + *,
	#urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar,
	#urlbar-container[forwarddisabled] > #urlbar-wrapper,
	#urlbar-container[forwarddisabled] > *,
	#wrapper-urlbar-container, #urlbar-container,#urlbar-wrapper,#urlbar {
	  transition: none !important;
	  transition-property:  none !important;
	  transition-delay: 0s !important;
	}
	
	#main-window #urlbar-container > #urlbar-wrapper,
	#main-window #urlbar-container[forwarddisabled] > #urlbar-wrapper {
      -moz-padding-start: 8px !important;
	}
	
	#main-window[fx50plus="true"][defaultfxtheme="true"]:not([chromehidden~="toolbar"]) #forward-button[disabled="true"] + #urlbar #identity-icon {
	  margin-inline-start: -6px !important;
	}
	#main-window[fx50plus="true"][defaultfxtheme="true"][developertheme="true"]:not([chromehidden~="toolbar"]) #forward-button[disabled="true"] + #urlbar #identity-icon {
	  margin-inline-start: 0px !important;
	}
		
	#main-window:not([fx50plus="true"])[defaultfxtheme="true"] #nav-bar #notification-popup-box[hidden] + * {
	  -moz-padding-start: 6px !important;
	  -moz-padding-end: 5px !important;
	  transition: none !important;
	}

	#main-window:not([fx50plus="true"]) * #notification-popup-box:not([hidden]) {
	  padding-left:2px !important;
	  padding-right:2px !important;
	  transition: none !important;
	}
	
	/* urlbar border tweaks */
	#main-window[defaultfxtheme="true"] #urlbar {
	  min-height: 24px;
	}

	#main-window[defaultfxtheme="true"] * #urlbar,
	#main-window[defaultfxtheme="true"] #nav-bar .searchbar-textbox {
	  border: 1px solid ThreeDShadow !important;
	}
	#main-window[defaultfxtheme="true"] * #urlbar[focused],
	#main-window[defaultfxtheme="true"] * .searchbar-textbox[focused] {
	  border-color: Highlight !important;
	}

	window:not([chromehidden~="toolbar"]) * toolbar #urlbar-container,
	window:not([chromehidden~="toolbar"]) * toolbar #urlbar-container[forwarddisabled] {
	  -moz-margin-start: 4px !important;
	}
	#main-window[developertheme="true"]:not([chromehidden~="toolbar"]) * toolbar #urlbar-container,
	#main-window[developertheme="true"]:not([chromehidden~="toolbar"]) * toolbar #urlbar-container[forwarddisabled] {
	  -moz-margin-start: 3px !important;
	}

}