@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	#urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar > #notification-popup-box[hidden] + *,
	#urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar,
	#urlbar-container[forwarddisabled] > #urlbar-wrapper,
	#urlbar-container[forwarddisabled] > *,
	#wrapper-urlbar-container, #urlbar-container,#urlbar-wrapper,#urlbar {
	  transition: none !important;
	  transition-property:  none !important;
	  transition-delay: 0s !important;
	}
	
	#main-window:not([fx31="true"]) #urlbar-container > #urlbar-wrapper,
	#main-window:not([fx31="true"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper {
      -moz-padding-start: 33px !important;
	}
	#main-window[fx31="true"] #urlbar-container > #urlbar-wrapper,
	#main-window[fx31="true"] #urlbar-container[forwarddisabled] > #urlbar-wrapper {
      -moz-padding-start: 8px !important;
	}
		
	* #notification-popup-box[hidden] + * {
	  -moz-padding-start: 2px !important;
	  transition: none !important;
	}

	* #notification-popup-box:not([hidden]) {
	  padding-left:2px !important;
	  padding-right:2px !important;
	  transition: none !important;
	}
	
	/* urlbar border tweaks */
	#main-window[defaultfxtheme="true"] * #urlbar {
	  border: 1px solid ThreeDShadow !important;
	}
	#main-window[defaultfxtheme="true"] * #urlbar[focused],
	#main-window[defaultfxtheme="true"] * .searchbar-textbox[focused] {
	  border-color: Highlight !important;
	}

	#urlbar-container > #urlbar-wrapper > #urlbar,
	#urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  margin-left: 4px !important; /* for both ltr and rtl */
	}

}