@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
	  -moz-padding-start: 0px !important;
	}
	
	.tabs-newtab-button{
	  -moz-margin-end:-15px !important;
	}
	
	/* TU workaround */
	#PinnedTabsBarItems {
	  -moz-margin-start:-14px !important;
	  -moz-margin-end:0px !important;
	}
	#tabbrowser-tabs[overflow] #PinnedTabsBarItems{
	  -moz-margin-end:-14px !important;
	}
	/**/

	.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme){
	  background-image: linear-gradient(rgba(255,255,255,.8) 1px, rgba(255,255,255,.5) 3px, rgba(255,255,255,.3) 32%),
						linear-gradient(-moz-dialog, -moz-dialog);
	}
	
	.tabbrowser-tab:not([selected="true"]):not(:hover):not(:-moz-lwtheme) {
	  background-image: linear-gradient(hsla(0,0%,100%,.2), hsla(0,0%,45%,.2) 2px, hsla(0,0%,32%,.2) 80%);
	}
	
	.tabbrowser-tab:not([selected="true"]):hover:not(:-moz-lwtheme) {
	  background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.2) 4px, hsla(0,0%,75%,.2) 80%);
	}
	
	.tabs-newtab-button:not(:-moz-lwtheme) {
	  background-image: linear-gradient(hsla(0,0%,100%,.2), hsla(0,0%,45%,.2) 2px, hsla(0,0%,32%,.2) 80%) !important;
	}
	
	.tabs-newtab-button:hover:not(:-moz-lwtheme) {
	  background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.2) 4px, hsla(0,0%,75%,.2) 80%) !important;
	}
	
	.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):not(:hover):not(:-moz-lwtheme){
	  background-size: 95% 100% !important;
	  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #afaba5,#c0bdb6,#c9c6c0) !important;
	}
	
	.tabbrowser-tab[selected="true"]:-moz-lwtheme {
	  background-image: linear-gradient(rgba(255,255,255,.8) 1px, rgba(255,255,255,.5) 3px, rgba(255,255,255,.3) 32%) !important;
	}
}
