@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/*@-moz-document url(chrome://browser/content/browser.xul) {*/

	#main-window #navigator-toolbox #nav-bar toolbarbutton[type="menu-button"] toolbarbutton image{
	  width:18px !important;
	  padding:0px !important;
	}
/*}*/