@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	searchbar .searchbar-engine-button {
	  padding-top: 3px !important;
	  padding-bottom: 3px !important;
	}

	searchbar .search-go-button {
	  -moz-margin-end: 0px !important;
	}

}