@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#ctraddon_bookmarks-menu-toolbar-button > .toolbarbutton-icon,
	#ctraddon_bookmarks-button > .toolbarbutton-icon{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/bookmarks_linux.png");
	}
	#ctraddon_bookmarks-menu-toolbar-button:-moz-lwtheme-brighttext > .toolbarbutton-icon,
	#ctraddon_bookmarks-button:-moz-lwtheme-brighttext > .toolbarbutton-icon{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/bookmarks-inv.png");
	}

	/* fallback images for non-default theme */
	#ctraddon_history-menu-toolbar-button > .toolbarbutton-icon,
	#ctraddon_history-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/history2_mac.png");
	}
	#ctraddon_back-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/back2_mac.png");
	}
	#ctraddon_forward-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/forward2_mac.png");
	}
	#ctraddon_stop-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/stop2_mac.png");
	}
	#ctraddon_reload-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/reload2_mac.png");
	}
	
	/* images for default theme */
	#main-window[defaultfxtheme="true"] :-moz-any(#ctraddon_history-button,#ctraddon_history-menu-toolbar-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button) > .toolbarbutton-icon {
	  list-style-image: url("chrome://browser/skin/Toolbar.png");
	}
	
	#main-window[defaultfxtheme="true"] :-moz-any(#ctraddon_history-button,#ctraddon_history-menu-toolbar-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button):-moz-lwtheme-brighttext > .toolbarbutton-icon {
	  list-style-image: url("chrome://browser/skin/Toolbar-inverted.png");
	}
	
	#main-window[defaultfxtheme="true"] #ctraddon_history-menu-toolbar-button > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] #ctraddon_history-button > .toolbarbutton-icon {
	  -moz-image-region: rect(0, 180px, 18px, 162px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_back-button > .toolbarbutton-icon {
	  -moz-image-region: rect(0, 54px, 18px, 36px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_forward-button > .toolbarbutton-icon {
	  -moz-image-region: rect(0, 72px, 18px, 54px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_reload-button > .toolbarbutton-icon {
	  -moz-image-region: rect(0, 90px, 18px, 72px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_stop-button > .toolbarbutton-icon {
	  -moz-image-region: rect(0, 108px, 18px, 90px);
	}

	#TabsToolbar #ctraddon_appbutton{
	  -moz-appearance: none !important;
	}
	
	#TabsToolbar #ctraddon_appbutton > .toolbarbutton-icon{
	  margin-top: -3px;
	  margin-bottom: -3px;
	}
	
	#TabsToolbar #ctraddon_appbutton[open] image,
	#TabsToolbar #ctraddon_appbutton:hover image{
	  -moz-appearance: none !important;
	  background: none !important;
	  border-color: transparent !important;
	  box-shadow: none !important;
	}
	
	#appmenu-popup #appmenu_newPrivateWindow{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_private_lin.png");
	}
	#appmenu-popup #appmenu_addons{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_addons_lin.png");
	}
	
	/* some Linux versions hide icons */
	.menu-iconic-left {
      visibility: visible !important;
	}
	
	/* ctr addonbar */
	#ctraddon_addon-bar{
	  -moz-appearance: none;
	  padding: 0px !important;
	  margin: 0 0 -1px 0 !important;
	  border-top-style: none;
	  border-bottom-style: none;
	  background-image: linear-gradient(rgba(0,0,0,.15) 1px, rgba(255,255,255,.15) 1px);
	  background-size: 100% 2px;
	  background-repeat: no-repeat;
	}
	#ctraddon_addon-bar .toolbarbutton-1,
	#ctraddon_addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button  {
	  border-style: none !important;
	  padding: 0 3px !important;
	}

	#ctraddon_addon-bar .toolbarbutton-1 .toolbarbutton-icon,
	#ctraddon_addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button .toolbarbutton-icon  {
      margin:-2px 0 !important;
	}

}

.ctraddon_maconly,
.ctraddon_windowsonly{
  visibility: collapse !important;
}

@-moz-document url(chrome://classic_theme_restorer/content/options.xul) {
	#ctraddon_appbutton_list2{
	  visibility: visible !important;
	}

	#ctraddon_pw_menubarnofog,
	#ctraddon_pw_altmenubar,
	#ctraddon_tabs_in_titlebar,
	.ctraddon_winmaconly,
	#ctraddon_appbutton_list1{
	  visibility: collapse !important;
	}
	#ctraddon_pw_okbutton{
	  display: inline !important;
	}

	#ClassicTRoptionsPane #ctraddon_pw_tabMinWidth,
	#ClassicTRoptionsPane #ctraddon_pw_tabMaxWidth{
	  width:70px !important;
	  max-width:90px !important;
	}
}