@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

	#ctraddon_bookmarks-menu-toolbar-button,
	#ctraddon_bookmarks-button{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/bookmarks_linux.png");
	}
	#ctraddon_bookmarks-menu-toolbar-button:-moz-lwtheme-brighttext,
	#ctraddon_bookmarks-button:-moz-lwtheme-brighttext{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/bookmarks-inv.png");
	}

	/* fallback images for non-default theme */
	#ctraddon_history-menu-toolbar-button,
	#ctraddon_history-button {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/history2_mac.png");
	}
	#ctraddon_back-button {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/back2_mac.png");
	}
	#ctraddon_forward-button,
	#ctraddon_go-button {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/forward2_mac.png");
	}
	#ctraddon_stop-button {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/stop2_mac.png");
	}
	#ctraddon_reload-button {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/reload2_mac.png");
	}
	
	#ctraddon_restart-button {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/ctrrestart.png");
	}
	
	/* images for default theme */
	#main-window[defaultfxtheme="true"] :-moz-any(#ctraddon_history-button,#ctraddon_history-menu-toolbar-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button,#ctraddon_go-button) {
	  list-style-image: url("chrome://browser/skin/Toolbar.png");
	}
	
	#main-window[defaultfxtheme="true"] :-moz-any(#ctraddon_history-button,#ctraddon_history-menu-toolbar-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button,#ctraddon_go-button):-moz-lwtheme-brighttext {
	  list-style-image: url("chrome://browser/skin/Toolbar-inverted.png");
	}
	
	#main-window[defaultfxtheme="true"] #ctraddon_history-menu-toolbar-button,
	#main-window[defaultfxtheme="true"] #ctraddon_history-button {
	  -moz-image-region: rect(0, 180px, 18px, 162px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_back-button {
	  -moz-image-region: rect(0, 54px, 18px, 36px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_forward-button,
	#main-window[defaultfxtheme="true"] #ctraddon_go-button {
	  -moz-image-region: rect(0, 72px, 18px, 54px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_reload-button {
	  -moz-image-region: rect(0, 90px, 18px, 72px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_stop-button {
	  -moz-image-region: rect(0, 108px, 18px, 90px);
	}
	
	#main-window[defaultfxtheme="true"] #nav-bar :-moz-any(#ctraddon_appbutton, #ctraddon_history-menu-toolbar-button, #ctraddon_bookmarks-menu-toolbar-button, #ctraddon_bookmarks-menu-toolbar-button,#ctraddon_bookmarks-button,#ctraddon_history-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button,#ctraddon_ctr-button,#ctraddon_go-button,#ctraddon_preferences-button,#ctraddon_restart-button) > .toolbarbutton-icon {
	  padding: 2px 6px !important;
	}
	
	/* prefwindow button clone */
	
	#ctraddon_preferences-button {
	  list-style-image: url("chrome://browser/skin/Toolbar.png");
	}

	toolbar[brighttext] #ctraddon_preferences-button {
	  list-style-image: url(chrome://browser/skin/Toolbar-inverted.png);
	}

	#ctraddon_preferences-button[cui-areatype="toolbar"] {
	  -moz-image-region: rect(0, 468px, 18px, 450px);
	}

	  #ctraddon_preferences-button[cui-areatype="menu-panel"],
	  toolbarpaletteitem[place="palette"] > #ctraddon_preferences-button {
		list-style-image: var(--menupanel-list-style-image);
	  }
	  
	  #ctraddon_preferences-button[cui-areatype="menu-panel"],
	  toolbarpaletteitem[place="palette"] > #ctraddon_preferences-button {
		-moz-image-region: rect(0px, 768px, 32px, 736px);
	  }
	
	/**/

	#TabsToolbar #ctraddon_appbutton{
	  -moz-appearance: none !important;
	}
	
	#TabsToolbar #ctraddon_appbutton > .toolbarbutton-icon{
	  margin-top: -3px;
	  margin-bottom: -3px;
	}
	
	#TabsToolbar #ctraddon_appbutton[open] image,
	#TabsToolbar #ctraddon_appbutton:hover image{
	  -moz-appearance: none !important;
	  background: none !important;
	  border-color: transparent !important;
	  box-shadow: none !important;
	}
	
	#appmenu-popup #appmenu_newPrivateWindow{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_private_lin.png");
	}
	#appmenu-popup #appmenu_addons{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_addons_lin.png");
	}
	
	/* some Linux versions hide icons */
	.menu-iconic-left {
      visibility: visible !important;
	}
	
	/* ctr addonbar */
	#ctraddon_addon-bar{
	  -moz-appearance: none;
	  padding: 0px !important;
	  margin: 0 0 -1px 0 !important;
	  border-top-style: none;
	  border-bottom-style: none;
	  background-image: linear-gradient(rgba(0,0,0,.15) 1px, rgba(255,255,255,.15) 1px);
	  background-size: 100% 2px;
	  background-repeat: no-repeat;
	}
	#ctraddon_addon-bar .toolbarbutton-1,
	#ctraddon_addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button  {
	  border-style: none !important;
	  padding: 0 3px !important;
	}

	#ctraddon_addon-bar .toolbarbutton-1 .toolbarbutton-icon,
	#ctraddon_addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button .toolbarbutton-icon  {
      margin:-2px 0 !important;
	}
	
	/* extraurlbar close button */
	#ctraddon_extraurlbar-close	{
	  -moz-image-region: rect(0, 64px, 16px, 48px);
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close.png");
	}
	
	#main-window:-moz-lwtheme-brighttext #ctraddon_extraurlbar-close{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close2.png");
	}

	#ctraddon_extraurlbar-close:hover,
	#ctraddon_extraurlbar-close:hover[selected="true"] {
	  -moz-image-region: rect(0, 32px, 16px, 16px);
	}

	#ctraddon_extraurlbar-close:hover:active,
	#ctraddon_extraurlbar-close:hover:active[selected="true"] {
	  -moz-image-region: rect(0, 48px, 16px, 32px);
	}

	#ctraddon_extraurlbar-close[selected="true"] {
	  -moz-image-region: rect(0, 16px, 16px, 0);
	}
	
	/* Temporal fix for bug https://bugzilla.mozilla.org/show_bug.cgi?id=1138050 */
	toolbar:not(#nav-bar):not(#TabsToolbar) toolbarbutton[id^="toggle-button-"] .toolbarbutton-badge-container image,
	toolbar:not(#nav-bar):not(#TabsToolbar) toolbarbutton[id^="action-button-"] .toolbarbutton-badge-container image {
	  width: 16px !important;
	  height: 16px !important;
	  padding: 0 !important;
	  margin: 0 !important;
	}

	#main-window .ctraddon_maconly,
	#main-window .ctraddon_windowsonly{
	  visibility: collapse !important;
	}