@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {

	#nav-bar .toolbarbutton-1{
	  padding: 0px !important;
	  margin: 0 1px !important;
	}

	#nav-bar .toolbarbutton-1 .toolbarbutton-icon{
	  padding: 0px !important;
	  margin: 0px !important;
	}
	
	#nav-bar #urlbar-container > #urlbar-wrapper > #urlbar,
	#nav-bar #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  transition: none !important;
	  transition-property:  none !important;
	  transition-delay: 0s !important;
	}
	#nav-bar #urlbar-container > #urlbar-wrapper > #urlbar,
	#nav-bar #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  margin-left: 0px !important;
	}
	
	#main-window #navigator-toolbox #urlbar-wrapper {
	  -moz-box-align: center !important;
	}

	#nav-bar #forward-button[disabled] {
	  transform: unset !important;
	  opacity: unset !important;
	}
	
	#nav-bar #urlbar-container #back-button:not([cui-areatype="menu-panel"]) {
	  -moz-image-region: rect(0, 54px, 18px, 36px) !important;
	}
	
	#navigator-toolbox #nav-bar #bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
	  margin:4px 0 !important;
	  padding:0px 0px !important;
	}

	#navigator-toolbox #nav-bar .toolbarbutton-1[type="menu-button"] .toolbarbutton-menubutton-dropmarker{
	  -moz-margin-start:-2px !important;
	}
	
	#nav-bar #back-button:hover > .toolbarbutton-icon,
	#nav-bar #forward-button:hover > .toolbarbutton-icon{
	  transition-property: none !important;
      transition-duration: 0ms !important;
	}
	
	#nav-bar #notification-popup-box[hidden] + * {
	  -moz-padding-start: 2px !important;
	  transition: none !important;
	}

	#nav-bar #notification-popup-box:not([hidden]) {
	  padding-left:2px !important;
	  padding-right:2px !important;
	  transition: none !important;
	}
	
	#main-window[fx42plus="true"] #nav-bar #notification-popup-box[hidden] + * {
	  -moz-padding-start: 1px !important;
	  -moz-padding-start: 3px !important;
	}

    #nav-bar * .toolbarbutton-icon,
	#nav-bar * {
	  clip-path: none !important;
	}

	#nav-bar #urlbar-container #forward-button[disabled]{
	  visibility: visible !important;
	  opacity: 1.0 !important;
	}

	#main-window[fx31="true"] #nav-bar #urlbar-container #forward-button{
      -moz-margin-start:6px !important;
	}

	#nav-bar #back-button > .toolbarbutton-icon,
	#nav-bar #forward-button > .toolbarbutton-icon {
	  -moz-appearance: none !important;
	  border: 1px solid transparent !important;
	  box-shadow: none !important;
	  background: none !important;
      border-radius: 1.5px !important;
      padding:0px !important;
      margin:0px !important;
      border-image: none !important;
	}
	
	#nav-bar #back-button:not([disabled]):hover > .toolbarbutton-icon{
	  border: 1px solid grey !important;
      border-radius: 2px !important;
      margin:-1px !important;
      background: linear-gradient(hsla(0,0%,100%,.9), hsla(0,0%,100%,.7)) !important;
	}

	#nav-bar #forward-button:not([disabled]):hover > .toolbarbutton-icon{
	  border: 1px solid grey !important;
      border-radius: 2px !important;
      background: linear-gradient(hsla(0,0%,100%,.9), hsla(0,0%,100%,.7)) !important;

	}
	#main-window:not([customizing]) #back-button[disabled] >.toolbarbutton-icon,
	#nav-bar #back-button .toolbarbutton-icon{
	  -moz-appearance: none !important;
	  border: none !important;
      background-clip: unset !important;
      background-image:none !important;
      border-image: none !important;
	  box-shadow: none !important;
	  background: none !important;
      border-radius: 2px !important;
      padding:0px !important;
      margin:0px !important;
	}

	/* urlbar border tweaks */
	#main-window[fx42plus="true"][defaultfxtheme="true"] #urlbar {
	  min-height: 24px;
	}

	#main-window[defaultfxtheme="true"] #nav-bar #urlbar,
	#main-window[defaultfxtheme="true"] #nav-bar .searchbar-textbox {
	  border: 1px solid ThreeDShadow !important;
	}
	#main-window[defaultfxtheme="true"] #nav-bar #urlbar[focused],
	#main-window[defaultfxtheme="true"] #nav-bar .searchbar-textbox[focused] {
	  border-color: Highlight !important;
	}

	/*buttons with SVG images*/
	#nav-bar .toolbarbutton-1[image$="svg"] .toolbarbutton-icon {
	  max-width: 22px !important;
	  max-height: 22px !important;
	  width: auto !important;
	  height: auto !important;
	}

	/*Jetpacks toggle & action buttons support*/
	#nav-bar toolbarbutton[id^="action-button-"] .toolbarbutton-icon,
	#nav-bar toolbarbutton[id^="toggle-button-"] .toolbarbutton-icon {
	  width:16px !important;
	}

	#main-window:not([fx36plus="true"]) #nav-bar toolbarbutton[id^="action-button-"] .toolbarbutton-icon,
	#main-window:not([fx36plus="true"]) #nav-bar toolbarbutton[id^="toggle-button-"] .toolbarbutton-icon {
	  width:18px !important;
	}

	#nav-bar toolbarbutton .toolbarbutton-badge,
	#nav-bar toolbarbutton .toolbarbutton-badge-container,
	#nav-bar toolbarbutton .toolbarbutton-badge-stack {
	  box-shadow: none !important;
	  border: 0 !important;
	  padding: 0 !important;
	  margin: 0 !important;
	}

	#navigator-toolbox #nav-bar toolbarbutton .toolbarbutton-badge-stack {
	  padding-right: 1px !important;
      padding-left: 1px !important;
	  margin-right: 2px !important;
      margin-left: 2px !important;
	}

	#nav-bar toolbarbutton .toolbarbutton-badge-container,
	#nav-bar toolbarbutton .toolbarbutton-badge-stack {
	  background: none !important;
	}
	
	/*Feedly Notifier support*/
	#nav-bar toolbaritem[id="widget:jid1-BOjn8b0IM7kH2w@jetpack-main-widget"] {
      min-width:0px !important;
      width:22px !important;
      min-height:0px !important;
      height:16px !important;
	  padding: 0 !important;
	  margin: 1px !important;
	}

	/* The Fox, only better add-on support*/
	#navigator-toolbox[slimChrome="true"] #nav-bar{
	  padding-bottom:2px !important;
	}
	
	/* Disconnect */
	#nav-bar #disconnect-item #disconnect-badge{
	  margin-top:6px !important;
	}
	
	/* special buttons inside urlbars boxes */
	#urlbar #notification-popup-box + box toolbarbutton,
	#urlbar #notification-popup-box + box toolbarbutton .toolbarbutton-icon,
	#urlbar-icons toolbarbutton[type="menu"],
	#urlbar-icons toolbarbutton[type="menu"] .toolbarbutton-icon {
	  -moz-appearance: none !important;
	  padding-top: unset !important;
	  padding-bottom: unset !important;
	  margin-top: unset !important;
	  margin-bottom: unset !important;
	  border: unset !important;
	  box-shadow: unset !important;
	  background: unset !important;
	}

	/*Tile tabs tweaks*/
	#navigator-toolbox #nav-bar #tiletabs-buttonmenu .toolbarbutton-menubutton-button image {
      margin-right: unset !important;
      padding-right: unset !important;
	  padding: 0 !important;
	  -moz-margin-start: 1px !important;
	}

}