@-moz-document url(about:preferences),url-prefix(about:preferences){
	textbox {
	  -moz-appearance: textfield !important;
	}
	treecol {
	  -moz-appearance: treeheadercell !important;
	  color: black !important;
	}
	@media all and (-moz-windows-classic) {
	  treecol {
		-moz-appearance: button !important;
		color: black !important;
	  }
	}
}

window[subdialog="true"] textbox {
  -moz-appearance: textfield !important;
}
window[subdialog="true"] treecol {
  -moz-appearance: treeheadercell !important;
  color: black !important;
}
@media all and (-moz-windows-classic) {
  window[subdialog="true"] treecol {
	-moz-appearance: button !important;
	color: black !important;
  }
}