@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	#notification-popup-box[hidden] + *:-moz-locale-dir(ltr),
	#notification-popup-box + *:-moz-locale-dir(ltr) {
	  padding-left: 0px !important;
	  transition: none !important;
	}
	#notification-popup-box[hidden] + *:-moz-locale-dir(rtl),
	#notification-popup-box + *:-moz-locale-dir(rtl) {
	  padding-right: 0px !important;
	  transition: none !important;
	}

	/* urlbar border tweaks */
	#urlbar {
	  border: 1px solid ThreeDShadow !important;
	}
	@media (-moz-windows-default-theme) {
	  #urlbar {
		border-color: rgba(0,0,0,.32) !important;
	  }
	}
	#urlbar:-moz-lwtheme {
	  border-color: rgba(0,0,0,.32) !important;
	}
}