@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#urlbar:-moz-locale-dir(ltr) {
	  border-top-left-radius: 2px !important;
	  border-bottom-left-radius: 2px !important;
	}
	#urlbar:-moz-locale-dir(rtl) {
	  border-top-right-radius: 2px !important;
	  border-bottom-right-radius: 2px !important;
	}

}