@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
	
	#ctraddon_BMB_bookmarksPopup menupopup[placespopup=true] > hbox,
	#ctraddon_BMB_bookmarksPopup #ctraddon_BMB_subscribeToPageSubmenuMenupopup {
	  background: var(--panel-arrowcontent-background) !important;
	  border: var(--panel-arrowcontent-border) !important;
	}

	#main-window[fx51plus="true"] #ctraddon_BMB_bookmarksPopup menupopup[placespopup=true] > hbox,
	#main-window[fx51plus="true"] #ctraddon_BMB_bookmarksPopup #ctraddon_BMB_subscribeToPageSubmenuMenupopup {
	  border: 1px solid var(--panel-arrowcontent-border-color) !important;
	}
}