@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	/* Tabs toolbar tab close button (Fx31+) */
	#ctraddon_tabs-closebutton{
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	  -moz-appearance: none !important;
	  border: none !important;
	  padding: 0px !important;
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close.png") !important;
	}
	#ctraddon_tabs-closebutton:hover{
	  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
	}
	#ctraddon_tabs-closebutton:hover:active {
	  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
	}
	
	/* Tab close button */
	.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button {
	  -moz-appearance: none !important;
	  -moz-image-region: rect(0, 64px, 16px, 48px) !important;
	  border: none !important;
	  padding: 0px !important;
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close.png") !important;
	}
	
	.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button:hover,
	.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button:hover[selected="true"] {
	  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
	}
	
	.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button:hover:active,
	.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button:hover:active[selected="true"] {
	  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
	}
	
	.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button[selected="true"] {
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}
	
	/*TabUtilities autoreload extra*/
	.tabbrowser-tab:not([pinned]):not([protected])[autoReload] .tab-close-button:hover,
	.tabbrowser-tab:not([pinned]):not([protected])[autoReload] .tab-close-button:hover[selected="true"] {
	  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
	  border: none !important;
	  padding: 0px !important;
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close.png") !important;
	}

	/* remove gaps before and afer tabs */
	.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
	  -moz-padding-start: 0px !important;
	}

	@media not all and (-moz-windows-classic) {
	
		#TabsToolbar:not([currentset*="tabbrowser-tabs,new-tab-button"]):not([orient="vertical"]) .tabs-newtab-button{
		  -moz-margin-end: 0px !important;
		}
		#TabsToolbar:not([currentset*="tabbrowser-tabs,new-tab-button"]):not([orient="vertical"]) #tabbrowser-tabs:not([overflow]) {
		  -moz-margin-end: -15px !important;
		}
	
	}
	
	#TabsToolbar[currentset*="tabbrowser-tabs,search-container"]:not([orient="vertical"]) #tabbrowser-tabs:not([overflow]),
	#TabsToolbar[currentset*="tabbrowser-tabs,urlbar-container"]:not([orient="vertical"]) #tabbrowser-tabs:not([overflow]) {
	  -moz-margin-end: -15px !important;
	}

	#titlebar-placeholder-on-TabsToolbar-for-captions-buttons{
	  -moz-margin-start: 0px !important;
	}

	/* TU workaround */
	#PinnedTabsBarItems {
	  -moz-margin-start:-15px !important;
	  -moz-margin-end:0px !important;
	}
	#tabbrowser-tabs[overflow] #PinnedTabsBarItems {
	  -moz-margin-end:-15px !important;
	}
	/**/
	
	/* tab colors */
	.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme){
	  background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.4) 50%),
						linear-gradient(-moz-dialog, -moz-dialog);
	}
	.tabbrowser-tab[selected="true"]:-moz-lwtheme{
	  background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.4) 50%);
	}
	
	.tabbrowser-tab:not([selected="true"]):not(:hover):not(:-moz-lwtheme) {
	  background-image: linear-gradient(transparent,transparent) !important;
	}
	
	.tabbrowser-tab:not([selected="true"]):hover:not(:-moz-lwtheme) {
	  background-image: linear-gradient(transparent,transparent) !important;
	}
	
	.tabs-newtab-button:not(:-moz-lwtheme) {
	  background-image: linear-gradient(transparent,transparent) !important;
	}
	
	.tabs-newtab-button:hover:not(:-moz-lwtheme) {
	  background-image: linear-gradient(transparent,transparent) !important;
	}

	.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):not(:-moz-lwtheme){
	  background-size: 100% 100% !important;
	  background-image: none;
	}

}
