@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	#titlebar-placeholder-on-TabsToolbar-for-captions-buttons{
	  -moz-margin-start: 0px !important;
	}
	
	.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):not(:hover) .tab-stack .tab-background-middle,
	.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):not(:hover) .tab-background-start,
	.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):not(:hover) .tab-background-end {
	  background-image: linear-gradient(to top, rgba(10%,10%,10%,.4) 1px, transparent 1px), linear-gradient(transparent, transparent 2px, hsla(0,0%,45%,.1) 1px, hsla(0,0%,32%,.2) 80%, hsla(0,0%,0%,.2)),linear-gradient(transparent, transparent 2px, -moz-dialog 0px, -moz-dialog), none !important;
	}
	
	.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):hover .tab-stack .tab-background-middle,
	.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):hover .tab-background-start,
	.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):hover .tab-background-end {
	  background-image: linear-gradient(to top, rgba(10%,10%,10%,.4) 1px, transparent 1px), linear-gradient(transparent, transparent 2px, hsla(0,0%,100%,.3) 1px, hsla(0,0%,75%,.2) 80%, hsla(0,0%,60%,.2)), linear-gradient(transparent, transparent 2px, -moz-dialog 0px, -moz-dialog), none !important;
	}

	.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):not(:hover),
	.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):hover{
	  color: black !important;
	}
	
	.tabs-newtab-button:not(:-moz-lwtheme),
	#TabsToolbar > #new-tab-button:not(:-moz-lwtheme) {
	  list-style-image: url(chrome://browser/skin/tabbrowser/newtab.png) !important;
	}
	
	.tabs-newtab-button	{
	  z-index: 0 !important;
	}
	
	/* Tab close button */
	.tab-close-button {
	  -moz-appearance: none !important;
	  -moz-image-region: rect(0, 64px, 16px, 48px) !important;
	  border: none !important;
	  padding: 0px !important;
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close.png") !important;
	}

	.tab-close-button:hover,
	.tab-close-button:hover[selected="true"] {
	  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
	}

	.tab-close-button:hover:active,
	.tab-close-button:hover:active[selected="true"] {
	  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
	}

	.tab-close-button[selected="true"] {
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}

}