@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#ctraddon_bookmarks-menu-toolbar-button,
	#ctraddon_bookmarks-button{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/bookmarks_linux.png");
	}
	
	#ctraddon_bookmarks-menu-toolbar-button:-moz-lwtheme-brighttext,
	#ctraddon_bookmarks-button:-moz-lwtheme-brighttext{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/bookmarks-inv.png");
	}

	/* fallback images for non-default theme */
	#ctraddon_history-menu-toolbar-button,
	#ctraddon_history-button {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/history2_mac.png");
	}
	#ctraddon_back-button {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/back2_mac.png");
	}
	#ctraddon_forward-button,
	#ctraddon_go-button {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/forward2_mac.png");
	}
	#ctraddon_stop-button {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/stop2_mac.png");
	}
	#ctraddon_reload-button {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/reload2_mac.png");
	}
	
	/* images for default theme */
	#main-window[defaultfxtheme="true"] :-moz-any(#ctraddon_history-button,#ctraddon_history-menu-toolbar-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button,#ctraddon_go-button) {
	  list-style-image: url("chrome://browser/skin/Toolbar.png");
	}
	
	#main-window[defaultfxtheme="true"] :-moz-any(#ctraddon_history-button,#ctraddon_history-menu-toolbar-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button,#ctraddon_go-button):-moz-lwtheme-brighttext {
	  list-style-image: url("chrome://browser/skin/Toolbar-inverted.png");
	}
	
	#main-window[defaultfxtheme="true"] #ctraddon_history-menu-toolbar-button,
	#main-window[defaultfxtheme="true"] #ctraddon_history-button {
	  -moz-image-region: rect(0, 180px, 18px, 162px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_back-button {
	  -moz-image-region: rect(0, 54px, 18px, 36px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_forward-button,
	#main-window[defaultfxtheme="true"] #ctraddon_go-button {
	  -moz-image-region: rect(0, 72px, 18px, 54px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_reload-button {
	  -moz-image-region: rect(0, 90px, 18px, 72px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_stop-button {
	  -moz-image-region: rect(0, 108px, 18px, 90px);
	}

	#main-window[defaultfxtheme="true"] #nav-bar :-moz-any(#ctraddon_bookmarks-button,#ctraddon_history-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button,#ctraddon_ctr-button,#ctraddon_go-button) > .toolbarbutton-icon{
	  padding: 2px 6px !important;
	}

	#main-window[defaultfxtheme="true"] #nav-bar #ctraddon_appbutton > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] #nav-bar #ctraddon_history-menu-toolbar-button > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] #nav-bar #ctraddon_bookmarks-menu-toolbar-button > .toolbarbutton-icon {
	  padding-top: 2px !important;
	  padding-bottom: 2px !important;	
	  -moz-padding-start: 6px !important;
	  -moz-padding-end: 14px !important;
	}
	
	@media (min-resolution: 1.1dppx) {
		#main-window[defaultfxtheme="true"][fx40plus="true"] :-moz-any(#ctraddon_history-button,#ctraddon_history-menu-toolbar-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button,#ctraddon_go-button) {
		  list-style-image: url("chrome://browser/skin/Toolbar@2x.png");
		}
		
		#main-window[defaultfxtheme="true"][fx40plus="true"] :-moz-any(#ctraddon_history-button,#ctraddon_history-menu-toolbar-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button,#ctraddon_go-button):-moz-lwtheme-brighttext {
		  list-style-image: url("chrome://browser/skin/Toolbar-inverted@2x.png");
		}
		#main-window[defaultfxtheme="true"][fx40plus="true"] #ctraddon_history-menu-toolbar-button,
		#main-window[defaultfxtheme="true"][fx40plus="true"] #ctraddon_history-button {
		  -moz-image-region: rect(0, 360px, 36px, 324px);
		}
		#main-window[defaultfxtheme="true"][fx40plus="true"] #ctraddon_back-button {
		  -moz-image-region: rect(0, 108px, 36px, 72px);
		}
		#main-window[defaultfxtheme="true"][fx40plus="true"] #ctraddon_forward-button,
		#main-window[defaultfxtheme="true"][fx40plus="true"] #ctraddon_go-button {
		  -moz-image-region: rect(0, 144px, 36px, 108px);
		}
		#main-window[defaultfxtheme="true"][fx40plus="true"] #ctraddon_reload-button {
		  -moz-image-region: rect(0, 180px, 36px, 144px);
		}
		#main-window[defaultfxtheme="true"][fx40plus="true"] #ctraddon_stop-button {
		  -moz-image-region: rect(0, 216px, 36px, 180px);
		}
		#main-window[defaultfxtheme="true"][fx40plus="true"] #nav-bar :-moz-any(#ctraddon_history-button,#ctraddon_history-menu-toolbar-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button,#ctraddon_go-button) .toolbarbutton-icon {
		  width: 32px !important;
		  height: 24px !important;
		}
		#main-window[defaultfxtheme="true"][fx40plus="true"] :-moz-any(#ctraddon_history-button,#ctraddon_history-menu-toolbar-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button,#ctraddon_go-button) .toolbarbutton-icon {
		  width: 18px !important;
		  height: 18px !important;
		}
	}

	#PanelUI-menu-button{
		margin: 0px !important;
	}

	#nav-bar #ctraddon_bookmarks-menu-toolbar-button  > .toolbarbutton-icon{
	  padding-top: 2px;
	  padding-bottom: 2px;
	}
	
	#appmenu-popup #appmenu_newPrivateWindow{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_private_xp.png");
	}
	#appmenu-popup #appmenu_addons{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_addons_xp.png");
	}

	/* style appmenu */
	#appmenu-popup{
		-moz-appearance:none;
		box-shadow:none;
		border:1px solid #a0a0a0;
	}
	
	@media (-moz-windows-default-theme) {
	  #main-window[defaultfxtheme="true"] #appmenu-popup {
		-moz-appearance: none;
		background: white;
		border: 1px solid ThreeDShadow;
	  }
	  #main-window[defaultfxtheme="true"] #appmenuPrimaryPane {
		background-color: rgba(255,255,255,0.5);
		padding: 2px;
		-moz-border-end: none;
	  }
	  #main-window[defaultfxtheme="true"] #appmenuSecondaryPane {
		background-color: #f1f5fb;
		box-shadow: 1px 0 2px rgb(204,214,234) inset;
		-moz-padding-start: 3px;
		-moz-padding-end: 2px;
		padding-top: 2px;
		padding-bottom: 2px;
		font-family: "Segoe UI Semibold", "Segoe UI", sans-serif;
	  }
	  #main-window[defaultfxtheme="true"] #appmenuSecondaryPane:-moz-locale-dir(rtl) {
		box-shadow: -1px 0 2px rgb(204,214,234) inset;
	  }

	  #main-window[defaultfxtheme="true"] #appmenuSecondaryPane menupopup {
		-moz-appearance: none;
		background-color: #f1f5fb;
		border: 1px solid ThreeDShadow;
		padding: 2px;
	  }

	  #main-window[defaultfxtheme="true"] #appmenuPrimaryPane > menuseparator {
		-moz-appearance: none;
		margin-top: 3px;
		margin-bottom: 3px;
		-moz-margin-start: calc(1.45em + 4px);
		padding: 0;
		border-top: 1px solid #d6e5f5;
		border-bottom: none;
	  }

	}
	
	#appmenu-edit-label,
	#appmenu-edit-label:hover{
	  -moz-appearance: none !important;
	  margin-left: 2px !important;
	}
	
	@media all and (-moz-windows-classic) {
	
		#appmenuSecondaryPane{
		  border-left: 1px solid !important;
		}
	}
	
	#main-window[sizemode="maximized"] #TabsToolbar #ctraddon_appbutton{
	  margin-top:0px !important;
	}
	
	/* CTR addons-bar */
	#main-window[defaultfxtheme="true"] #ctraddon_addon-bar:not(:-moz-lwtheme) {
	  border-top: 1px solid rgba(0,0,0,.15) !important;
	}
	
	#ctraddon_addon-bar {
	  min-height: 20px;
	}
	
	#ctraddon_addon-bar toolbarbutton {
	  -moz-appearance: none;
	  border: none;
	  margin-top: 0px;
	  margin-bottom: 0px;
	  padding-top: 1px;
	  padding-bottom: 1px;
	}

	#ctraddon_addon-bar toolbaritem{
	  margin-top: 0px;
	  margin-bottom: 0px;
	  padding-top: 0px;
	  padding-bottom: 0px;
	}
	
	#ctraddon_addon-bar toolbaritem[id^="widget"]{
	  -moz-appearance: none !important;
	}

	#ctraddon_addon-bar .toolbarbutton-1:not([disabled]):hover,
	#ctraddon_addon-bar .toolbarbutton-1[open],
	#ctraddon_addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover {
	  background-image: linear-gradient(to top, transparent, rgba(0,0,0,.15)),
						linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%),
						linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%);
	  background-position: left, left, right;
	  background-size: auto, 1px 100%, 1px 100%;
	  background-repeat: no-repeat;
	}
	#ctraddon_addon-bar .toolbarbutton-1,
	#ctraddon_addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button  {
	  -moz-appearance: none;
	  border-style: none;
	}
	
	/* addon-bar close button */
	#ctraddon_addon-bar #ctraddon_addonbar-close	{
	  -moz-appearance: none !important;
	  -moz-image-region: rect(0, 64px, 16px, 48px);
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close.png");
	  background: none !important;
	  border-color: transparent !important;
	  box-shadow: none !important;
	}
	
	#ctraddon_addon-bar:-moz-lwtheme-brighttext #ctraddon_addonbar-close{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close2.png");
	}

	#ctraddon_addon-bar #ctraddon_addonbar-close:hover,
	#ctraddon_addon-bar #ctraddon_addonbar-close:hover[selected="true"] {
	  -moz-image-region: rect(0, 32px, 16px, 16px);
	}

	#ctraddon_addon-bar #ctraddon_addonbar-close:hover:active,
	#ctraddon_addon-bar #ctraddon_addonbar-close:hover:active[selected="true"] {
	  -moz-image-region: rect(0, 48px, 16px, 32px);
	}

	#ctraddon_addon-bar #ctraddon_addonbar-close[selected="true"] {
	  -moz-image-region: rect(0, 16px, 16px, 0);
	}
	
	/* fix recent icon stretching*/
    #nav-bar .toolbarbutton-1:not([type=menu-button]),
    #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
    #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
     -moz-box-align: center !important;
    }
	
}

.ctraddon_nonwindows,
.ctraddon_linuxonly,
.ctraddon_maconly{
  visibility: collapse !important;
}

@-moz-document url(chrome://classic_theme_restorer/content/options.xul) {
	#ctraddon_pw_noresizerxp,
	#ctraddon_appbutton_list1{
	  visibility: visible !important;
	}
	#ctraddon_pw_menubarnofog,
	#ctraddon_pw_altmenubar,
	#ctraddon_appbutton_list2{
	  visibility: collapse !important;
	  display:none !important;
	}
	#ctraddon_pw_okbutton{
	  display: inline !important;
	}
	#ctraddon_pw_starinurl label{
	  background:url('chrome://classic_theme_restorer/content/images/appmenu_bookmarks.png') no-repeat left !important;
	  -moz-padding-start:20px !important;
	  min-height:16px !important;
	}
	#ctraddon_pw_feedinurl label{
	  background:url('chrome://classic_theme_restorer/content/images/feedinurlbar.png') no-repeat left !important;
	  -moz-padding-start:20px !important;
	  min-height:16px !important;
	}
}