@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#ClassicTRoptionsPane .ctraddon_nonwindows,
#ClassicTRoptionsPane .ctraddon_linuxonly,
#ClassicTRoptionsPane .ctraddon_maconly{
  visibility: collapse !important;
}

#ctraddon_pw_noresizerxp,
#ctraddon_appbutton_list1{
  visibility: visible !important;
}
#ctraddon_pw_menubarnofog,
#ctraddon_pw_altmenubar,
#ctraddon_appbutton_list2{
  visibility: collapse !important;
  display:none !important;
}
#ctraddon_pw_okbutton{
  display: inline !important;
}
#ctraddon_pw_starinurl label{
  background:url('chrome://classic_theme_restorer/content/images/appmenu_bookmarks.png') no-repeat left !important;
  -moz-padding-start:20px !important;
  min-height:16px !important;
}
#ctraddon_pw_feedinurl label{
  background:url('chrome://classic_theme_restorer/content/images/feedinurlbar.png') no-repeat left !important;
  -moz-padding-start:20px !important;
  min-height:16px !important;
}