@import url(chrome://ctraddon_os_special/skin/overlayextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#main-window {
	  min-width: 300px !important;
	}
	
	.ctrprefs{
	  -moz-margin-start:26px !important;
	}

	#ctraddon_puib_separator{
	  min-width:5px;
	  width:5px;
	  background: url("chrome://classic_theme_restorer/content/images/separator2.png") center no-repeat;
	}
	
	#ctraddon_puib_separator[cui-areatype="menu-panel"]{
	  width:260px !important;
	  min-height:0px !important;
	  margin-right: 2px !important;
	  margin-left: 2px !important;
	  border-top:1px solid rgba(0,0,0,.0) !important;
	  border-bottom:1px solid rgba(0,0,0,.5) !important;
	}
	
	#ctraddon_placesContext_openInPrivatewindow,
	#ctraddon_connavsep {
	  visibility:collapse;
	}

	/* PanelUI-CTR-button */
	#ctraddon_PanelUI-CTR-button,
	#ctraddon_PanelUI-CTR-button-separator{
	  visibility: collapse;
	}
	
	#ctraddon_PanelUI-CTR-button {
	  margin: 0;
	  padding: 11px 0;
	  box-sizing: border-box;
	  min-height: 40px;
	  -moz-appearance: none;
	  box-shadow: none;
	  border: none;  
	  border-radius: 0;
	  transition: background-color;
	  -moz-box-orient: horizontal;
	}

	#ctraddon_PanelUI-CTR-button > .toolbarbutton-text {
	  display: none;
	}
	#ctraddon_PanelUI-CTR-button > .toolbarbutton-icon {
	  -moz-margin-end: 0;
	}
	#ctraddon_PanelUI-CTR-button:not([disabled]):hover{
	  outline: 1px solid hsla(210,4%,10%,.07);
	  background-color: hsla(210,4%,10%,.07);
	}
	#ctraddon_PanelUI-CTR-button:not([disabled]):hover:active {
	  outline: 1px solid hsla(210,4%,10%,.12);
	  background-color: hsla(210,4%,10%,.12);
	  box-shadow: 0 1px 0 hsla(210,4%,10%,.05) inset;
	}
	
	/* CTRs Back-forward dropmarker */
	#ctraddon_back-forward-dropmarker {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/toolbarbutton-dropdown-arrow.png");
	}

	#ctraddon_back-forward-dropmarker:-moz-lwtheme-brighttext {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/toolbarbutton-dropdown-arrow-inverted.png");
	}
	#ctraddon_back-forward-dropmarker > .toolbarbutton-icon {
	  padding-left: 0px !important;
	  padding-right: 0px !important;
	}
	#ctraddon_back-forward-dropmarker dropmarker {
	  visibility: collapse !important;
	}

	#main-window #navigator-toolbox #nav-bar[currentset*="ctraddon_back-forward-button,ctraddon_back-forward-dropmarker"]:not([customizing]) #ctraddon_back-forward-dropmarker {
	  -moz-margin-start: -6px;
	}

	#customization-palette #ctraddon_back-forward-dropmarker image{
	  background:url("chrome://browser/skin/toolbarbutton-dropdown-arrow.png") center center no-repeat !important;
	  list-style-image:none !important;
	}
	
	/* Tabs Toolbar - close tab button */
	#ctraddon_tabs-closebutton{
	  visibility: collapse;
	}
	
	/*toolbar dummy */
	#ctraddon_toolbar_dummy{
	  -moz-appearance: none !important;
	  -moz-box-ordinal-group: 999999 !important;
	  visibility:hidden !important;
	}
	
	/* ctr addonbar */
	#ctraddon_addon-bar {
	  -moz-appearance: none !important;
	  -moz-box-ordinal-group: 100 !important;
	  border: 0px !important;
	}

	/* addon-bar close button */
	#ctraddon_addon-bar #ctraddon_addonbar-close image {
	  width: 16px !important;
	  height: 16px !important;
	}
	
	/* custom bookmarks-menu-toolbar-button */
	#PersonalToolbar #ctraddon_bookmarks-menu-toolbar-button .toolbarbutton-text {
	  display: -moz-box !important;
	}
	#PersonalToolbar #ctraddon_bookmarks-menu-toolbar-button dropmarker,
	#PersonalToolbar #ctraddon_history-menu-toolbar-button dropmarker {
	  visibility: collapse !important;
	}
	#ctraddon_bookmarks-menu-toolbar-button .toolbarbutton-menubutton-button,
	#ctraddon_bookmarks-menu-toolbar-button.toolbarbutton-1 {
	  -moz-box-orient: horizontal !important;
	}
	#ctraddon_history-menu-toolbar-button .toolbarbutton-menubutton-button,
	#ctraddon_history-menu-toolbar-button.toolbarbutton-1 {
	  -moz-box-orient: horizontal !important;
	}
	
	/* appbutton menu on toolbars */
	#ctraddon_appbutton > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/appbutton.png");
	}
	
	#nav-bar #ctraddon_appbutton > .toolbarbutton-icon{
	  margin-left: -3px;
	  margin-right: -3px;
	}
	
	* #ctraddon_appbutton dropmarker,
	* #ctraddon_appbutton > .toolbarbutton-menu-dropmarker,
	* #ctraddon_appbutton > .toolbarbutton-menubutton-dropmarker{
	  list-style-image: none !important;
	  display: none !important;
	  visibility:collapse !important;
	}

	/* style appbutton*/
	#TabsToolbar #ctraddon_appbutton{
	  -moz-appearance:none !important;
	  border:1px solid;
	  border-color:hsla(214,89%,21%,.5);
	  border-radius:2.5px 2.5px 0px 0px;
	  margin-top:1px;
	  margin-bottom:1px;
	}

	#TabsToolbar #ctraddon_appbutton {
	  border-radius: 2.5px 2.5px 0 0;
	}
	
	#appmenu-popup #appmenu_print_popup,
	#appmenu-popup #appmenu_print{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_print.png");
	}
	#appmenu-popup #appmenu-quit{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_close.png");
	}
	#appmenu-popup #appmenu_bookmarks{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_bookmarks.png");
	}
	#appmenu-popup #appmenu-editmenu-cut,
	#appmenu-popup #appmenu-cut{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_cut.png");
	}
	#appmenu-popup #appmenu-editmenu-copy,
	#appmenu-popup #appmenu-copy{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_copy.png");
	}
	#appmenu-popup #appmenu-editmenu-paste,
	#appmenu-popup #appmenu-paste{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_paste.png");
	}
	#ctraddon_ctr-button,
	#ctraddon_PanelUI-CTR-button,
	#ctraddon_context_menu_entry,
	#ctraddon_tools_menu_entry,
	#appmenu-popup #ctraddon_appmenu_ctr,
	#appmenu-popup #ctraddon_appmenu_ctr2{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_ctr.png");
	}

	#appmenu-edit-label,
	#appmenu-edit-label:hover{
	  font-style: italic;
	  background: transparent;
	  border-color: transparent;
	}
	
	#appmenu-popup #appmenu_addons{
	  margin-top: 12px;
	}
	
	#appmenu-popup #appmenu-editmenu{
	  margin-top: 2px;
	  margin-bottom: 2px;
	}
	
	#main-window:not([fx31="true"]) #appmenu_eyedropper {
	  display: none !important;
	}

	/* remove empty appmenu menu button labels */
	#appmenu-popup  > hbox > vbox > hbox > menu > .menu-iconic-left,
	#appmenu-popup > hbox > vbox > hbox > menu label {
	  visibility: collapse;
	}
	#main-window[defaultfxtheme="true"]  #appmenu-popup  > hbox > vbox > hbox > menu > .menu-right {
	  -moz-margin-start: 0px;
	}
	#main-window[defaultfxtheme="true"][fx31="true"]  #appmenu-popup  > hbox > vbox > hbox > menu > .menu-right {
	  -moz-margin-start: 8px;
	}
	/* make sure submenu labels stay */
	#appmenu-popup > hbox > vbox > hbox > menu > menupopup label{
	  visibility: visible;
	}
	
	/* appmenu: reduce visibility of disabled cut, copy, paste buttons */
	#appmenu-cut[disabled],
	#appmenu-copy[disabled],
	#appmenu-paste[disabled]{
	  opacity: .3 !important;
	}
	
	/* hide buttons */
	toolbar #ctraddon_appbutton,
	panel #ctraddon_appbutton,
	#ctraddon_appbutton2,
	toolbar #ctraddon_back-forward-button,
	panel #ctraddon_back-forward-button,
	#main-window:not([customizing]) #ctraddon_window-controls{
	  visibility: collapse;
	}

	#customization-palette #ctraddon_window-controls #minimize-button,
	#customization-palette #ctraddon_window-controls #restore-button,
	#customization-palette #ctraddon_window-controls #close-button{
	  background:none;
	  list-style-image:none;
	  min-width:0px;
	  width:0px;
	  max-width:0px;
	}
	
	/* palette items */
	#customization-palette #ctraddon_back-forward-dropmarker {
	  background:url("chrome://classic_theme_restorer/content/images/toolbarbutton-dropdown-arrow.png") center no-repeat;
	}
	
	#customization-palette #ctraddon_window-controls{
	  background: url("chrome://classic_theme_restorer/content/images/windowControls.png") center no-repeat;
	  border:none;
	  min-width:100px;
	}
	
	#customization-palette #ctraddon_back-forward-button{
	  background:url("chrome://classic_theme_restorer/content/images/back-forward.png") center no-repeat;
	  border:none;
	  min-width:100px;
	  width:100px;
	  max-width:100px;
	  min-height:0px;
	  height:50px;
	}
	
	#customization-palette #ctraddon_back-forward-button #ctraddon_back-button,
	#customization-palette #ctraddon_back-forward-button #ctraddon_forward-button{
	  visibility:collapse;
	}

	#ctraddon_appbutton[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_appbutton > .toolbarbutton-icon{
	  list-style-image: url(chrome://classic_theme_restorer/content/images/appbutton_menuPanel.png);
	}
	
	#ctraddon_panelui-button[cui-areatype="menu-panel"] #PanelUI-menu-button > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_panelui-button {
	  background: -moz-image-rect(url("chrome://classic_theme_restorer/content/images/menuPanel2.png"),
					0, 32, 32, 0) center no-repeat;
	  border:none;
	}
	
	#ctraddon_panelui-button[cui-areatype="menu-panel"] #PanelUI-menu-button > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_panelui-button #PanelUI-menu-button > .toolbarbutton-icon{
	  list-style-image: none !important;
	}
	
	#main-window[defaultfxtheme="true"] #ctraddon_stop-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] toolbarpaletteitem[place="palette"] > #ctraddon_stop-button > .toolbarbutton-icon,
	#ctraddon_stop-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_stop-button > .toolbarbutton-icon {
	  -moz-image-region: rect(0px, 96px, 32px, 64px);
	  list-style-image: url(chrome://browser/skin/menuPanel.png);
	}

	#main-window[defaultfxtheme="true"] #ctraddon_reload-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] toolbarpaletteitem[place="palette"] > #ctraddon_reload-button > .toolbarbutton-icon,
	#ctraddon_reload-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_reload-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 64px, 32px, 32px);
	  list-style-image: url(chrome://browser/skin/menuPanel.png);
	}

	#main-window[defaultfxtheme="true"] #ctraddon_go-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] toolbarpaletteitem[place="palette"] > #ctraddon_go-button > .toolbarbutton-icon,
	#ctraddon_go-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_go-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 96px, 32px, 64px);
	  list-style-image: url(chrome://classic_theme_restorer/content/images/menuPanel3.png);
	}

	#main-window[defaultfxtheme="true"] #ctraddon_history-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] toolbarpaletteitem[place="palette"] > #ctraddon_history-button > .toolbarbutton-icon,
	#ctraddon_history-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_history-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 32px, 32px, 0);
	  list-style-image: url(chrome://classic_theme_restorer/content/images/history_sidebar.png);
	}
	
	#main-window[defaultfxtheme="true"] #ctraddon_history-menu-toolbar-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] toolbarpaletteitem[place="palette"] > #ctraddon_history-menu-toolbar-button > .toolbarbutton-icon,
	#ctraddon_history-menu-toolbar-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_history-menu-toolbar-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 32px, 32px, 0);
	  list-style-image: url(chrome://classic_theme_restorer/content/images/history_menu.png);
	}

	#ctraddon_bookmarks-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_bookmarks-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 32px, 32px, 0);
	  list-style-image: url(chrome://classic_theme_restorer/content/images/bookmarks_sidebar.png);
	}
	
	#ctraddon_bookmarks-menu-toolbar-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_bookmarks-menu-toolbar-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 32px, 32px, 0);
	  list-style-image: url(chrome://classic_theme_restorer/content/images/bookmarks_menu.png);
	}
	
	#ctraddon_bookmarks-menu-toolbar-button[cui-areatype="menu-panel"]  dropmarker,
	toolbarpaletteitem[place="palette"] > #ctraddon_bookmarks-menu-toolbar-button  dropmarker,
	#ctraddon_history-menu-toolbar-button[cui-areatype="menu-panel"]  dropmarker,
	toolbarpaletteitem[place="palette"] > #ctraddon_history-menu-toolbar-button  dropmarker{
	  visibility:collapse;
	}
	#ctraddon_bookmarks-menu-toolbar-button[cui-areatype="menu-panel"],
	#ctraddon_history-menu-toolbar-button[cui-areatype="menu-panel"] {
      -moz-box-orient: vertical !important;
	}
	
	#ctraddon_ctr-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_ctr-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 32px, 32px, 0);
	  list-style-image: url(chrome://classic_theme_restorer/content/images/palette_ctr.png);
	}
	
	/* CTRs activity throbber */
	#ctraddon_navigator-throbber {
	  background:url("chrome://classic_theme_restorer/content/images/throbber_notloading.png") center no-repeat;
	}
	#ctraddon_navigator-throbber[busy] {
	  background:url("chrome://classic_theme_restorer/content/images/throbber_loading.png") center no-repeat;
	}
	toolbar #ctraddon_navigator-throbber{
	  width: 16px;
	  min-height: 16px;
	  margin: 0 3px;
	}
	#ctraddon_navigator-throbber[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #ctraddon_navigator-throbber{
	  background:url("chrome://classic_theme_restorer/content/images/throbber_palette.png") center no-repeat;
	  border:none;
	  min-width:100px;
	  width:100px;
	  max-width:100px;
	  min-height:0px;
	  height:50px;
	}
	#ctraddon_navigator-throbber[cui-areatype="menu-panel"]{
	  margin-top:-30px !important;
	}
	
	/* show missing icon */
	#main-window[defaultfxtheme="true"] #appmenu_unsortedBookmarks,
	#main-window[defaultfxtheme="true"] #ctraddon_BMB_unsortedBookmarks {
	  list-style-image: url("chrome://browser/skin/places/unsortedBookmarks.png");
	  -moz-image-region: auto;
	}
	
	/* fix ui tour popup position for ctrs panel ui button */
	#UITourTooltip {
	  -moz-margin-end:0px !important;
	}
	
	/* adjust panel menu button on nav-bar */
	#main-window[defaultfxtheme="true"] #nav-bar #PanelUI-menu-button {
	  -moz-padding-start: 2px !important;
	  -moz-padding-end: 2px !important;
	}
	
	/*temporal fix*/
	#fireproxy-toolbaritem-menulist-proxytype .menulist-dropmarker{
	  background:none !important;
	}
	
	/* Multirow Bookmarks Toolbar Plus v1.2 glitch fix */
	#browser-bottombox #ctraddon_addon-bar:not([collapsed="true"]):not([hidden="true"])~#multibmtoolbar-showbar {
	  visibility: hidden !important;
	}
	
	/* Disconnect */
	#ctraddon_addon-bar #disconnect-item #disconnect-badge{
	  margin-top:4px !important;
	}
	
	/* hide unsupported menuitems items */
	#main-window:not([fx34plus="true"]) #appmenu_webide,
	#main-window[fx34plus="true"] #appmenu_devAppMgr,
	#main-window:not([fx38plus="true"]) #appmenu_BMB_readingList,
	#main-window:not([fx38plus="true"]) #ctraddon_BMB_readingList {
	  visibility: collapse !important;
	}
	
	/*iconize some menu items*/
	#appmenu_BMB_readingList,
	#ctraddon_BMB_readingList {
	  list-style-image: url("chrome://browser/skin/readinglist/readinglist-icon.svg");
	  -moz-image-region: auto;
	}
	
	#ctraddon_BMB_bookmarksToolbar {
	  list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png");
	  -moz-image-region: auto;
	}
	
	/* CTRs additional urlbar */
	#ctr_extraurlbar_button {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/extraulbar_go.png");
	  opacity: 0.8;
	}
	#ctr_extraurlbar_button:hover {
	  opacity: 1.0;
	}
	#ctr_extraurlbar_button,
	#ctraddon_extraurlbar-close{
	  -moz-appearance: none !important;
	  background: none !important;
	  border: 0 !important;
	  min-width: 0px !important;
	}

}

/* style/hide settings on CTRs options window */
@-moz-document url(chrome://classic_theme_restorer/content/options.xul) {
	#ctraddon_pw_noresizerxp,
	#ctraddon_combrelstopinfo,
	#ctraddon_appbutton_list1,
	#ctraddon_appbutton_list2{
	  visibility: collapse;
	}
	.ctraddon_tabcolorlabel,
	.ctraddon_font1{
	  font-weight:bold;
	  font-style:italic;
	}
	.ctraddon_topic{
	  font-weight:bold;
	}
	.ctraddon_font2{
	  font-style:italic;
	}
	
	.tabcolorbox,
	.tabhovcolorbox,
	.tabpencolorbox,
	.tabunrcolorbox,
	.ntabcolorbox,
	.ntabhovcolorbox,
	#ntabcolorbox,
	#ntabhovcolorbox,
	#ClassicTRoptionsPane[defaultfxtheme="true"] #ctraddon_pw_colors_ntab_t,
	#ctraddon_pw_tabs_devtabs{
	  visibility: collapse;
	}
	
	#ctraddon_ccap_t_squared,
	#ctraddon_ccap_t_squaredc2,
	#ctraddon_ccap_t_squared2,
	#ctraddon_ccap_t_curved,
	#ctraddon_ccap_t_curvedaero{
	  visibility: collapse;
	}
	
	#ctraddon_fontbox textbox {
	  min-width: 50px !important;
	  width: 122px !important;
	  max-width: 122px !important;
	}
	
	#ctraddon_pw_tab_ctabheight,
	#ctraddon_pw_tabMinWidth,
	#ctraddon_pw_tabMaxWidth,
	#ctraddon_pw_tabClipWidth{
	  width:60px !important;
	  max-width:80px !important;
	}
	
	#ctraddon_pw_nbisizedelay,
	#ctraddon_pw_am_extrabars{
	  width:50px !important;
	}
	
	@media not all and (-moz-windows-theme:aero) {
	  #tabs_curvedall{
		visibility: collapse;
		display:none;
	  }
	}
	
	.ctraddontabs, .ctraddontabpanel{
	  border: 1px solid;
	}
	
	.ctraddonsuboption{
	  -moz-padding-start:21px;
	}
	.ctraddonsuboption2{
	  -moz-padding-start:39px;
	}
	
	#ClassicTRoptionsPane[defaultfxtheme="true"] .ctraddontabs{
	  -moz-appearance: listbox;
	  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
	  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
	  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
	  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
	  background: -moz-Field;
	  color: -moz-FieldText;
	  border: 2px solid;
	}
	
	#ClassicTRoptionsPane[defaultfxtheme="true"] .ctraddontabpanel{
	  -moz-appearance: none;
	  background: -moz-dialog;
	  color: -moz-FieldText;
	  border: 0px solid;
	}
	
	@media all and (-moz-windows-classic) {
	  #ClassicTRoptionsPane[defaultfxtheme="true"] .ctraddontabpanel{
		border: 1px solid;
	  }
	}
	
	radio.ctraddontab {
	  -moz-appearance: none;
	  margin: 0;
	  padding: 1px;
	  border: solid 1px transparent;
	}

	radio.ctraddontab[selected] {
	  background: Highlight;
	  color: HighlightText;
	}
	
	radio.ctraddontab:not([selected]):hover {
	  background: -moz-CellHighlight;
	  color: -moz-CellHighlightText;
	}
	
	radio.ctraddontab .radio-spacer-box,
	radio.ctraddontab .radio-check,
	radio.ctraddontab .radio-check-box1 {
	  visibility: collapse;
	}

	.ctraddontabs {
	  overflow-x: hidden;
	  overflow-y: auto;
	  min-width: 180px;
	  width: 180px;
	  max-width: 180px;
	}
	
	.ctraddontabpanel {
	  height:380px;
	  max-height:450px;
	  min-width:480px;
	  width:480px;
	  max-width:800px;
	  overflow-x:auto;
	  overflow-y:auto;
	}
	
	.ctraddontabpanel {
	  visibility: collapse;
	}
	
	.ctraddontabpanel[selected="true"] {
	  visibility: visible;
	}
	#ctraddon_pw_tabs_tabpanels tabpanel checkbox,
	#ctraddon_pw_tabs_tabpanels tabpanel groupbox {
	  max-width:400px !important;
	}
	
	#ctraddon_pw_splitter {
	  border:0;
	}
	
	#ctraddon_pw_radiorestart{
	  font-weight:bold;
	  color:red;
	  border:1px solid red;
	  text-align:center;
	  background: yellow;
	}

	.acprefdesc {
	  font-size:95%;
	}
	
	@media not all and (-moz-windows-classic) {
	  #ctraddon_pw_tbsep_winc,
	  #ctraddon_pw_hidetbwote_winc {
		visibility: collapse !important;
	  }
	}
	
	/* additional icons for some preference*/
	
	#ctraddon_altabico_white{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/appbutton.png");
	  -moz-margin-end:0;
	}
	#ctraddon_altabico_dark{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/appbutton2.png");
	  margin-left: 0;
	  margin-right: 0;
	}
	#ctraddon_altabico_grey{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/appbutton3.png");
	  margin-left: 0;
	  margin-right: 0;
	}
	#ctraddon_altabico_white_nd{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/appbutton-inv.png");
	  margin-left: 0;
	  margin-right: 0;
	}
	#ctraddon_altabico_dark_nd{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/appbutton-dark.png");
	  margin-left: 0;
	  margin-right: 0;
	}
	#ctraddon_altabico_grey_nd{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/appbutton-grey.png");
	  margin-left: 0;
	  margin-right: 0;
	}
	
	/* -mox-padding-start is useless in this case, because Firefox does not allow something like 
	   #itemid:-moz-locale-dir(rtl) for background-position on preference windows anyway.
	   At least 'padding-left' does not create an empty space in front of ootion labels on rtl locales
	*/
	
	#ctraddon_pw_tab_emptyfavicon label,
	#ctraddon_pw_tab_noemptypticon label {
	  background:url('chrome://classic_theme_restorer/content/images/default_dot_favicon.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}
	
	/* Tab close - pref icons */
	#ctraddon_closeicon_def {
	  -moz-margin-end:0;
	}
	#ctraddon_closeicon_red {
	  list-style-image:url('chrome://classic_theme_restorer/content/images/close_alt.png');
	  -moz-image-region: rect(0px, 32px, 16px, 0px);
	  margin-left: 0;
	  margin-right: 0;
	}
	#ctraddon_closeicon_w7{
	  list-style-image:url('chrome://classic_theme_restorer/content/images/close.png');
	  -moz-image-region: rect(0px, 32px, 16px, 0px);
	  margin-left: 0;
	  margin-right: 0;
	}
	#ctraddon_closeicon_w10 {
	  list-style-image:url('chrome://classic_theme_restorer/content/images/close_w10.png');
	  -moz-image-region: rect(0px, 40px, 20px, 0px);
	  margin-left: 0;
	  margin-right: 0;
	}
	#ctraddon_closeicon_w10i {
	  list-style-image:url('chrome://classic_theme_restorer/content/images/close_w10i.png');
	  -moz-image-region: rect(0px, 40px, 20px, 0px);
	  margin-left: 0;
	  margin-right: 0;
	}
	#ctraddon_closeicon_w10 image, #ctraddon_closeicon_w10i image {
	  width: 32px;
	}
	/**/
	
	#ctraddon_alt_abicons label,
	#ctraddon_alt_abicons2 label {
	  background:url('chrome://classic_theme_restorer/content/images/appbutton-dark.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}
	
	#ctraddon_pw_backforward label{
	  background:url('chrome://classic_theme_restorer/content/images/back-forward.png') no-repeat left !important;
	  padding-left:36px !important;
	  min-height:16px !important;
	}
	
	#ctraddon_pw_hideprivmask label {
	  background:url('chrome://classic_theme_restorer/content/images/appmenu_private.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}

	#ctraddon_pw_stopreload label {
	  background:url('chrome://classic_theme_restorer/content/images/stop_mac.png') no-repeat left,
				 url('chrome://classic_theme_restorer/content/images/reload_mac.png') no-repeat 4% 50% !important;
	  padding-left:36px !important;
	  min-height:16px !important;
	}
	
	#ctraddon_wincontrols label{
	  background: -moz-image-rect(url('chrome://classic_theme_restorer/content/images/windowControls.png'),
					16, 49, 32, 0) no-repeat left !important;
	  padding-left:52px !important;
	  min-height:16px !important;
	}
	
	#ctraddon_pw_emptyfavicon2 label {
	  background:url('chrome://classic_theme_restorer/content/images/default_favicon.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}

	#ctraddon_pw_activitythrobber label {
	  background:url('chrome://classic_theme_restorer/content/images/throbber_notloading.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}
	
	#ctraddon_pw_hideurelstop label{
	  background:url('chrome://classic_theme_restorer/content/images/stop_mac.png') no-repeat left,
				 url('chrome://classic_theme_restorer/content/images/reload_mac.png') no-repeat 4% 50% !important;
	  padding-left:36px !important;
	  min-height:16px !important;
	}
	
	#ctraddon_pw_hideurlgo label {
	  background:url('chrome://classic_theme_restorer/content/images/urlgo.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}

	#ctraddon_pw_urlbardropm label{
	  background:url('chrome://classic_theme_restorer/content/images/pw_urlbar_dropmarker.png') no-repeat left !important;
	  padding-left:20px !important;
	}
	#ctraddon_pw_urlbarpblocked label{
	  background:url('chrome://classic_theme_restorer/content/images/pw_urlbar_popup_blocked.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}

	#ctraddon_pw_oldsearch label {
	  background:url('chrome://classic_theme_restorer/content/images/newsearch.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}

	#ctraddon_pw_loopcall label {
	  background:url('chrome://classic_theme_restorer/content/images/loopcall.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}

	#ctraddon_pw_oldprefs label {
	  background:url('chrome://classic_theme_restorer/content/images/prefs_incontent.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}
	
	#ctraddon_pw_alt_newtabp label {
	  background: -moz-image-rect(url(chrome://classic_theme_restorer/content/images/newtab_controls.png), 0, 160, 16, 144) no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}
	
	#ctraddon_pw_bmbutpanelm label,
	#ctraddon_pw_bmbutnotext label {
	  background:url('chrome://classic_theme_restorer/content/images/bookmarks.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}

	#ctraddon_pw_skipprintpr label {
	  background:url('chrome://classic_theme_restorer/content/images/appmenu_print.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}
	
	#ctraddon_pw_alt_addonsp label,
	#ctraddon_pw_alt_addonsm label,
	#ctraddon_pw_addonversion label {
	  background:url('chrome://classic_theme_restorer/content/images/appmenu_addons_lin.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}

	#ctraddon_pw_noresizerxp label {
	  background:url('chrome://classic_theme_restorer/content/images/resizer.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}
	
	#ctraddon_pw_readermode label,
	#ctraddon_pw_readermode2 label {
	  background:url('chrome://classic_theme_restorer/content/images/reader-mode.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}
	
	#ctraddon_pw_pocket label {
	  background:url('chrome://classic_theme_restorer/content/images/pocket.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:16px !important;
	}
	
	/* Padlock icons */
	#ctraddon_pw_padlock_default label{
	  background: -moz-image-rect(url('chrome://classic_theme_restorer/content/images/padlock_default1.png'),
				  0, 16, 16, 0) no-repeat left !important;
	  padding-left:20px !important;
	}
	#ctraddon_padlock_list[value="padlock_default"] {
	 list-style-image:url('chrome://classic_theme_restorer/content/images/padlock_default1.png');
	 -moz-image-region: rect(0, 16px, 16px, 0);
	}
	#ctraddon_pw_padlock_classic label{
	  background:url('chrome://classic_theme_restorer/content/images/padlock_classic.png') no-repeat left !important;
	  padding-left:20px !important;
	}
	#ctraddon_padlock_list[value="padlock_classic"] {
	  list-style-image:url('chrome://classic_theme_restorer/content/images/padlock_classic.png');
	}
	#ctraddon_pw_padlock_modern label{
	  background:url('chrome://classic_theme_restorer/content/images/padlock_modern.png') no-repeat left !important;
	  padding-left:20px !important;
	}
	#ctraddon_padlock_list[value="padlock_modern"] {
	  list-style-image:url('chrome://classic_theme_restorer/content/images/padlock_modern.png');
	}
	#ctraddon_pw_padlock_none label{
	  padding-left:20px !important;
	}

	/**/
	#ctraddon_pw_throbberalt label{
	  background:url('chrome://classic_theme_restorer/content/images/throbber-loading-alt.png') no-repeat left !important;
	  padding-left:20px !important;
	}

	/*CTR icons*/
	#ctraddon_pw_toolsitem label,
	#ctraddon_pw_appmenuitem label,
	#ctraddon_pw_contextitem label,
	#ctraddon_pw_puictrbutton label{
	  background:url('chrome://classic_theme_restorer/content/images/appmenu_ctr.png') no-repeat left !important;
	  padding-left:20px !important;
	  min-height:18px !important;
	}
	
	#ctraddon_pw_toolsitem:-moz-locale-dir(rtl) label,
	#ctraddon_pw_appmenuitem:-moz-locale-dir(rtl) label,
	#ctraddon_pw_contextitem:-moz-locale-dir(rtl) label,
	#ctraddon_pw_puictrbutton:-moz-locale-dir(rtl) label{
	  background:url('chrome://classic_theme_restorer/content/images/appmenu_ctr.png') no-repeat right !important;
	  padding-right:20px !important;
	  min-height:18px !important;
	}
	
	
}