@import url(chrome://ctraddon_os_special/skin/overlayextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

	#main-window {
	  min-width: 300px !important;
	}
	
	.ctrprefs{
	  -moz-margin-start:26px !important;
	}

	#ctraddon_connavsep {
	  visibility:collapse;
	}
	
	/* hide browsers default PanelUI-button completely */
	#nav-bar > #PanelUI-button {
	  display: none;
	}
	
	/* configure PanelUI buttons apperance withing CTR PanelUI container */
	#ctraddon_panelui-button #PanelUI-button {
	  -moz-appearance: unset !important;
	  background: unset !important;
	  box-shadow: unset !important;
	  border-image: unset !important;
	  border: unset !important;
	  padding: unset !important;
	  margin: unset !important;
	  min-width: unset !important;
	  width: unset !important;
	  max-width: unset !important;
	  min-height: unset !important;
	  height: unset !important;
	  max-height: unset !important;
	}

	/* PanelUI-CTR-button */
	#ctraddon_PanelUI-CTR-button,
	#ctraddon_PanelUI-CTR-button-separator{
	  visibility: collapse;
	}

	
	#ctraddon_PanelUI-CTR-button {
	  margin: 0;
	  padding: 11px 0;
	  box-sizing: border-box;
	  min-height: 40px;
	  -moz-appearance: none;
	  box-shadow: none;
	  border: none;  
	  border-radius: 0;
	  transition: background-color;
	  -moz-box-orient: horizontal;
	}

	#ctraddon_PanelUI-CTR-button > .toolbarbutton-text {
	  display: none;
	}
	#ctraddon_PanelUI-CTR-button > .toolbarbutton-icon {
	  -moz-margin-end: 0;
	}
	#ctraddon_PanelUI-CTR-button:not([disabled]):hover{
	  outline: 1px solid hsla(210,4%,10%,.07);
	  background-color: hsla(210,4%,10%,.07);
	}
	#ctraddon_PanelUI-CTR-button:not([disabled]):hover:active {
	  outline: 1px solid hsla(210,4%,10%,.12);
	  background-color: hsla(210,4%,10%,.12);
	  box-shadow: 0 1px 0 hsla(210,4%,10%,.05) inset;
	}
	
	/* CTRs Back-forward dropmarker */
	#ctraddon_back-forward-dropmarker {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/toolbarbutton-dropdown-arrow.png");
	}

	#ctraddon_back-forward-dropmarker:-moz-lwtheme-brighttext {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/toolbarbutton-dropdown-arrow-inverted.png");
	}
	#ctraddon_back-forward-dropmarker > .toolbarbutton-icon {
	  padding-left: 0px !important;
	  padding-right: 0px !important;
	}
	#ctraddon_back-forward-dropmarker dropmarker {
	  visibility: collapse !important;
	}

	#main-window #navigator-toolbox #nav-bar[currentset*="ctraddon_back-forward-button,ctraddon_back-forward-dropmarker"]:not([customizing]) #ctraddon_back-forward-dropmarker {
	  -moz-margin-start: -6px;
	}

	#customization-palette #ctraddon_back-forward-dropmarker image{
	  background:url("chrome://browser/skin/toolbarbutton-dropdown-arrow.png") center center no-repeat !important;
	  list-style-image:none !important;
	}
	
	/* Tabs Toolbar - close tab button */
	#ctraddon_tabs-closebutton{
	  visibility: collapse;
	}
	
	/*toolbar dummy */
	#ctraddon_toolbar_dummy{
	  -moz-appearance: none !important;
	  -moz-box-ordinal-group: 999999 !important;
	  visibility:hidden !important;
	}
	
	/* ctr addonbar */
	#ctraddon_addon-bar {
	  -moz-appearance: none !important;
	  -moz-box-ordinal-group: 100 !important;
	  border: 0px !important;
	}

	/* addon-bar close button */
	#ctraddon_addon-bar #ctraddon_addonbar-close image {
	  width: 16px !important;
	  height: 16px !important;
	}
	
	/* custom bookmarks-menu-toolbar-button */
	#PersonalToolbar #ctraddon_bookmarks-menu-toolbar-button .toolbarbutton-text {
	  display: -moz-box !important;
	  -moz-padding-start:4px !important;
	}
	#PersonalToolbar #ctraddon_bookmarks-menu-toolbar-button dropmarker,
	#PersonalToolbar #ctraddon_history-menu-toolbar-button dropmarker {
	  visibility: collapse !important;
	}
	#ctraddon_bookmarks-menu-toolbar-button .toolbarbutton-menubutton-button,
	#ctraddon_bookmarks-menu-toolbar-button.toolbarbutton-1 {
	  -moz-box-orient: horizontal !important;
	}
	#ctraddon_history-menu-toolbar-button .toolbarbutton-menubutton-button,
	#ctraddon_history-menu-toolbar-button.toolbarbutton-1 {
	  -moz-box-orient: horizontal !important;
	}
	
	/* appbutton menu on toolbars */
	#ctraddon_appbutton > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/appbutton.png");
	}
	
	#nav-bar #ctraddon_appbutton > .toolbarbutton-icon{
	  margin-left: -3px;
	  margin-right: -3px;
	}
	
	* #ctraddon_appbutton dropmarker,
	* #ctraddon_appbutton > .toolbarbutton-menu-dropmarker,
	* #ctraddon_appbutton > .toolbarbutton-menubutton-dropmarker{
	  list-style-image: none !important;
	  display: none !important;
	  visibility:collapse !important;
	}
	
	#main-window[fx44plus="true"]  #ctraddon_appbutton > .toolbarbutton-icon{
	  max-width: unset !important;
	}

	/* style appbutton*/
	#TabsToolbar #ctraddon_appbutton{
	  -moz-appearance:none !important;
	  border:1px solid;
	  border-color:hsla(214,89%,21%,.5);
	  border-radius:2.5px 2.5px 0px 0px;
	  margin-top:1px;
	  margin-bottom:1px;
	}

	#TabsToolbar #ctraddon_appbutton {
	  border-radius: 2.5px 2.5px 0 0;
	}
	
	#appmenu-popup #appmenu_print_popup,
	#appmenu-popup #appmenu_print{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_print.png");
	}
	#appmenu-popup #appmenu-quit{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_close.png");
	}
	#appmenu-popup #appmenu_bookmarks{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_bookmarks.png");
	}
	#appmenu-popup #appmenu-editmenu-cut,
	#appmenu-popup #appmenu-cut{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_cut.png");
	}
	#appmenu-popup #appmenu-editmenu-copy,
	#appmenu-popup #appmenu-copy{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_copy.png");
	}
	#appmenu-popup #appmenu-editmenu-paste,
	#appmenu-popup #appmenu-paste{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_paste.png");
	}
	#ctraddon_ctr-button,
	#ctraddon_PanelUI-CTR-button,
	#ctraddon_context_menu_entry,
	#ctraddon_tools_menu_entry,
	#appmenu-popup #ctraddon_appmenu_ctr,
	#appmenu-popup #ctraddon_appmenu_ctr2{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_ctr.png");
	}
	
	#menu_FilePopup #ctraddon_restart-menu,
	#appmenu-popup #ctraddon_restart-appmenu{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_restart.png");
	}

	#appmenu-edit-label,
	#appmenu-edit-label:hover{
	  font-style: italic;
	  background: transparent;
	  border-color: transparent;
	}
	
	#appmenu-popup #appmenu_addons{
	  margin-top: 12px;
	}
	
	#appmenu-popup #appmenu-editmenu{
	  margin-top: 2px;
	  margin-bottom: 2px;
	}
	
	#main-window:not([fx31="true"]) #appmenu_eyedropper {
	  display: none !important;
	}

	/* remove empty appmenu menu button labels */
	#appmenu-popup  > hbox > vbox > hbox > menu > .menu-iconic-left,
	#appmenu-popup > hbox > vbox > hbox > menu label {
	  visibility: collapse;
	}
	#main-window[defaultfxtheme="true"]  #appmenu-popup  > hbox > vbox > hbox > menu > .menu-right {
	  -moz-margin-start: 0px;
	}
	#main-window[defaultfxtheme="true"][fx31="true"]  #appmenu-popup  > hbox > vbox > hbox > menu > .menu-right {
	  -moz-margin-start: 8px;
	}
	/* make sure submenu labels stay */
	#appmenu-popup > hbox > vbox > hbox > menu > menupopup label{
	  visibility: visible;
	}
	
	/* appmenu: reduce visibility of disabled cut, copy, paste buttons */
	#appmenu-cut[disabled],
	#appmenu-copy[disabled],
	#appmenu-paste[disabled]{
	  opacity: .3 !important;
	}
	
	/* hide buttons */
	toolbar #ctraddon_appbutton,
	panel #ctraddon_appbutton,
	#ctraddon_appbutton2,
	toolbar #ctraddon_back-forward-button,
	panel #ctraddon_back-forward-button,
	#main-window:not([customizing]) #ctraddon_window-controls{
	  visibility: collapse;
	}

	#customization-palette #ctraddon_window-controls #minimize-button,
	#customization-palette #ctraddon_window-controls #restore-button,
	#customization-palette #ctraddon_window-controls #close-button{
	  background:none;
	  list-style-image:none;
	  min-width:0px;
	  width:0px;
	  max-width:0px;
	}
	
	/* palette items */
	#customization-palette #ctraddon_back-forward-dropmarker {
	  background:url("chrome://classic_theme_restorer/content/images/toolbarbutton-dropdown-arrow.png") center no-repeat;
	}
	
	#customization-palette #ctraddon_window-controls{
	  background: url("chrome://classic_theme_restorer/content/images/windowControls.png") center no-repeat;
	  border:none;
	  min-width:100px;
	}
	
	#customization-palette #ctraddon_back-forward-button{
	  background:url("chrome://classic_theme_restorer/content/images/back-forward.png") center no-repeat;
	  border:none;
	  min-width:100px;
	  width:100px;
	  max-width:100px;
	  min-height:0px;
	  height:50px;
	}
	
	#customization-palette #ctraddon_back-forward-button #ctraddon_back-button,
	#customization-palette #ctraddon_back-forward-button #ctraddon_forward-button{
	  visibility:collapse;
	}

	#ctraddon_appbutton[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_appbutton > .toolbarbutton-icon{
	  list-style-image: url(chrome://classic_theme_restorer/content/images/appbutton_menuPanel.png);
	}
	
	#ctraddon_panelui-button[cui-areatype="menu-panel"] #PanelUI-menu-button > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_panelui-button {
	  background: -moz-image-rect(url("chrome://classic_theme_restorer/content/images/menuPanel2.png"),
					0, 32, 32, 0) center no-repeat;
	  border:none;
	}
	
	#ctraddon_panelui-button[cui-areatype="menu-panel"] #PanelUI-menu-button > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_panelui-button #PanelUI-menu-button > .toolbarbutton-icon{
	  list-style-image: none !important;
	}
	
	#main-window[defaultfxtheme="true"] #ctraddon_stop-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] toolbarpaletteitem[place="palette"] > #ctraddon_stop-button > .toolbarbutton-icon,
	#ctraddon_stop-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_stop-button > .toolbarbutton-icon {
	  -moz-image-region: rect(0px, 96px, 32px, 64px);
	  list-style-image: url(chrome://browser/skin/menuPanel.png);
	}

	#main-window[defaultfxtheme="true"] #ctraddon_reload-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] toolbarpaletteitem[place="palette"] > #ctraddon_reload-button > .toolbarbutton-icon,
	#ctraddon_reload-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_reload-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 64px, 32px, 32px);
	  list-style-image: url(chrome://browser/skin/menuPanel.png);
	}

	#main-window[defaultfxtheme="true"] #ctraddon_go-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] toolbarpaletteitem[place="palette"] > #ctraddon_go-button > .toolbarbutton-icon,
	#ctraddon_go-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_go-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 96px, 32px, 64px);
	  list-style-image: url(chrome://classic_theme_restorer/content/images/menuPanel3.png);
	}

	#main-window[defaultfxtheme="true"] #ctraddon_history-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] toolbarpaletteitem[place="palette"] > #ctraddon_history-button > .toolbarbutton-icon,
	#ctraddon_history-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_history-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 32px, 32px, 0);
	  list-style-image: url(chrome://classic_theme_restorer/content/images/history_sidebar.png);
	}
	
	#main-window[defaultfxtheme="true"] #ctraddon_history-menu-toolbar-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] toolbarpaletteitem[place="palette"] > #ctraddon_history-menu-toolbar-button > .toolbarbutton-icon,
	#ctraddon_history-menu-toolbar-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_history-menu-toolbar-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 32px, 32px, 0);
	  list-style-image: url(chrome://classic_theme_restorer/content/images/history_menu.png);
	}

	#ctraddon_bookmarks-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_bookmarks-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 32px, 32px, 0);
	  list-style-image: url(chrome://classic_theme_restorer/content/images/bookmarks_sidebar.png);
	}
	
	#ctraddon_bookmarks-menu-toolbar-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_bookmarks-menu-toolbar-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 32px, 32px, 0);
	  list-style-image: url(chrome://classic_theme_restorer/content/images/bookmarks_menu.png);
	}
	
	#main-window[defaultfxtheme="true"] #ctraddon_restart-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] toolbarpaletteitem[place="palette"] > #ctraddon_restart-button > .toolbarbutton-icon,
	#ctraddon_restart-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_restart-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 32px, 32px, 0);
	  list-style-image: url(chrome://classic_theme_restorer/content/images/ctrrestart@2x.png);
	}
	
	#ctraddon_bookmarks-menu-toolbar-button[cui-areatype="menu-panel"]  dropmarker,
	toolbarpaletteitem[place="palette"] > #ctraddon_bookmarks-menu-toolbar-button  dropmarker,
	#ctraddon_history-menu-toolbar-button[cui-areatype="menu-panel"]  dropmarker,
	toolbarpaletteitem[place="palette"] > #ctraddon_history-menu-toolbar-button  dropmarker{
	  visibility:collapse;
	}
	#ctraddon_bookmarks-menu-toolbar-button[cui-areatype="menu-panel"],
	#ctraddon_history-menu-toolbar-button[cui-areatype="menu-panel"] {
      -moz-box-orient: vertical !important;
	}
	
	#ctraddon_ctr-button[cui-areatype="menu-panel"] > .toolbarbutton-icon,
	toolbarpaletteitem[place="palette"] > #ctraddon_ctr-button > .toolbarbutton-icon{
	  -moz-image-region: rect(0px, 32px, 32px, 0);
	  list-style-image: url(chrome://classic_theme_restorer/content/images/palette_ctr.png);
	}
	
	/**/
	#ctraddon_go-button:-moz-locale-dir(rtl) .toolbarbutton-icon {
	  -moz-transform:rotate(180deg);
	}
	
	/* CTRs activity throbber */
	#ctraddon_navigator-throbber {
	  background:url("chrome://classic_theme_restorer/content/images/throbber_notloading.png") center no-repeat;
	}
	#ctraddon_navigator-throbber[busy] {
	  background:url("chrome://classic_theme_restorer/content/images/throbber_loading.png") center no-repeat;
	}
	toolbar #ctraddon_navigator-throbber{
	  width: 16px;
	  min-height: 16px;
	  margin: 0 3px;
	}
	#ctraddon_navigator-throbber[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #ctraddon_navigator-throbber{
	  background:url("chrome://classic_theme_restorer/content/images/throbber_palette.png") center no-repeat;
	  border:none;
	  min-width:100px;
	  width:100px;
	  max-width:100px;
	  min-height:0px;
	  height:50px;
	}
	#ctraddon_navigator-throbber[cui-areatype="menu-panel"]{
	  margin-top:-30px !important;
	}

	#ctraddon_navigator-throbber {
	  visibility: collapse;
	}
	#wrapper-ctraddon_navigator-throbber {
	  display: none;
	}
	
	/* show missing icon */
	#main-window[defaultfxtheme="true"] #appmenu_unsortedBookmarks,
	#main-window[defaultfxtheme="true"] #ctraddon_BMB_unsortedBookmarks,
	#main-window[defaultfxtheme="true"] #ctraddon_BMB_unsortedBookmarks_m,
	#main-window[defaultfxtheme="true"] #ctraddon_BMB_unsortedBookmarks_m2,
	#main-window[defaultfxtheme="true"] #ctraddon_BMB_unsortedBookmarks_mm,
	#main-window[defaultfxtheme="true"] #ctraddon_BMB_unsortedBookmarks_mm2 {
	  list-style-image: url("chrome://browser/skin/places/unsortedBookmarks.png");
	  -moz-image-region: auto;
	}
	
	/* hide bookmark menus items */
	#ctraddon_BMB_viewBookmarksSidebar,
	#ctraddon_BMB_viewBookmarksToolbar {
	  display:none;
	}
	#ctraddon_BMB_viewBookmarksToolbar + menuseparator {
	  visibility: collapse;
	}

	#ctraddon_BMB_unsortedBookmarks_m,
	#ctraddon_BMB_unsortedBookmarks_m2,
	#ctraddon_BMB_unsortedBookmarks_mm,
	#ctraddon_BMB_unsortedBookmarks_mm2 {
	  display:none;
	}

	/* adjust panel menu button on nav-bar */
	#main-window[defaultfxtheme="true"] #nav-bar #PanelUI-menu-button {
	  -moz-padding-start: 2px !important;
	  -moz-padding-end: 2px !important;
	}
	
	/*temporal fix*/
	#fireproxy-toolbaritem-menulist-proxytype .menulist-dropmarker{
	  background:none !important;
	}
	
	/* Multirow Bookmarks Toolbar Plus v1.2 glitch fix */
	#browser-bottombox #ctraddon_addon-bar:not([collapsed="true"]):not([hidden="true"])~#multibmtoolbar-showbar {
	  visibility: hidden !important;
	}
	
	/* Disconnect */
	#ctraddon_addon-bar #disconnect-item #disconnect-badge{
	  margin-top:4px !important;
	}
	
	/* hide unsupported menuitems items */
	#main-window:not([fx34plus="true"]) #appmenu_webide,
	#main-window[fx34plus="true"] #appmenu_devAppMgr,
	#main-window:not([fx38plus="true"]) #appmenu_BMB_readingList,
	#main-window:not([fx38plus="true"]) #ctraddon_BMB_readingList {
	  visibility: collapse !important;
	}
	
	/*iconize some menu items*/
	#appmenu_BMB_readingList,
	#ctraddon_BMB_readingList {
	  list-style-image: url("chrome://browser/skin/readinglist/readinglist-icon.svg");
	  -moz-image-region: auto;
	}
	
	#ctraddon_BMB_bookmarksToolbar {
	  list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png");
	  -moz-image-region: auto;
	}
	
	/* CTRs additional urlbar */
	#ctr_extraurlbar_button {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/extraulbar_go.png");
	  opacity: 0.8;
	}
	#ctr_extraurlbar_button:hover {
	  opacity: 1.0;
	}
	#ctr_extraurlbar_button,
	#ctraddon_extraurlbar-close{
	  -moz-appearance: none !important;
	  background: none !important;
	  border: 0 !important;
	  min-width: 0px !important;
	}
	
	/* Fx44+ fix */
	#main-window[fx44plus="true"] toolbarbutton[id^="ctraddon_"] > .toolbarbutton-icon{
	  max-width: unset !important;
	}
	
	/* CTR preference items */
	#ctraddon_toolsmenu_preferencesOSX {
	  visibility: collapse;
	  display: none;
	}
	
	#wrapper-ctraddon_preferences-button,
	#ctraddon_preferences-button {
	  visibility: collapse; 
	  display: none;
	}
	
	/**/
	#main-window:not([fx43plus="true"]) #ctraddon_cui-ctroldsearch {
	  visibility: collapse; 
	  display: none;
	}
	
	/* Firefox 44 large mode fix */
	#main-window[fx44plus="true"] #nav-bar[iconsize="large"] .toolbarbutton-1:not(:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button)) > .toolbarbutton-icon,
	#main-window[fx44plus="true"] #nav-bar[iconsize="large"] .toolbarbutton-1:not(:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button)) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#main-window[fx44plus="true"] #nav-bar[iconsize="large"] .toolbarbutton-1:not(:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button)) > .toolbarbutton-badge-stack > .toolbarbutton-icon{
	  max-width: unset !important;
	}
	
	/* support for old text mode */
	toolbar[mode="text"] #back-button label,
	toolbar[mode="text"] #forward-button label,
	toolbar[mode="text"] #urlbar #urlbar-reload-button .toolbarbutton-text,
	toolbar[mode="text"] #urlbar #urlbar-stop-button .toolbarbutton-text,
	toolbar[mode="text"] #urlbar #urlbar-go-button .toolbarbutton-text,
	toolbar[mode="text"] .tabs-newtab-button .toolbarbutton-text,
	toolbar[mode="text"] #urlbar #feed-button .toolbarbutton-text {
	  display: none !important;
	}
	
	toolbar[mode="text"] #back-button image,
	toolbar[mode="text"] #forward-button image,
	toolbar[mode="text"] #urlbar #urlbar-reload-button .toolbarbutton-icon,
	toolbar[mode="text"] #urlbar #urlbar-stop-button .toolbarbutton-icon,
	toolbar[mode="text"] #urlbar #urlbar-go-button .toolbarbutton-icon,
	toolbar[mode="text"] .tabs-newtab-button .toolbarbutton-icon,
	toolbar[mode="text"] .tabbrowser-tab .tab-close-button .toolbarbutton-icon,
	toolbar[mode="text"] #urlbar #feed-button .toolbarbutton-icon {
	  display:block !important;
	}
	
	toolbar[mode="text"]:not(#TabsToolbar) #PanelUI-menu-button .toolbarbutton-icon {
	  -moz-appearance: unset !important;
	  display:block !important;
	  visibility: hidden !important;
	  -moz-margin-end: -42px !important;
	  background: unset !important;
	  box-shadow: unset !important;
	  border: unset !important;
	}

	#nav-bar[mode="text"] #PanelUI-menu-button .toolbarbutton-icon {
	  -moz-appearance: unset !important;
	  display:block !important;
	  visibility: hidden !important;
	  -moz-margin-end: -22px !important;
	  background: unset !important;
	  box-shadow: unset !important;
	  border-style: unset !important;
	  border: unset !important;
	  height: unset !important;
	  min-height: unset !important;
	  max-height: 1px !important;
	  padding: unset !important;
	}

	#nav-bar[mode="text"] #PanelUI-menu-button .toolbarbutton-text {
	  -moz-margin-start: -14px !important;
	}
	
	/* icons on tabs toolbar do no get hidden*/
	#TabsToolbar[mode="text"] .toolbarbutton-text {
	  display: none !important;
	}

	#TabsToolbar[mode="text"] .toolbarbutton-icon {
	  display: block !important;
	}
	
	/* support for old icons+text mode */
	toolbar[mode="full"] .toolbarbutton-1:not([type="menu-button"]):not(#urlbar-reload-button):not(#urlbar-stop-button):not(#urlbar-go-button):not(.tabs-newtab-button):not(.tab-close-button):not(#back-button):not(#forward-button) {
	  -moz-box-orient: vertical !important;
	}

	#TabsToolbar[mode="full"] toolbarbutton .toolbarbutton-text,
	toolbar[mode="full"] #back-button .toolbarbutton-text,
	toolbar[mode="full"] #forward-button .toolbarbutton-text{
	  display: none !important;
	}
	
	toolbar[mode="full"] toolbarbutton[type="menu"]:not(#bookmarks-menu-button) dropmarker{
	  display: none !important;
	}

	toolbar[mode="full"] .toolbarbutton-1:not(#urlbar-reload-button):not(#urlbar-stop-button):not(#urlbar-go-button):not(.tabs-newtab-button):not(.tab-close-button):not(#back-button):not(#forward-button),
	toolbar[mode="full"] .toolbarbutton-1:not(#urlbar-reload-button):not(#urlbar-stop-button):not(#urlbar-go-button):not(.tabs-newtab-button):not(.tab-close-button):not(#back-button):not(#forward-button) > .toolbarbutton-menubutton-button {
	  min-width: 57px !important;
	}

	#navigator-toolbox #TabsToolbar[mode="full"] .toolbarbutton-1:not(#urlbar-reload-button):not(#urlbar-stop-button):not(#urlbar-go-button):not(.tabs-newtab-button):not(.tab-close-button):not(#back-button):not(#forward-button),
	#navigator-toolbox #TabsToolbar[mode="full"] .toolbarbutton-1:not(#urlbar-reload-button):not(#urlbar-stop-button):not(#urlbar-go-button):not(.tabs-newtab-button):not(.tab-close-button):not(#back-button):not(#forward-button) > .toolbarbutton-menubutton-button,
	toolbar[mode="full"] #urlbar .toolbarbutton-1:not(#urlbar-reload-button):not(#urlbar-stop-button):not(#urlbar-go-button):not(.tabs-newtab-button):not(.tab-close-button):not(#back-button):not(#forward-button),
	toolbar[mode="full"] #urlbar .toolbarbutton-1:not(#urlbar-reload-button):not(#urlbar-stop-button):not(#urlbar-go-button):not(.tabs-newtab-button):not(.tab-close-button):not(#back-button):not(#forward-button) > .toolbarbutton-menubutton-button {
	  min-width: unset !important;
	}

	toolbar[mode="full"] #urlbar #urlbar-reload-button .toolbarbutton-text,
	toolbar[mode="full"] #urlbar #urlbar-stop-button .toolbarbutton-text,
	toolbar[mode="full"] #urlbar #urlbar-go-button .toolbarbutton-text,
	toolbar[mode="full"] .tabs-newtab-button .toolbarbutton-text {
	  display: none !important;
	}

	toolbar[mode="full"] #urlbar-icons toolbarbutton label,
	toolbar[mode="full"] #urlbar-icons toolbarbutton .toolbarbutton-text {
	  display: none !important;
	  visibility: collapse !important;
	}
	
	#nav-bar[mode="full"] #downloads-button image,
	#nav-bar[mode="full"] #downloads-button stack {
	  margin-left: 30px !important;
	  margin-right: 30px !important;
	}
	
	/* Auto Form add-ons icon sizes*/
	toolbarbutton[id^="af_button"] .toolbarbutton-icon {
	  width: 18px !important;
	  max-width: 18px !important;
	}
	
	/* fix FireIE add-ons location bar icon */
	#urlbar #fireie-urlbar-switch image,
	#urlbar #fireie-urlbar-switch label,
	#urlbar #fireie-urlbar-switch {
	  -moz-appearance: none !important;
	  border: unset !important;
	  box-shadow: unset !important;
	  padding: unset !important;
	  margin: unset !important;
	}
	
	#appmenu_webDeveloper {
	  display: none;
	}