@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {

	#bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker {
	  margin-top: 3px !important;
	  margin-bottom: 3px !important;
	}
	
	#main-window #navigator-toolbox #nav-bar .toolbarbutton-1 {
	  margin-top: -3px !important;
	  margin-bottom: -3px !important;
	}
	
	#main-window #navigator-toolbox #nav-bar #urlbar-container #back-button{
	  padding:0 0px !important;
	}
	#main-window #navigator-toolbox #nav-bar #urlbar-container #forward-button[disabled]{
	  padding:0 12px !important;
	}

}