@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	#TabsToolbar:not(:-moz-lwtheme){
		-moz-appearance: none !important;
	}
	
}