@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#main-window:not([defaultfxtheme="true"]) #notification-popup-box[hidden] + *:-moz-locale-dir(ltr),
	#main-window:not([defaultfxtheme="true"]) #notification-popup-box + *:-moz-locale-dir(ltr) {
	  padding-left: 0px !important;
	  transition: none !important;
	}
	#main-window:not([defaultfxtheme="true"]) #notification-popup-box[hidden] + *:-moz-locale-dir(rtl),
	#main-window:not([defaultfxtheme="true"]) #notification-popup-box + *:-moz-locale-dir(rtl) {
	  padding-right: 0px !important;
	  transition: none !important;
	}
	
	#main-window[defaultfxtheme="true"] #notification-popup-box + *:-moz-locale-dir(ltr){
	  padding-left: 5px !important;
	  transition: none !important;
	}
	#main-window[defaultfxtheme="true"] #notification-popup-box + *:-moz-locale-dir(rtl){
	  padding-right: 5px !important;
	  transition: none !important;
	}
	#main-window[defaultfxtheme="true"] #notification-popup-box[hidden] + *:-moz-locale-dir(ltr) {
	  padding-left: 2px !important;
	  transition: none !important;
	}
	#main-window[defaultfxtheme="true"] #notification-popup-box[hidden] + *:-moz-locale-dir(rtl) {
	  padding-right: 2px !important;
	  transition: none !important;
	}
	#main-window[defaultfxtheme="true"] #notification-popup-box:not([hidden]) {
	  padding-left:2px !important;
	  padding-right:2px !important;
	  transition: none !important;
	}
	
	#urlbar {
	  border: 1px solid ThreeDShadow !important;
	}
	@media (-moz-windows-default-theme) {
	  #urlbar {
		border-color: rgba(0,0,0,.32) !important;
	  }
	}
	#urlbar:-moz-lwtheme {
	  border-color: rgba(0,0,0,.32) !important;
	}

	@media all and (-moz-windows-theme:aero) {
		#main-window[defaultfxtheme="true"] #urlbar:not(:-moz-lwtheme)[focused] {
		  border-color: hsla(206,100%,60%,.65) hsla(206,100%,55%,.65) hsla(206,100%,50%,.65) !important;
		}
	}
	

}