@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#main-window:not([defaultfxtheme="true"]) #notification-popup-box[hidden] + *,
	#main-window:not([defaultfxtheme="true"]) #notification-popup-box + .notification-anchor-icon {
	  -moz-padding-start: 0px !important;
	  transition: none !important;
	}
	
	#main-window[defaultfxtheme="true"] #notification-popup-box + .notification-anchor-icon{
	  -moz-padding-start: 5px !important;
	  transition: none !important;
	}

	#main-window[defaultfxtheme="true"] #notification-popup-box[hidden] + * {
	  -moz-padding-start: 2px !important;
	  transition: none !important;
	}

	#main-window[defaultfxtheme="true"] #notification-popup-box:not([hidden]) {
	  padding-left:2px !important;
	  padding-right:2px !important;
	  transition: none !important;
	}
	
	#main-window[defaultfxtheme="true"] #urlbar {
	  border: 1px solid ThreeDShadow !important;
	}
	@media (-moz-windows-default-theme) {
	  #main-window[defaultfxtheme="true"] #urlbar {
		border-color: rgba(0,0,0,.32) !important;
	  }
	}
	#main-window[defaultfxtheme="true"] #urlbar:-moz-lwtheme {
	  border-color: rgba(0,0,0,.32) !important;
	}

	@media all and (-moz-windows-theme:aero) {
		#main-window[defaultfxtheme="true"] #urlbar:not(:-moz-lwtheme)[focused] {
		  border-color: hsla(206,100%,60%,.65) hsla(206,100%,55%,.65) hsla(206,100%,50%,.65) !important;
		}
	}

	#main-window:not([fx31="true"]) #urlbar-container > #urlbar-wrapper > #urlbar,
	#main-window:not([fx31="true"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  margin-left: 4px !important;
	}
	
	#main-window[fx31="true"] #urlbar-container > #urlbar-wrapper > #urlbar,
	#main-window[fx31="true"] #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  margin-left: 8px !important;
	}
	
}