@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#main-window[fx50plus="true"][defaultfxtheme="true"]:not([chromehidden~="toolbar"]) #forward-button[disabled="true"] + #urlbar #identity-icon {
	  margin-inline-start: -6px !important;
	}
	#main-window[fx50plus="true"][defaultfxtheme="true"][developertheme="true"]:not([chromehidden~="toolbar"]) #forward-button[disabled="true"] + #urlbar #identity-icon {
	  margin-inline-start: 0px !important;
	}
	
	#main-window:not([fx50plus="true"]):not([defaultfxtheme="true"]) #notification-popup-box[hidden] + *,
	#main-window:not([fx50plus="true"]):not([defaultfxtheme="true"]) #notification-popup-box + .notification-anchor-icon {
	  -moz-padding-start: 0px !important;
	  transition: none !important;
	}
	
	#main-window:not([fx50plus="true"])[defaultfxtheme="true"] #notification-popup-box + .notification-anchor-icon{
	  -moz-padding-start: 5px !important;
	  transition: none !important;
	}

	#main-window:not([fx50plus="true"])[defaultfxtheme="true"] #nav-bar #notification-popup-box[hidden] + * {
	  -moz-padding-start: 6px !important;
	  -moz-padding-end: 5px !important;
	  transition: none !important;
	}

	#main-window:not([fx50plus="true"])[defaultfxtheme="true"] #notification-popup-box:not([hidden]) {
	  padding-left:2px !important;
	  padding-right:2px !important;
	  transition: none !important;
	}
	
	/* START: urlbar border tweaking (default theme does not provide left urlbar border) */
	#main-window[defaultfxtheme="true"] #urlbar {
	  min-height: 24px;
	}

	#main-window[defaultfxtheme="true"] #urlbar,
	#main-window[defaultfxtheme="true"] .searchbar-textbox {
	  border: 1px solid ThreeDShadow !important;
	}
	@media (-moz-windows-default-theme) {
	  #main-window[defaultfxtheme="true"] #urlbar,
	  #main-window[defaultfxtheme="true"] .searchbar-textbox {
		border-color: rgba(0,0,0,.32) !important;
	  }
	}
	#main-window[defaultfxtheme="true"] #urlbar:-moz-lwtheme,
	#main-window[defaultfxtheme="true"] .searchbar-textbox:-moz-lwtheme {
	  border-color: rgba(0,0,0,.32) !important;
	}

	@media (-moz-windows-default-theme) {
	  #main-window[defaultfxtheme="true"] #urlbar:not(:-moz-lwtheme),
	  #main-window[defaultfxtheme="true"] .searchbar-textbox:not(:-moz-lwtheme) {
		border-color: hsla(210,54%,20%,.25) hsla(210,54%,20%,.27) hsla(210,54%,20%,.3) hsla(210,54%,20%,.27) !important;
	  }

	  #main-window[defaultfxtheme="true"] #urlbar:not(:-moz-lwtheme)[focused],
	  #main-window[defaultfxtheme="true"] .searchbar-textbox:not(:-moz-lwtheme)[focused] {
		border-color: Highlight !important;
	  }
	  
	  @media (-moz-os-version: windows-vista),
			 (-moz-os-version: windows-win7) {
		#main-window[defaultfxtheme="true"] #urlbar:not(:-moz-lwtheme):not([focused]):hover,
		#main-window[defaultfxtheme="true"] .searchbar-textbox:not(:-moz-lwtheme):not([focused]):hover {
		  border-color: hsla(210,54%,20%,.35) hsla(210,54%,20%,.37) hsla(210,54%,20%,.4) hsla(210,54%,20%,.37) !important;
		}

		#main-window[defaultfxtheme="true"] #urlbar:not(:-moz-lwtheme)[focused],
		#main-window[defaultfxtheme="true"] .searchbar-textbox:not(:-moz-lwtheme)[focused] {
		  border-color: hsla(206,100%,60%,.65) hsla(206,100%,55%,.65) hsla(206,100%,50%,.65) hsla(206,100%,55%,.65) !important;
		}
	  }
	}
	/* END: urlbar border tweaking (default theme does not provide left urlbar border) */
	
	#main-window:not([fx57plus="true"]):not([chromehidden~="toolbar"]) * toolbar #urlbar-container,
	#main-window:not([fx57plus="true"]):not([chromehidden~="toolbar"]) * toolbar #urlbar-container[forwarddisabled] {
	  -moz-margin-start: 10px !important;
	}
	
	#main-window[developertheme="true"]:not([fx57plus="true"]):not([chromehidden~="toolbar"]) * toolbar #urlbar-container,
	#main-window[developertheme="true"]:not([fx57plus="true"]):not([chromehidden~="toolbar"]) * toolbar #urlbar-container[forwarddisabled] {
	  -moz-margin-start: 3px !important;
	}
	
}