@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	#titlebar-placeholder-on-TabsToolbar-for-captions-buttons{
	  -moz-margin-start: 0px !important;
	}
	
	@media all and (-moz-windows-theme:aero) {

		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):not(:hover) .tab-stack .tab-background-middle,
		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):not(:hover) .tab-background-start,
		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):not(:hover) .tab-background-end{
		  background-image: linear-gradient(transparent, transparent 2px, #d1deec 0px, #c8d4e1, #b4c0cc), none !important;
		}
		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):hover .tab-stack .tab-background-middle,
		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):hover .tab-background-start,
		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):hover .tab-background-end {
		  background-image: linear-gradient(transparent, transparent 2px, #e5effa 0px, #dce7f3,#d0dce8), none !important;
		}

		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):not(:hover),
		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):hover{
		  color: black !important;
		}

		#TabsToolbar .tabs-newtab-button:not(:-moz-lwtheme){
		   background-image: url(chrome://classic_theme_restorer/content/images/nt_aero_start.png),
							 url(chrome://classic_theme_restorer/content/images/nt_aero_middle.png),
							 url(chrome://classic_theme_restorer/content/images/nt_aero_end.png) !important;
		}
		#TabsToolbar .tabs-newtab-button:not(:-moz-lwtheme):hover{
		  background-image: url(chrome://classic_theme_restorer/content/images/nt_aero_start_hov.png),
							url(chrome://classic_theme_restorer/content/images/nt_aero_middle_hov.png),
							url(chrome://classic_theme_restorer/content/images/nt_aero_end_hov.png) !important;
		}
		
	}

	@media not all and (-moz-windows-theme:aero) {
		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):not(:hover) .tab-stack .tab-background-middle,
		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):not(:hover) .tab-background-start,
		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):not(:hover) .tab-background-end {
		  background-image: linear-gradient(to top, rgba(10%,10%,10%,.4) 1px, transparent 1px), linear-gradient(transparent, transparent 2px, hsla(0,0%,45%,.1) 1px, hsla(0,0%,32%,.2) 80%, hsla(0,0%,0%,.2)),linear-gradient(transparent, transparent 2px, -moz-dialog 0px, -moz-dialog), none !important;
		}

		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):hover .tab-stack .tab-background-middle,
		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):hover .tab-background-start,
		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):hover .tab-background-end {
		  background-image: linear-gradient(to top, rgba(10%,10%,10%,.4) 1px, transparent 1px), linear-gradient(transparent, transparent 2px, hsla(0,0%,100%,.3) 1px, hsla(0,0%,75%,.2) 80%, hsla(0,0%,60%,.2)), linear-gradient(transparent, transparent 2px, -moz-dialog 0px, -moz-dialog), none !important;
		}
		
		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):not(:hover),
		.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):hover{
		  color:black !important;
		}
		
		.tabs-newtab-button:not(:-moz-lwtheme),
		#TabsToolbar > #new-tab-button:not(:-moz-lwtheme) {
		  list-style-image: url(chrome://browser/skin/tabbrowser/newtab.png) !important;
		}
		
		.tabs-newtab-button	{
		  z-index: 0 !important;
		}

	}

}