@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#nav-bar toolbaritem .toolbarbutton-1 .toolbarbutton-text,
	#nav-bar .toolbarbutton-1:not([type="menu-button"]) .toolbarbutton-text,
	#nav-bar .toolbarbutton-1[type="menu-button"] toolbarbutton .toolbarbutton-text{
	  padding:0 !important;
	}
	#nav-bar toolbaritem .toolbarbutton-1,
	#nav-bar .toolbarbutton-1:not([type="menu-button"]),
	#nav-bar .toolbarbutton-1[type="menu-button"]{
	  padding:1px 2px !important;
	  margin:1px 0 !important;
	}
	#nav-bar .toolbarbutton-1[type="menu-button"] toolbarbutton{
	  padding:0px 0px !important;
	  margin:0px 0 !important;
	}

	#ctraddon_addon-bar toolbarbutton .toolbarbutton-icon {
	  max-height: 34px !important;
	}
	#main-window toolbar #ctraddon_back-forward-dropmarker .toolbarbutton-icon {
	  padding:0px 3px !important;
	}

}