@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){
	
	#navigator-toolbox #nav-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([disabled]):hover .toolbarbutton-text {
	  border: 1px solid;
	  background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1));
	  border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.2) hsla(210,54%,20%,.25) !important;
	  box-shadow: 0 1px hsla(0,0%,100%,.3) inset,
				  0 1px hsla(210,54%,20%,.03),
				  0 0 2px hsla(210,54%,20%,.1);
	}
	
	@media all and (-moz-windows-classic) {
	  #navigator-toolbox #nav-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([disabled]):hover .toolbarbutton-text{
		border-top: 1px solid white !important;
		border-right: 1px solid #808080 !important;
		border-left: 1px solid white !important;
		border-bottom: 1px solid #808080 !important;
		background-image: unset !important;
		background: unset !important;
		box-shadow: unset !important;
	  }
	  #navigator-toolbox #nav-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([disabled])[checked] .toolbarbutton-text,
	  #navigator-toolbox #nav-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([disabled])[open] .toolbarbutton-text,
	  #navigator-toolbox #nav-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([disabled]):active .toolbarbutton-text{
		border-top: 1px solid #808080 !important;
		border-right: 1px solid white !important;
		border-left: 1px solid #808080 !important;
		border-bottom: 1px solid white !important;
		background-image: unset !important;
		background: unset !important;
		box-shadow: unset !important;
	  }
	}

	#navigator-toolbox toolbar:not(#TabsToolbar) .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text {
	  padding: 2px 3px 3px 3px !important;
	}
	#navigator-toolbox #nav-bar  #bookmarks-menu-button .toolbarbutton-text{
	  font-size: 12px !important;
	}
	#nav-bar #nav-bar-customization-target > #wrapper-bookmarks-menu-button,
	#nav-bar #nav-bar-customization-target > #bookmarks-menu-button{
	  margin-top: -8px !important;
      margin-bottom: -8px !important;
	}

	@media all and (-moz-windows-classic) {
		#ctraddon_addon-bar toolbarbutton {
		  padding-top: 3px !important;
		  padding-bottom: 3px !important;
		}
	}
	
}