@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#context-back image,
	#context-forward image,
	#context-reload image,
	#context-stop image,
	#context-bookmarkpage image{
	  display:none !important;
	}
	#context-back:before,
	#context-forward:before,
	#context-reload:before,
	#context-stop:before,
	#context-bookmarkpage:before{
	  content: attr(aria-label) !important;
	}
	#context-navigation{
	  -moz-box-orient: vertical !important;
	}
	#context-navigation > .menuitem-iconic {
	  -moz-box-pack: start !important;
	}

	#context-back:before,
	#context-forward:before,
	#context-reload:before,
	#context-stop:before,
	#context-bookmarkpage:before{
	  -moz-margin-start:32px !important;
	}
	
	/*Windows screen dpi value of 110%*/
	@media (min-resolution: 105dpi) {
		#context-back:before,
		#context-forward:before,
		#context-reload:before,
		#context-stop:before,
		#context-bookmarkpage:before{
		  -moz-margin-start:29px !important;
		}
	}
	/*Windows screen dpi value of 120%*/
	@media (min-resolution: 115dpi) {
		#context-back:before,
		#context-forward:before,
		#context-reload:before,
		#context-stop:before,
		#context-bookmarkpage:before{
		  -moz-margin-start:27px !important;
		}
	}
	/*Windows screen dpi value of 125%*/
	@media (min-resolution: 120dpi) {
		#context-back:before,
		#context-forward:before,
		#context-reload:before,
		#context-stop:before,
		#context-bookmarkpage:before{
		  -moz-margin-start:28px !important;
		}
	}
	/*Windows screen dpi value of 150%*/
	@media (min-resolution: 140dpi) {
		#context-back:before,
		#context-forward:before,
		#context-reload:before,
		#context-stop:before,
		#context-bookmarkpage:before{
		  -moz-margin-start:25px !important;
		}
	}
	
	#context-navigation{
	  margin-bottom:-4px !important;
	}

	@media all and (-moz-windows-classic) {
		#context-back:before,
		#context-forward:before,
		#context-reload:before,
		#context-stop:before,
		#context-bookmarkpage:before{
		  -moz-margin-start:18px !important;
		}
		#context-navigation{
		  margin-bottom:-5px !important;
		}
	}

}