@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#context-back image,
	#context-forward image,
	#context-reload image,
	#context-stop image,
	#context-bookmarkpage image{
	  display:none !important;
	}

	#context-back label,
	#context-forward label,
	#context-reload label,
	#context-stop label,
	#context-bookmarkpage label{
	  display: inline !important;
	}

	#context-navigation{
	  -moz-box-orient: vertical !important;
	}

	#context-back label,
	#context-forward label,
	#context-reload label,
	#context-stop label,
	#context-bookmarkpage label{
      -moz-margin-start:15px !important; /* 32 -17 */
	}
	
	/*Windows screen dpi value of 110%*/
	@media (min-resolution: 105dpi) {
		#context-back label,
		#context-forward label,
		#context-reload label,
		#context-stop label,
		#context-bookmarkpage label{
		  -moz-margin-start:12px !important;
		}
	}
	/*Windows screen dpi value of 120%*/
	@media (min-resolution: 115dpi) {
		#context-back label,
		#context-forward label,
		#context-reload label,
		#context-stop label,
		#context-bookmarkpage label{
		  -moz-margin-start:10px !important;
		}
	}
	/*Windows screen dpi value of 125%*/
	@media (min-resolution: 120dpi) {
		#context-back label,
		#context-forward label,
		#context-reload label,
		#context-stop label,
		#context-bookmarkpage label{
		  -moz-margin-start:11px !important;
		}
	}
	/*Windows screen dpi value of 150%*/
	@media (min-resolution: 140dpi) {
		#context-back label,
		#context-forward label,
		#context-reload label,
		#context-stop label,
		#context-bookmarkpage label{
		  -moz-margin-start:8px !important;
		}
	}
	
	#context-navigation{
	  margin-bottom:-4px !important;
	}

	@media all and (-moz-windows-classic) {
		#context-back label,
		#context-forward label,
		#context-reload label,
		#context-stop label,
		#context-bookmarkpage label{
		  -moz-margin-start:1px !important;
		}
		#context-navigation{
		  margin-bottom:-5px !important;
		}
	}

}