@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
	
	#ctraddon_bookmarks-menu-toolbar-button > .toolbarbutton-icon,
	#ctraddon_bookmarks-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/bookmarks.png");
	}
	#ctraddon_bookmarks-menu-toolbar-button:-moz-lwtheme-brighttext > .toolbarbutton-icon,
	#ctraddon_bookmarks-button:-moz-lwtheme-brighttext > .toolbarbutton-icon{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/bookmarks-inv.png");
	}

	/* fallback images for non-default theme */
	#ctraddon_history-menu-toolbar-button > .toolbarbutton-icon,
	#ctraddon_history-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/history2_mac.png");
	}
	#ctraddon_back-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/back2_mac.png");
	}
	#ctraddon_forward-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/forward2_mac.png");
	}
	#ctraddon_stop-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/stop2_mac.png");
	}
	#ctraddon_reload-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/reload2_mac.png");
	}
	
	/* images for default theme */
	#main-window[defaultfxtheme="true"] :-moz-any(#ctraddon_history-menu-toolbar-button,#ctraddon_history-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button) > .toolbarbutton-icon {
	  list-style-image: url("chrome://browser/skin/Toolbar.png");
	}
	
	#main-window[defaultfxtheme="true"] :-moz-any(#ctraddon_history-menu-toolbar-button,#ctraddon_history-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button):-moz-lwtheme-brighttext > .toolbarbutton-icon {
	  list-style-image: url("chrome://browser/skin/Toolbar-inverted.png");
	}
	
	#main-window[defaultfxtheme="true"] #ctraddon_history-menu-toolbar-button > .toolbarbutton-icon,
	#main-window[defaultfxtheme="true"] #ctraddon_history-button > .toolbarbutton-icon {
	  -moz-image-region: rect(0, 180px, 18px, 162px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_back-button > .toolbarbutton-icon {
	  -moz-image-region: rect(0, 54px, 18px, 36px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_forward-button > .toolbarbutton-icon {
	  -moz-image-region: rect(0, 72px, 18px, 54px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_reload-button > .toolbarbutton-icon {
	  -moz-image-region: rect(0, 90px, 18px, 72px);
	}
	#main-window[defaultfxtheme="true"] #ctraddon_stop-button > .toolbarbutton-icon {
	  -moz-image-region: rect(0, 108px, 18px, 90px);
	}

	#nav-bar :-moz-any(#ctraddon_appbutton,#ctraddon_bookmarks-button,#ctraddon_history-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button) > .toolbarbutton-icon {
	  padding: 2px 6px !important;
	}
	
	#PanelUI-menu-button{
	  margin: 0px !important;
	}
	
	#nav-bar #ctraddon_bookmarks-menu-toolbar-button  > .toolbarbutton-icon,
	#nav-bar #ctraddon_history-menu-toolbar-button  > .toolbarbutton-icon{
	  padding-top: 2px;
	  padding-bottom: 2px;
	}
	
	#appmenu-popup #appmenu_newPrivateWindow{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_private.png");
	}
	#appmenu-popup #appmenu_addons{
	  list-style-image:url("chrome://classic_theme_restorer/content/images/appmenu_addons.png");
	}

	#main-window[defaultfxtheme="true"] #appmenuPrimaryPane {
	  -moz-border-end: 1px solid ThreeDShadow;
	}

	@media (-moz-windows-default-theme) {
	  #main-window[defaultfxtheme="true"] #appmenu-popup {
		-moz-appearance: none;
		background: white;
		border: 1px solid ThreeDShadow;
	  }
	  #main-window[defaultfxtheme="true"] #appmenuPrimaryPane {
		background-color: rgba(255,255,255,0.5);
		padding: 2px;
		-moz-border-end: none;
	  }
	  #main-window[defaultfxtheme="true"] #appmenuSecondaryPane {
		background-color: #f1f5fb;
		box-shadow: 1px 0 2px rgb(204,214,234) inset;
		-moz-padding-start: 3px;
		-moz-padding-end: 2px;
		padding-top: 2px;
		padding-bottom: 2px;
		font-family: "Segoe UI Semibold", "Segoe UI", sans-serif;
	  }
	  #main-window[defaultfxtheme="true"] #appmenuSecondaryPane:-moz-locale-dir(rtl) {
		box-shadow: -1px 0 2px rgb(204,214,234) inset;
	  }

	  #main-window[defaultfxtheme="true"] #appmenuPrimaryPane menupopup {
		-moz-appearance: none;
		background-image: linear-gradient(to right, white 26px, ThreeDLightShadow 26px,
										  ThreeDLightShadow 27px, ThreeDHighlight 27px,
										  ThreeDHighlight 28px, white 28px);
		border: 3px solid;
		-moz-border-top-colors: ThreeDShadow white;
		-moz-border-bottom-colors: ThreeDShadow white;
		-moz-border-left-colors: ThreeDShadow white;
		-moz-border-right-colors: ThreeDShadow white;
	  }

	  #main-window[defaultfxtheme="true"] #appmenuSecondaryPane menupopup {
		-moz-appearance: none;
		background-image: linear-gradient(to right, #f1f5fb 26px, ThreeDLightShadow 26px,
										  ThreeDLightShadow 27px, ThreeDHighlight 27px,
										  ThreeDHighlight 28px, #f1f5fb 28px);
		border: 3px solid;
		-moz-border-top-colors: ThreeDShadow #f1f5fb;
		-moz-border-bottom-colors: ThreeDShadow #f1f5fb;
		-moz-border-left-colors: ThreeDShadow #f1f5fb;
		-moz-border-right-colors: ThreeDShadow #f1f5fb;
	  }

	  #main-window[defaultfxtheme="true"] #appmenuPrimaryPane menupopup:-moz-locale-dir(rtl) {
		background-image: linear-gradient(to left, white 26px, ThreeDLightShadow 26px,
										  ThreeDLightShadow 27px, ThreeDHighlight 27px,
										  ThreeDHighlight 28px, white 28px);
	  }
	  #main-window[defaultfxtheme="true"] #appmenuSecondaryPane menupopup:-moz-locale-dir(rtl) {
		background-image: linear-gradient(to left, #f1f5fb 26px, ThreeDLightShadow 26px,
										  ThreeDLightShadow 27px, ThreeDHighlight 27px,
										  ThreeDHighlight 28px, #f1f5fb 28px);
	  }

	  /* Hi-DPI overrides of the menu backgrounds, to adjust where the gutter line falls */
	  @media (min-resolution: 1.25dppx) {
		#main-window[defaultfxtheme="true"] #appmenuPrimaryPane menupopup {
		  background-image: linear-gradient(to right, white 22.4px, ThreeDLightShadow 22.4px,
											ThreeDLightShadow 23.2px, ThreeDHighlight 23.2px,
											ThreeDHighlight 24px, white 24px);
		}
		#main-window[defaultfxtheme="true"] #appmenuSecondaryPane menupopup {
		  background-image: linear-gradient(to right, #f1f5fb 22.4px, ThreeDLightShadow 22.4px,
											ThreeDLightShadow 23.2px, ThreeDHighlight 23.2px,
											ThreeDHighlight 24px, #f1f5fb 24px);
		}
		#main-window[defaultfxtheme="true"] #appmenuPrimaryPane menupopup:-moz-locale-dir(rtl) {
		  background-image: linear-gradient(to left, white 22.4px, ThreeDLightShadow 22.4px,
											ThreeDLightShadow 23.2px, ThreeDHighlight 23.2px,
											ThreeDHighlight 24px, white 24px);
		}
		#main-window[defaultfxtheme="true"] #appmenuSecondaryPane menupopup:-moz-locale-dir(rtl) {
		  background-image: linear-gradient(to left, #f1f5fb 22.4px, ThreeDLightShadow 22.4px,
											ThreeDLightShadow 23.2px, ThreeDHighlight 23.2px,
											ThreeDHighlight 24px, #f1f5fb 24px);
		}
	  }

	  @media (min-resolution: 1.5dppx) {
		#main-window[defaultfxtheme="true"] #appmenuPrimaryPane menupopup {
		  background-image: linear-gradient(to right, white 20.6667px, ThreeDLightShadow 20.6667px,
											ThreeDLightShadow 21.3333px, ThreeDHighlight 21.3333px,
											ThreeDHighlight 22px, white 22px);
		}
		#main-window[defaultfxtheme="true"] #appmenuSecondaryPane menupopup {
		  background-image: linear-gradient(to right, #f1f5fb 20.6667px, ThreeDLightShadow 20.6667px,
											ThreeDLightShadow 21.3333px, ThreeDHighlight 21.3333px,
											ThreeDHighlight 22px, #f1f5fb 22px);
		}
		#main-window[defaultfxtheme="true"] #appmenuPrimaryPane menupopup:-moz-locale-dir(rtl) {
		  background-image: linear-gradient(to left, white 20.6667px, ThreeDLightShadow 20.6667px,
											ThreeDLightShadow 21.3333px, ThreeDHighlight 21.3333px,
											ThreeDHighlight 22px, white 22px);
		}
		#main-window[defaultfxtheme="true"] #appmenuSecondaryPane menupopup:-moz-locale-dir(rtl) {
		  background-image: linear-gradient(to left, #f1f5fb 20.6667px, ThreeDLightShadow 20.6667px,
											ThreeDLightShadow 21.3333px, ThreeDHighlight 21.3333px,
											ThreeDHighlight 22px, #f1f5fb 22px);
		}
	  }

	  @media (min-resolution: 2dppx) {
		#main-window[defaultfxtheme="true"] #appmenuPrimaryPane menupopup {
		  background-image: linear-gradient(to right, white 19.5px, ThreeDLightShadow 19.5px,
											ThreeDLightShadow 20px, ThreeDHighlight 20px,
											ThreeDHighlight 20.5px, white 20.5px);
		}
		#main-window[defaultfxtheme="true"] #appmenuSecondaryPane menupopup {
		  background-image: linear-gradient(to right, #f1f5fb 19.5px, ThreeDLightShadow 19.5px,
											ThreeDLightShadow 20px, ThreeDHighlight 20px,
											ThreeDHighlight 20.5px, #f1f5fb 20.5px);
		}
		#main-window[defaultfxtheme="true"] #appmenuPrimaryPane menupopup:-moz-locale-dir(rtl) {
		  background-image: linear-gradient(to left, white 19.5px, ThreeDLightShadow 19.5px,
											ThreeDLightShadow 20px, ThreeDHighlight 20px,
											ThreeDHighlight 20.5px, white 20.5px);
		}
		#main-window[defaultfxtheme="true"] #appmenuSecondaryPane menupopup:-moz-locale-dir(rtl) {
		  background-image: linear-gradient(to left, #f1f5fb 19.5px, ThreeDLightShadow 19.5px,
											ThreeDLightShadow 20px, ThreeDHighlight 20px,
											ThreeDHighlight 20.5px, #f1f5fb 20.5px);
		}
	  }

	  #main-window[defaultfxtheme="true"] #appmenuPrimaryPane > menuseparator {
		-moz-appearance: none;
		margin-top: 3px;
		margin-bottom: 3px;
		-moz-margin-start: 30px;
		padding: 0;
		border-top: 1px solid #d6e5f5;
		border-bottom: none;
	  }

	  @media (min-resolution: 1.25dppx) {
		#main-window[defaultfxtheme="true"] #appmenuPrimaryPane > menuseparator {
		  -moz-margin-start: 25px;
		}
	  }
	  @media (min-resolution: 1.5dppx) {
		#main-window[defaultfxtheme="true"] #appmenuPrimaryPane > menuseparator {
		  -moz-margin-start: 24px;
		}
	  }
	  @media (min-resolution: 2dppx) {
		#main-window[defaultfxtheme="true"] #appmenuPrimaryPane > menuseparator {
		  -moz-margin-start: 22px;
		}
	  }
	}
	
	#appmenu-edit-label,
	#appmenu-edit-label:hover{
	  -moz-appearance: none !important;
	}
	
	
	@media all and (-moz-windows-classic) {
		#appmenu-edit-label{
		  -moz-margin-start: 2px !important;
		}
	
		#appmenuSecondaryPane{
		  border-left: 1px solid !important;
		}
	}
	
	@media all and (-moz-windows-theme:aero) {
		/* appmenu submenu icons positions */
		#main-window[defaultfxtheme="true"] #appmenu-popup > hbox > vbox > hbox > menu > .menu-right,
		#main-window[defaultfxtheme="true"] #appmenu-popup > hbox > vbox > hbox > menu > .menu-accel-container,
		#main-window[defaultfxtheme="true"] #appmenu-popup > hbox > vbox > hbox > menu > .menu-iconic-text,
		#main-window[defaultfxtheme="true"] #appmenu-popup > hbox > vbox > hbox > menu > .menu-iconic-left{
		  min-width: 4px !important;
		  width: 4px !important;
		  max-width: 4px !important;
		}
		
		#main-window:not([defaultfxtheme="true"]) #appmenu-popup > hbox > vbox > hbox > menu > .menu-accel-container{
		  min-width: 10px !important;
		  width: 10px !important;
		  max-width: 10px !important;
		}
	}
	
	#main-window[sizemode="maximized"] #TabsToolbar #ctraddon_appbutton{
	  margin-top:0px !important;
	}
	
	/* CTR addons-bar */
	#main-window[defaultfxtheme="true"] #ctraddon_addon-bar:not(:-moz-lwtheme) {
	  border-top: 1px solid rgba(0,0,0,.15) !important;
	}
	
	#ctraddon_addon-bar {
	  min-height: 20px;
	}
	
	#ctraddon_addon-bar toolbarbutton {
	  -moz-appearance: none;
	  border: none;
	  margin-top: 0px;
	  margin-bottom: 0px;
	  padding-top: 1px;
	  padding-bottom: 1px;
	}
	
	#ctraddon_addon-bar toolbaritem{
	  margin-top: 0px;
	  margin-bottom: 0px;
	  padding-top: 0px;
	  padding-bottom: 0px;
	}
	
	#ctraddon_addon-bar toolbaritem[id^="widget"]{
	  -moz-appearance: none !important;
	}

	#ctraddon_addon-bar .toolbarbutton-1:not([disabled]):hover,
	#ctraddon_addon-bar .toolbarbutton-1[open],
	#ctraddon_addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover {
	  background-image: linear-gradient(to top, transparent, rgba(0,0,0,.15)),
						linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%),
						linear-gradient(to top, transparent, rgba(0,0,0,.15) 30%);
	  background-position: left, left, right;
	  background-size: auto, 1px 100%, 1px 100%;
	  background-repeat: no-repeat;
	}
	#ctraddon_addon-bar .toolbarbutton-1,
	#ctraddon_addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button  {
	  -moz-appearance: none;
	  border-style: none;
	}
	
	/* fix recent icon stretching*/
    #nav-bar .toolbarbutton-1:not([type=menu-button]),
    #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
    #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
      -moz-box-align: center !important;
    }

}

.ctraddon_nonwindows,
.ctraddon_linuxonly,
.ctraddon_maconly{
  visibility: collapse !important;
}

@-moz-document url(chrome://classic_theme_restorer/content/options.xul) {
	#ctraddon_appbutton_list1{
	  visibility: visible !important;
	}
	#ctraddon_appbutton_list2{
	  visibility: collapse !important;
	}
	
	@media not all and (-moz-windows-glass) {
		#ctraddon_pw_menubarnofog{
		  visibility: collapse !important;
		}
	}
	#ctraddon_pw_okbutton{
	  display: inline !important;
	}
}