@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	@media not all and (-moz-windows-glass) {
		#main-window:not([tabsintitlebar])[tabsontop="false"][sizemode="maximized"] #TabsToolbar .tabbrowser-tabs,
		#main-window[sizemode="normal"] #TabsToolbar .tabbrowser-tabs {
		  margin-left: -2px !important;
		  margin-right: -2px !important;
		}
	}

	#main-window[tabsintitlebar]:not([inFullscreen]) #navigator-toolbox #toolbar-menubar{
	  margin-top: 3px !important;
	  margin-bottom: 3px !important;
	}

	#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="normal"] #navigator-toolbox #toolbar-menubar[autohide="true"][inactive="true"]{
	  margin-top: 26px !important;
	}

	#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="maximized"] #navigator-toolbox #toolbar-menubar[autohide="true"][inactive="true"]{
	  margin-top: 23px !important;
	}
	
	@media all and (-moz-windows-compositor){
		
		#main-window[tabsintitlebar]:not([inFullscreen]) #navigator-toolbox #toolbar-menubar{
		  margin-top: 3px !important;
		  margin-bottom: 3px !important;
		}

		#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="normal"] #navigator-toolbox #toolbar-menubar[autohide="true"][inactive="true"]{
		  margin-top: 23px !important;
		}
		#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="maximized"] #navigator-toolbox #toolbar-menubar[autohide="true"][inactive="true"]{
		  margin-top: 23px !important;
		}
	}

	@media all and (-moz-windows-classic) {
		#main-window[tabsintitlebar]:not([inFullscreen]) #navigator-toolbox #toolbar-menubar{
		  margin-top: 3px !important;
		  margin-bottom: 3px !important;
		}

		#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="normal"] #navigator-toolbox #toolbar-menubar[autohide="true"][inactive="true"]{
		  margin-top: 25px !important;
		}
		#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="maximized"] #navigator-toolbox #toolbar-menubar[autohide="true"][inactive="true"]{
		  margin-top: 25px !important;
		}
	}
	
	@media all and (-moz-windows-theme:aero) {
		#main-window[defaultfxtheme="true"] #TabsToolbar:not(:-moz-lwtheme) {
		  background: #dbeaf9 !important;
		}
	}
	
	@media not all and (-moz-windows-theme:aero) {

		#main-window[defaultfxtheme="true"] #TabsToolbar:not(:-moz-lwtheme) {
		  background: -moz-Dialog !important;
		}
	}
	
	@media all and (-moz-windows-glass) {	
	    #main-window[defaultfxtheme="true"][tabsontop="false"][sizemode="normal"]  #TabsToolbar:not(:-moz-lwtheme) {
		  border-left: 1px solid hsla(209,67%,12%,0.35) !important;
		  border-right: 1px solid hsla(209,67%,12%,0.35) !important;
		  border-bottom: 1px solid hsla(209,67%,12%,0.0) !important;
		  background-clip: padding-box !important;
	    }
	    #main-window[defaultfxtheme="true"][tabsontop="false"][sizemode="maximized"]  #TabsToolbar:not(:-moz-lwtheme) {
		  border-bottom: 1px solid hsla(209,67%,12%,0.25) !important; /*#aabccf*/
	    }
	}

}