@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	/* Tab close button */
	.tab-close-button {
	  -moz-appearance: none !important;
	  -moz-image-region: rect(0, 64px, 16px, 48px) !important;
	  border: none !important;
	  padding: 0px !important;
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close.png") !important;
	}

	.tab-close-button:hover,
	.tab-close-button:hover[selected="true"] {
	  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
	}

	.tab-close-button:hover:active,
	.tab-close-button:hover:active[selected="true"] {
	  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
	}

	.tab-close-button[selected="true"] {
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}

	.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
	  -moz-padding-start: 0px !important;
	}
	
	.tabs-newtab-button{
	  margin-right:-15px !important;
	}
	
	/* for Windows Aero Theme (AeroBasic/AeroGlass - Vista/7/8) */
	@media all and (-moz-windows-theme:aero) {
		.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top,#eaf2fb,#eef5fc,#feffff) !important;
		}

		.tabs-newtab-button:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):not(:hover):not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #868d94 0px, transparent 1px),linear-gradient(to top,#b4c0cc,#c8d4e1,#d1deec) !important;
		}

		.tabs-newtab-button:hover:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):hover:not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #868d94 0px, transparent 1px),linear-gradient(to top,#d0dce8,#dce7f3,#e5effa) !important;
		}
		
		.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):not(:hover):not(:-moz-lwtheme){
		  background-size: 95% 100% !important;
		  background-image: linear-gradient(to top, #868d94 0px, transparent 1px),linear-gradient(to top,#b4c0cc,#c8d4e1,#d1deec) !important;
		}
	}
	
	/* for Windows Classic Theme on WinVista/7/8 */
	@media not all and (-moz-windows-theme:aero) {
   	
		.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top,#e6e3df,#eae8e4,#f5f5f2) !important;
		}

		.tabs-newtab-button:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):not(:hover):not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #afaba5,#c0bdb6,#c9c6c0) !important;
		  color:black !important;
		}

		.tabs-newtab-button:hover:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):hover:not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top,#cbc7c1,#d5d2cc,#e1ded8) !important;
		  color:black !important;
		}
		.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):not(:hover):not(:-moz-lwtheme){
		  background-size: 95% 100% !important;
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #afaba5,#c0bdb6,#c9c6c0) !important;
		}
    }
	
}
