@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {

	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar > #notification-popup-box[hidden] + *:-moz-locale-dir(ltr) {
	  padding-left: 2px !important;
	  transition: none !important;
	}

	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar > #notification-popup-box[hidden] + *:-moz-locale-dir(rtl) {
	  padding-right: 2px !important;
	  transition: none !important;
	}
	
	#bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
	  padding-top: 0px !important;
	  padding-bottom: 0px !important;
	}

	window:not([chromehidden~="toolbar"]) #ctr_back-forward-button > #forward-button,
	window:not([chromehidden~="toolbar"]) #urlbar-container > #forward-button{
	  -moz-margin-start: 10px !important;
	  -moz-margin-end: 6px !important;
	}
	
	#navigator-toolbox #nav-bar .toolbarbutton-1 {
		margin: 1px 1px !important;
	}

    window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
      margin-left: 0px !important;
      transition: none !important;
      transition-property:  none !important;
      transition-delay: 0s !important;
    }

}