@-moz-document url(about:preferences),url-prefix(about:preferences){

	menulist dropmarker{
	  display: none !important;
	}
	
	menulist {
	  min-height: 26px !important;
	}

}

*[subdialog="true"] 	menulist dropmarker{
  display: none !important;
}