@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	#main-window[fx50plus="true"][defaultfxtheme="true"]:not([chromehidden~="toolbar"]) #forward-button[disabled="true"] + #urlbar #identity-icon {
	  margin-inline-start: -6px !important;
	}
	#main-window[fx50plus="true"][defaultfxtheme="true"][developertheme="true"]:not([chromehidden~="toolbar"]) #forward-button[disabled="true"] + #urlbar #identity-icon {
	  margin-inline-start: 0px !important;
	}

	#main-window:not([fx50plus="true"]):not([defaultfxtheme="true"]) #notification-popup-box[hidden] + *,
	#main-window:not([fx50plus="true"]):not([defaultfxtheme="true"]) #notification-popup-box + .notification-anchor-icon {
	  -moz-padding-start: 0px !important;
	  transition: none !important;
	}
	
	#main-window:not([fx50plus="true"])[defaultfxtheme="true"] #notification-popup-box + .notification-anchor-icon{
	  -moz-padding-start: 5px !important;
	  transition: none !important;
	}

	#main-window:not([fx50plus="true"])[defaultfxtheme="true"] #nav-bar #notification-popup-box[hidden] + * {
	  -moz-padding-start: 7px !important;
	  transition: none !important;
	}

	#main-window:not([fx50plus="true"])[defaultfxtheme="true"] #notification-popup-box:not([hidden]) {
	  padding-left:0px !important;
	  padding-right:0px !important;
	  transition: none !important;
	}
	
	#main-window:not([fx55plus="true"]):not([chromehidden~="toolbar"]) * toolbar #urlbar-container ,
	#main-window:not([fx55plus="true"]):not([chromehidden~="toolbar"]) * toolbar #urlbar-container[forwarddisabled]  {
	  -moz-margin-start: 8px !important;
	}
	#main-window:not([fx55plus="true"])[developertheme="true"]:not([chromehidden~="toolbar"]) * toolbar #urlbar-container,
	#main-window:not([fx55plus="true"])[developertheme="true"]:not([chromehidden~="toolbar"]) * toolbar #urlbar-container[forwarddisabled] {
	  -moz-margin-start: 3px !important;
	}

	#main-window[defaultfxtheme="true"] #urlbar {
	  min-height: 24px;
	}
	
	#main-window[defaultfxtheme="true"] #urlbar,
	#main-window[defaultfxtheme="true"] #nav-bar .searchbar-textbox{
	  border: 1px solid !important;
	  border-color: #626262 #787878 #8c8c8c #787878 !important;
	}
	@media (-moz-mac-lion-theme) {
	  #main-window[defaultfxtheme="true"] #urlbar,
	  #main-window[defaultfxtheme="true"] #nav-bar .searchbar-textbox {
		border-color: hsla(0,0%,0%,.35) hsla(0,0%,0%,.25) hsla(0,0%,0%,.15) hsla(0,0%,0%,.25) !important;
	  }
	}
	@media not all and (-moz-mac-lion-theme) {
	  #main-window[defaultfxtheme="true"] #urlbar:-moz-window-inactive,
	  #main-window[defaultfxtheme="true"] #nav-bar .searchbar-textbox:-moz-window-inactive {
		border-color: rgba(146, 146, 146, 0.84) !important;
	  }
	}
	
	#main-window[defaultfxtheme="true"] #urlbar[focused],
	#main-window[defaultfxtheme="true"] #nav-bar .searchbar-textbox[focused]{
	  border-color: -moz-mac-focusring !important;
	}
}