@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	#main-window:not([defaultfxtheme="true"]) #notification-popup-box[hidden] + *,
	#main-window:not([defaultfxtheme="true"]) #notification-popup-box + .notification-anchor-icon {
	  -moz-padding-start: 0px !important;
	  transition: none !important;
	}
	
	#main-window[defaultfxtheme="true"] #notification-popup-box + .notification-anchor-icon{
	  -moz-padding-start: 5px !important;
	  transition: none !important;
	}

	#main-window[defaultfxtheme="true"] #notification-popup-box[hidden] + * {
	  -moz-padding-start: 5px !important;
	  transition: none !important;
	}

	#main-window[defaultfxtheme="true"] #notification-popup-box:not([hidden]) {
	  padding-left:0px !important;
	  padding-right:0px !important;
	  transition: none !important;
	}
	
	#main-window:not([fx31="true"]) * #urlbar-container {
	  -moz-margin-start: 4px !important;
	}
	
	#main-window:not([fx31="true"]) #urlbar-container > #urlbar-wrapper > #urlbar,
	#main-window:not([fx31="true"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  margin-left: 4px !important; /* for both ltr and rtl */
	}
	
	#main-window[fx31="true"] #urlbar-container > #urlbar-wrapper > #urlbar,
	#main-window[fx31="true"] #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  margin-left: 10px !important; /* for both ltr and rtl */
	}
	
	#main-window[defaultfxtheme="true"] #urlbar{
	  border: 1px solid !important;
	  border-color: #626262 #787878 #8c8c8c !important;
	}
	@media (-moz-mac-lion-theme) {
	  #main-window[defaultfxtheme="true"] #urlbar {
		border-color: hsla(0,0%,0%,.35) hsla(0,0%,0%,.25) hsla(0,0%,0%,.15) !important;
	  }
	}
	@media not all and (-moz-mac-lion-theme) {
	  #main-window[defaultfxtheme="true"] #urlbar:-moz-window-inactive {
		border-color: rgba(146, 146, 146, 0.84) !important;
	  }
	}
	
	#main-window[defaultfxtheme="true"] #urlbar[focused]{
	  border-color: -moz-mac-focusring !important;
	}
}