@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	@media (min-resolution: 2dppx) {

	  #PersonalToolbar :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #webrtc-status-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #restore-button),
	  #PersonalToolbar #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
		list-style-image: url("chrome://browser/skin/Toolbar-inverted@2x.png") !important;
	  }

	  #PersonalToolbar #sync-button[cui-areatype="toolbar"][status="active"],
	  #PersonalToolbar #sync-button[cui-areatype="toolbar"][status="active"]:hover:active:not([disabled="true"]) {
		list-style-image: url("chrome://browser/skin/syncProgress-toolbar-inverted@2x.png") !important;
		-moz-image-region: rect(0, 36px, 36px, 0px) !important;
	  }

	  #PersonalToolbar :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #webrtc-status-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #restore-button) > .toolbarbutton-icon,
	  #PersonalToolbar :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #webrtc-status-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #restore-button) > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
		width: 18px !important;
	  }

	  #PersonalToolbar #downloads-indicator-icon {
		background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-inverted@2x.png"), 0, 396, 36, 360) !important;
		background-size: 18px !important;
	  }

	  #PersonalToolbar #downloads-button:not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter {
		background-image: -moz-image-rect(url("chrome://browser/skin/Toolbar-inverted@2x.png"), 0, 396, 36, 360) !important;
	  }
	 
	  #PersonalToolbar :-moz-any(#ctraddon_back-button, #ctraddon_forward-button, #ctraddon_bookmarks-menu-toolbar-button, #ctraddon_bookmarks-button, #ctraddon_history-button, #ctraddon_history-menu-toolbar-button, #ctraddon_reload-button, #ctraddon_stop-button) > .toolbarbutton-icon  {
		list-style-image: url("chrome://browser/skin/Toolbar-inverted@2x.png") !important;
	  }
		  
	  #PersonalToolbar #ctraddon_back-button > .toolbarbutton-icon {
		-moz-image-region: rect(0, 108px, 36px, 72px) !important;
	  }

	  #PersonalToolbar #ctraddon_back-button:hover:active:not([disabled="true"]) > .toolbarbutton-icon {
		-moz-image-region: rect(36px, 108px, 72px, 72px) !important;
	  }

	  #PersonalToolbar #ctraddon_forward-button > .toolbarbutton-icon {
		-moz-image-region: rect(0, 144px, 36px, 108px) !important;
	  }

	  #PersonalToolbar #ctraddon_forward-button:hover:active:not([disabled="true"]) > .toolbarbutton-icon {
		-moz-image-region: rect(36px, 144px, 72px, 108px) !important;
	  }
		  
	  #PersonalToolbar #ctraddon_bookmarks-button > .toolbarbutton-icon,
	  #PersonalToolbar #ctraddon_bookmarks-menu-toolbar-button > .toolbarbutton-icon {
		-moz-image-region: rect(0, 288px, 36px, 252px) !important;
	  }
		  
	  #PersonalToolbar #ctraddon_bookmarks-button:hover:active:not([disabled="true"]) > .toolbarbutton-icon,
	  #PersonalToolbar #ctraddon_bookmarks-menu-toolbar-button:hover:active:not([disabled="true"]) > .toolbarbutton-icon {
		-moz-image-region: rect(36px, 288px, 72px, 252px) !important;
	  }
	  #PersonalToolbar #ctraddon_history-menu-toolbar-button > .toolbarbutton-icon,
	  #PersonalToolbar #ctraddon_history-button > .toolbarbutton-icon {
		-moz-image-region: rect(0, 360px, 36px, 324px) !important;
	  }
		  
	  #PersonalToolbar #ctraddon_history-menu-toolbar-button:hover:active:not([disabled="true"]) > .toolbarbutton-icon,
	  #PersonalToolbar #ctraddon_history-button:hover:active:not([disabled="true"]) > .toolbarbutton-icon {
		-moz-image-region: rect(36px, 360px, 72px, 324px) !important;
	  }

	  #PersonalToolbar #ctraddon_reload-button > .toolbarbutton-icon {
		-moz-image-region: rect(0, 180px, 36px, 144px) !important;
	  }
		  
	  #PersonalToolbar #ctraddon_reload-button:hover:active:not([disabled="true"]) > .toolbarbutton-icon {
		-moz-image-region: rect(36px, 180px, 72px, 144px) !important;
	  }
		  
	  #PersonalToolbar #ctraddon_stop-button  > .toolbarbutton-icon{
		-moz-image-region: rect(0, 216px, 36px, 180px) !important;
	  }
		  
	  #PersonalToolbar #ctraddon_stop-button:hover:active:not([disabled="true"]) > .toolbarbutton-icon {
		-moz-image-region: rect(36px, 216px, 72px, 180px) !important;
	  }
	  #PersonalToolbar :-moz-any(#ctraddon_back-button, #ctraddon_forward-button, #ctraddon_bookmarks-menu-toolbar-button, #ctraddon_bookmarks-button, #ctraddon_history-button,#ctraddon_history-menu-toolbar-button, #ctraddon_reload-button, #ctraddon_stop-button) > .toolbarbutton-icon {
		width: 18px !important;
	  }
		  
	}
}