@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#ClassicTRoptionsPane .ctraddon_winlinonly,
#ClassicTRoptionsPane .ctraddon_linuxonly,
#ClassicTRoptionsPane .ctraddon_windowsonly{
  visibility: collapse !important;
}

#ctraddon_appbutton_list2{
  visibility: visible !important;
}

#ctraddon_pw_nbcompact,
#ctraddon_pw_menubargroup,
#ctraddon_pw_menubarnofog,
#ctraddon_pw_altmenubar,
#ctraddon_wincontrols,
#ctraddon_appbutton_list1{
  visibility: collapse !important;
  display: none !important;
}

#ctraddon_pw_starinurl label{
  background: -moz-image-rect(url('chrome://classic_theme_restorer/content/images/starbutton1osx.png'),
			  0, 72, 18, 36) no-repeat left !important;
  -moz-padding-start: 20px !important;
  min-height: 16px !important;
}
#ctraddon_pw_feedinurl label{
  background: url('chrome://classic_theme_restorer/content/images/feedinurlbar_mac.png') no-repeat left !important;
  -moz-padding-start: 20px !important;
  min-height: 16px !important;
}