@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {

	#nav-bar .toolbarbutton-1:not([type="menu-button"]),
	#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
	#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker,
	#nav-bar .toolbarbutton-1:not(:-moz-any([type="menu-button"],#back-button,#forward-button)),
	#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
	#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker,
	#nav-bar #restore-button,
	#nav-bar .toolbarbutton-1:not(:-moz-any([type="menu-button"],[disabled],[open],#back-button,#forward-button)):hover,
	#nav-bar .toolbarbutton-1[type="menu-button"]:not(:-moz-any([disabled],[open])):hover > .toolbarbutton-menubutton-button,
	#nav-bar .toolbarbutton-1[type="menu-button"]:not(:-moz-any([disabled],[open])):hover > .toolbarbutton-menubutton-dropmarker,
	#nav-bar .toolbaritem-combined-buttons:hover > .toolbarbutton-combined,
	#nav-bar #restore-button:not([disabled]):hover,
	#nav-bar .toolbarbutton-1:not(:-moz-any([type="menu-button"],[disabled],[open],#back-button,#forward-button)):hover,
	#nav-bar .toolbarbutton-1[type="menu-button"]:not(:-moz-any([disabled],[open]))[buttonover] > .toolbarbutton-menubutton-button,
	#nav-bar .toolbarbutton-1[type="menu-button"]:not(:-moz-any([disabled],[open],[buttonover])):hover > .toolbarbutton-menubutton-dropmarker,
	#nav-bar #restore-button:not([disabled]):hover,
	#nav-bar .toolbarbutton-1:not(:-moz-any([type="menu-button"],[disabled],#back-button,#forward-button)):-moz-any(:hover:active,[open]),
	#nav-bar .toolbarbutton-1[type="menu-button"]:not(:-moz-any([disabled],[open]))[buttonover]:active > .toolbarbutton-menubutton-button,
	#nav-bar .toolbarbutton-1[type="menu-button"]:not(:-moz-any([disabled],[open],[buttonover])):hover:active > .toolbarbutton-menubutton-dropmarker,
	#nav-bar .toolbarbutton-1[type="menu-button"][open] > .toolbarbutton-menubutton-dropmarker,
	#nav-bar #restore-button:not([disabled]):hover:active {
	  -moz-appearance: none !important;
	  border: 1px solid transparent !important;
	  background: none !important;
	  border-color: none !important;
	  box-shadow: none !important;
	  transition-duration: 0ms !important;
	  transition-property: none !important;
	}

	#nav-bar .toolbarbutton-1:not(:-moz-any([type="menu-button"],#back-button,#forward-button)),
	#nav-bar #restore-button {
	  padding: 0px 0px !important;
	}

	#nav-bar #back-button{
	  background:none !important;
	  padding: 0 !important;
	  height: 0 !important;
	}
	#nav-bar #forward-button{
	  background:none !important;
	  padding: 0 !important;
	  height: 0 !important;
	  border: 0 !important;
	}

    #navigator-toolbox #nav-bar #forward-button{
      -moz-margin-end: 2px !important;
	  -moz-margin-start: -4px !important;
	}

	#nav-bar .toolbarbutton-1 {
      min-width:24px !important;
    }

    #nav-bar * .toolbarbutton-icon,
	#nav-bar * {
	  clip-path: none !important;
	}

	#nav-bar #urlbar-container #back-button:not([cui-areatype="menu-panel"]) {
	  -moz-image-region: rect(0, 54px, 18px, 36px) !important;
	}

	#nav-bar #urlbar-container #forward-button[disabled]{
	  visibility: visible !important;
	  opacity: 1.0 !important;
	}

    #navigator-toolbox #nav-bar #forward-button{
	  -moz-appearance: none !important;
	  background: none !important;
	  background-image: none !important;
	  border-radius: 2.5px;
	  border-color: transparent !important;
	  box-shadow: none !important;
	  transition-property: none !important;
      transition-duration: 0ms !important;
	}

	#nav-bar #back-button:not(:hover) > .toolbarbutton-icon,
	#nav-bar #forward-button:not(:hover) > .toolbarbutton-icon,
	#nav-bar #back-button:hover[disabled] > .toolbarbutton-icon,
	#nav-bar #forward-button:hover[disabled] > .toolbarbutton-icon{
	  -moz-appearance: none !important;
	  border: 0px solid transparent !important;
	  box-shadow: none !important;
	  background: none !important;
	}

	#navigator-toolbox #nav-bar .toolbarbutton-1:hover > .toolbarbutton-menubutton-dropmarker > image,
	#navigator-toolbox #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not(.tabs-newtab-button):not(.tab-close-button):not([disabled]):hover > .toolbarbutton-icon,
	#navigator-toolbox #nav-bar toolbarbutton[type="menu"]:not(.tabs-newtab-button):not(.tab-close-button):not([disabled]):hover > .toolbarbutton-icon,
	#navigator-toolbox #nav-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([disabled]):hover > .toolbarbutton-icon{
      background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1)) !important;
      border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.2) hsla(210,54%,20%,.25) !important;
      box-shadow: 0 1px hsla(0,0%,100%,.3) inset,
                  0 1px hsla(210,54%,20%,.03),
                  0 0 2px hsla(210,54%,20%,.1) !important;
	}

	#navigator-toolbox #nav-bar #urlbar-container {
	  -moz-margin-start: 0px !important;
	}

	#nav-bar #notification-popup-box[hidden] + *,
	#nav-bar #notification-popup-box + * {
	  -moz-padding-start: 4px !important;
	  transition: none !important;
	}

	#nav-bar #urlbar-container[forwarddisabled]:hover:not([switchingtabs]) > #urlbar-wrapper > #urlbar {
	  transition-delay: 0s !important;
	}

	#nav-bar #urlbar-container > #urlbar-wrapper > #urlbar,
	#nav-bar #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  margin-left: 4px !important; /* for both ltr and rtl*/
	}
	
	#main-window #navigator-toolbox #urlbar-wrapper {
	  -moz-box-align: center !important;
	}
	
	#main-window[defaultfxtheme="true"] #urlbar{
	  border: 1px solid !important;
	  border-color: #626262 #787878 #8c8c8c !important;
	}
	@media (-moz-mac-lion-theme) {
	  #main-window[defaultfxtheme="true"] #urlbar {
		border-color: hsla(0,0%,0%,.35) hsla(0,0%,0%,.25) hsla(0,0%,0%,.15) !important;
	  }
	}
	@media not all and (-moz-mac-lion-theme) {
	  #main-window[defaultfxtheme="true"] #urlbar:-moz-window-inactive {
		border-color: rgba(146, 146, 146, 0.84) !important;
	  }
	}
	
	#main-window[defaultfxtheme="true"] #urlbar[focused]{
	  border-color: -moz-mac-focusring !important;
	}
	
	#nav-bar #ctraddon_puib_separator{
	  margin-top: 2px !important;
	  margin-bottom: 2px !important;
	}
	
	#navigator-toolbox #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button,
	#navigator-toolbox #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker,
	#navigator-toolbox #nav-bar .toolbarbutton-1 {
	  padding: 0px 0px !important;
	  margin: 0.5px 0 0 0 !important;
	}
	
	#navigator-toolbox #nav-bar #bookmarks-menu-button .toolbarbutton-menubutton-dropmarker .dropmarker-icon{
	  -moz-margin-start:1px !important;
	}
	#navigator-toolbox #nav-bar #bookmarks-menu-button .toolbarbutton-menubutton-dropmarker{
	  -moz-margin-start:-5px !important;
	}
	
	/* star button in urlbar support */
	#navigator-toolbox  #nav-bar #urlbar-container #bookmarks-menu-button {
      -moz-appearance: none !important;
      background: unset !important;
      box-shadow: unset !important;
	  border: unset !important;
    }

	#navigator-toolbox #nav-bar #urlbar-container #bookmarks-menu-button > .toolbarbutton-menubutton-button {
	  -moz-appearance: none !important;
	  padding: 0px 0px !important;
	  background: none !important;
	  border: 0px solid !important;
	  margin: -8px 0 !important;
	  box-shadow: none !important;
	}
	#navigator-toolbox #nav-bar #urlbar-container  #bookmarks-menu-button > .toolbarbutton-menubutton-button:not(.tabs-newtab-button):not(.tab-close-button):not([disabled]):hover > .toolbarbutton-icon {
      background-image: linear-gradient(hsla(0,0%,100%,.0), hsla(0,0%,100%,.0)) !important;
      border-color: hsla(210,54%,20%,.0) hsla(210,54%,20%,.0) hsla(210,54%,20%,.0) !important;
      box-shadow: none !important;
	}
	
	/*buttons with SVG images*/
	#nav-bar .toolbarbutton-1[image$="svg"] .toolbarbutton-icon {
	  max-width: 22px !important;
	  max-height: 22px !important;
	  width: auto !important;
	  height: auto !important;
	}

	/* The Fox, only better add-on support*/
	#navigator-toolbox[slimChrome="true"] #nav-bar{
	  padding-bottom:2px !important;
	}

	/* zoom page add-on */
    #navigator-toolbox #nav-bar #zoompage-zoomdisplay-s,
    #navigator-toolbox #nav-bar #zoompage-zoomin-s,
    #navigator-toolbox #nav-bar #zoompage-zoomout-s,
    #navigator-toolbox #nav-bar #zoompage-zoomdisplay-t,
    #navigator-toolbox #nav-bar #zoompage-zoomout-t,
    #navigator-toolbox #nav-bar #zoompage-zoomin-t {
      -moz-appearance: none !important;
    }
	#nav-bar #zoompage-zoomout-s image,
	#nav-bar #zoompage-zoomin-s image,
	#nav-bar #zoompage-zoomout-t image,
	#nav-bar #zoompage-zoomin-t image{
	  padding:1px !important;
	}
	
	#navigator-toolbox #nav-bar #zoompage-zoomin-c,
	#navigator-toolbox #nav-bar #zoompage-zoomout-c,
	#navigator-toolbox #nav-bar #zoompage-zoomin-n,
	#navigator-toolbox #nav-bar #zoompage-zoomout-n {
      -moz-appearance: none !important;
      margin-left:-4px !important;
      margin-right:-4px !important;
    }
	#nav-bar #zoompage-zoomin-c image,
	#nav-bar #zoompage-zoomdisplay-c image,
	#nav-bar #zoompage-zoomout-c image,
	#nav-bar #zoompage-zoomin-n image,
	#nav-bar #zoompage-zoomdisplay-n image,
	#nav-bar #zoompage-zoomout-n image{
	  padding:0px !important;
	}
}