@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	#main-window[tabsintitlebar] #titlebar{
	  padding-top: 0px !important;
	  padding-bottom: 24px !important;
	}
	
	#main-window[chromehidden~="toolbar"][chromehidden~="directories"]:-moz-lwtheme #titlebar{
	  margin-bottom: 0px !important;
	}

	/*#main-window[inFullscreen]:not(:-moz-lwtheme) #nav-bar {
	  margin-top:-10px !important;
	}*/
	#main-window[inFullscreen]:not(:-moz-lwtheme) #TabsToolbar {
	  padding-top:0px !important;
	}
	
	#TabsToolbar,
	#TabsToolbar:not(:-moz-lwtheme),
	#main-window[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"][inactive="true"]:not([customizing="true"]) ~ #TabsToolbar{
	  -moz-appearance: none !important;
	}

	#main-window:not([tabsintitlebar])[sizemode="normal"]  #TabsToolbar,
	#main-window[tabsintitlebar][sizemode="normal"]  #TabsToolbar{
	  margin-left: 0px !important;
	}
	.tabbrowser-tabs{
	  margin-top: -1px !important;
	  margin-bottom: 1px !important;
	}
	#TabsToolbar #ctraddon_appbutton{
	  margin-top: 0px !important;
	  margin-bottom: 1px !important;
	}
	
	#main-window[defaultfxtheme="true"] #TabsToolbar:not(:-moz-lwtheme){
	  background: #d2d2d2 !important;
	}
	
	#main-window[defaultfxtheme="true"] #titlebar:not(:-moz-lwtheme){
	  -moz-appearance:none !important;
	  background-image: linear-gradient(to bottom, #eeeeee, #ececec) !important;
	}
	#main-window[defaultfxtheme="true"] #nav-bar:not(:-moz-lwtheme) {
	  box-shadow: none !important;
	}
	
	#main-window:not([tabsintitlebar])[sizemode="normal"][defaultfxtheme="true"][tabsontop="false"] #nav-bar:not(:-moz-lwtheme) {
	  background-image: linear-gradient(to bottom, #d6d6d6, #d2d2d2) !important;
	}
	#main-window:not([tabsintitlebar])[sizemode="normal"][defaultfxtheme="true"][tabsontop="false"]:-moz-window-inactive  #nav-bar:not(:-moz-lwtheme) {
	  background-image: linear-gradient(to bottom, #eeeeee, #d6d6d6, #d2d2d2) !important;
	}
	
	#main-window[tabsontop="false"]:-moz-lwtheme #navigator-toolbox toolbar {
	  background:none !important
	}
	/*#main-window[tabsontop="false"]:-moz-lwtheme #titlebar {
	  padding-bottom:0px !important;
	}
	#main-window[tabsintitlebar][tabsontop="false"][sizemode="normal"]:-moz-lwtheme #titlebar {
	  margin-bottom:-14px !important;
	}*/
	
}