@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#urlbar{
	  border: 1px solid !important;
	  border-color: #626262 #787878 #8c8c8c !important;
	}
	@media (-moz-mac-lion-theme) {
	  #urlbar {
		border-color: hsla(0,0%,0%,.35) hsla(0,0%,0%,.25) hsla(0,0%,0%,.15) !important;
	  }
	}
	@media not all and (-moz-mac-lion-theme) {
	  #urlbar:-moz-window-inactive {
		border-color: rgba(146, 146, 146, 0.84) !important;
	  }
	}
	#main-window[defaultfxtheme="true"] #urlbar[focused="true"]{
	  border-color: -moz-mac-focusring !important;
	}

}