@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#nav-bar :-moz-any(#back-button, #forward-button)[cui-areatype="toolbar"] {
	  list-style-image: url(chrome://browser/skin/menuPanel.png) !important;
	}
	
	#nav-bar #back-button:not(:hover) > .toolbarbutton-icon,
	#nav-bar #forward-button:not(:hover) > .toolbarbutton-icon,
	#nav-bar #back-button:hover[disabled] > .toolbarbutton-icon,
	#nav-bar #forward-button:hover[disabled] > .toolbarbutton-icon{
	  -moz-appearance: none !important;
	  border: 1px solid transparent !important;
	  box-shadow: none !important;
	  background: none !important;
	  border-radius: 2.5px !important;
	}
	#nav-bar #forward-button:not(:hover) > .toolbarbutton-icon,
	#nav-bar #forward-button:hover[disabled] > .toolbarbutton-icon{
	  border: 1px solid transparent !important;
	}
	
	#nav-bar #back-button:hover > .toolbarbutton-icon,
	#nav-bar #forward-button:hover > .toolbarbutton-icon{
	  -moz-appearance: none !important;
	  border: 1px solid #c8d4e0 !important;
	  border-radius: 2.5px !important;
	  box-shadow: none !important;
	  transition-property: none !important;
      transition-duration: 0ms !important;
	}

	#nav-bar #forward-button:not(:hover) > .toolbarbutton-icon{
	  background: none !important;
	  border: 1px solid transparent !important;
	  box-shadow: none !important;
	}
	
	#main-windows[fx31="true"] #nav-bar #forward-button > .toolbarbutton-icon{
      padding:2px 6px !important;
	}

	#main-window[fx31="true"] #navigator-toolbox #nav-bar #urlbar-container #forward-button {
	  margin-top:-10px !important;
	  margin-bottom:-10px !important;
	}

	#nav-bar #forward-button {
	  width: 38px !important;
	}
	
	#forward-button:not([disabled]){
	  margin-left:10px !important;
	  margin-right:10px !important;
	}
	
	#nav-bar #back-button > .toolbarbutton-icon {
	  padding-top: 2px !important;
	  padding-bottom: 2px !important;
	}

	@media (-moz-os-version: windows-win10) {
	  #main-window[fx31="true"][fx45plus="true"] #navigator-toolbox #nav-bar #urlbar-container #forward-button {
		margin-top:-7px !important;
		margin-bottom:-7px !important;
	  }
 	  #main-window[fx31="true"][fx45plus="true"] #navigator-toolbox #nav-bar #urlbar-container #forward-button .toolbarbutton-icon {
		-moz-padding-start: 6px !important;
	  }
	  #main-window[fx45plus="true"] #nav-bar #back-button > .toolbarbutton-icon {
		padding-top: 4px !important;
		padding-bottom: 4px !important;
	  }
	}
	
	
	#nav-bar #forward-button{
	  -moz-image-region: rect(0px, 96px, 32px, 64px) !important;
	  list-style-image: url(chrome://classic_theme_restorer/content/images/menuPanel3.png) !important;
	}

	/* prevents small button mode from altering image region */
	#nav-bar #urlbar-container #back-button:not([cui-areatype="menu-panel"]),
	#nav-bar #back-button{
	  -moz-image-region: rect(0px, 64px, 32px, 32px) !important;
	  list-style-image: url(chrome://classic_theme_restorer/content/images/menuPanel3.png) !important;
	}

	/* remove back/forward buttons clipping */
	#nav-bar * {
	  clip-path:none !important;
	}

	/* urlbar tweaks */
	#nav-bar #urlbar {
	  padding-top: 2px !important;
	  padding-bottom: 2px !important;
	}
	
	/* START: urlbar border tweaking (default theme does not provide left urlbar border) */
	#main-window[defaultfxtheme="true"] #urlbar,
	#main-window[defaultfxtheme="true"] .searchbar-textbox {
	  border: 1px solid ThreeDShadow !important;
	}
	@media (-moz-windows-default-theme) {
	  #main-window[defaultfxtheme="true"] #urlbar,
	  #main-window[defaultfxtheme="true"] .searchbar-textbox {
		border-color: rgba(0,0,0,.32) !important;
	  }
	}
	#main-window[defaultfxtheme="true"] #urlbar:-moz-lwtheme,
	#main-window[defaultfxtheme="true"] .searchbar-textbox:-moz-lwtheme {
	  border-color: rgba(0,0,0,.32) !important;
	}
	@media (-moz-windows-default-theme) {
	  #main-window[defaultfxtheme="true"] #urlbar:not(:-moz-lwtheme),
	  #main-window[defaultfxtheme="true"] .searchbar-textbox:not(:-moz-lwtheme) {
		border-color: hsla(210,54%,20%,.25) hsla(210,54%,20%,.27) hsla(210,54%,20%,.3) hsla(210,54%,20%,.27) !important;
	  }

	  #main-window[defaultfxtheme="true"] #urlbar:not(:-moz-lwtheme)[focused],
	  #main-window[defaultfxtheme="true"] .searchbar-textbox:not(:-moz-lwtheme)[focused] {
		border-color: Highlight !important;
	  }
	}
	@media (-moz-os-version: windows-win10) {
		#main-window[defaultfxtheme="true"] #urlbar,
		#main-window[defaultfxtheme="true"] .searchbar-textbox {
		  border: 1px solid hsl(0,0%,90%) !important;
		}
		@media (-moz-windows-default-theme) {
		  #main-window[defaultfxtheme="true"] #urlbar,
		  #main-window[defaultfxtheme="true"] .searchbar-textbox {
			border-color: hsl(0,0%,90%) !important;
		  }
		}
		#main-window[defaultfxtheme="true"] #urlbar:-moz-lwtheme,
		#main-window[defaultfxtheme="true"] .searchbar-textbox:-moz-lwtheme {
		  border-color: rgba(0,0,0,.32) !important;
		}
		@media (-moz-windows-default-theme) {
		  #main-window[defaultfxtheme="true"] #urlbar:not(:-moz-lwtheme),
		  #main-window[defaultfxtheme="true"] .searchbar-textbox:not(:-moz-lwtheme) {
			border-color: hsl(0,0%,90%) !important;
		  }
		  #main-window[defaultfxtheme="true"] #urlbar:hover:not(:-moz-lwtheme),
		  #main-window[defaultfxtheme="true"] .searchbar-textbox:hover:not(:-moz-lwtheme) {
			border-color: hsl(0,0%,80%) !important;
		  }
		  #main-window[defaultfxtheme="true"] #urlbar:not(:-moz-lwtheme)[focused],
		  #main-window[defaultfxtheme="true"] .searchbar-textbox:not(:-moz-lwtheme)[focused] {
			border-color: Highlight !important;
		  }
		}
	}
	/* END: urlbar border tweaking (default theme does not provide left urlbar border) */


	#main-window[fx40plus="true"] #nav-bar toolbarbutton[cui-areatype="toolbar"] > :-moz-any(#zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button) > .toolbarbutton-icon,
	#main-window[fx40plus="true"] #nav-bar :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button):-moz-any([cui-areatype="toolbar"],:not([cui-areatype])) > .toolbarbutton-icon,
	#main-window[fx40plus="true"] #nav-bar :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button):-moz-any([cui-areatype="toolbar"],:not([cui-areatype])) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#main-window[fx40plus="true"] #nav-bar #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
	  width: unset !important;
	}
	
	#nav-bar #urlbar,
	window:not([chromehidden~="toolbar"]) #urlbar-container > #forward-button[disabled] {
	  transition: none !important;
	  transition-property:  none !important;
	  transition-delay: 0s !important;
	}

	#forward-button[disabled] {
	  visibility:hidden !important;
	}

	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar > #notification-popup-box[hidden] + *:-moz-locale-dir(ltr) {
	  padding-left: 2px !important;
	  transition: none !important;
	}

	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar > #notification-popup-box[hidden] + *:-moz-locale-dir(rtl) {
	  padding-right: 2px !important;
	  transition: none !important;
	}

	#nav-bar #loop-call-button[cui-areatype="toolbar"] > .toolbarbutton-badge-container  image,
	#nav-bar #loop-button[cui-areatype="toolbar"] > .toolbarbutton-badge-stack image {
	  min-width:30px !important;
	  height:30px !important;
	}
	
	@media (min-resolution: 1.1dppx) {
		#main-window[fx40plus="true"] #nav-bar toolbarbutton[cui-areatype="toolbar"] > :-moz-any(#zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button) > .toolbarbutton-icon,
		#main-window[fx40plus="true"] #nav-bar :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button):-moz-any([cui-areatype="toolbar"],:not([cui-areatype])) > .toolbarbutton-icon,
		#main-window[fx40plus="true"] #nav-bar :-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #switch-to-metro-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button):-moz-any([cui-areatype="toolbar"],:not([cui-areatype])) > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
		#main-window[fx40plus="true"] #nav-bar #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
		#main-window[fx40plus="true"][defaultfxtheme="true"] #nav-bar :-moz-any(#ctraddon_bookmarks-button,#ctraddon_history-button,#ctraddon_back-button,#ctraddon_forward-button,#ctraddon_stop-button,#ctraddon_reload-button,#ctraddon_ctr-button,#ctraddon_go-button) > .toolbarbutton-icon {
		  width: 46px !important;
		  height: 42px !important;
		}
		
		#main-window[fx40plus="true"] #nav-bar #urlbar-icons :-moz-any(#bookmarks-menu-button,#feed-button) .toolbarbutton-icon {
		  width: 18px !important;
		  height: 18px !important;
		}
	}
	
	/*Fx45+ fix*/
	#main-window[fx45plus="true"] #nav-bar #urlbar-wrapper,
	#main-window[fx45plus="true"] #nav-bar #urlbar,
	#main-window[fx45plus="true"] #nav-bar .searchbar-textbox{
	  min-height: 28px !important;
	  height: 28px !important;
	}

}