@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#context-back image,
	#context-forward image,
	#context-reload image,
	#context-stop image,
	#context-bookmarkpage image{
	  display:none !important;
	}
	#context-back label,
	#context-forward label,
	#context-reload label,
	#context-stop label,
	#context-bookmarkpage label{
	  display: inline !important;
	}

	#context-navigation{
	  -moz-box-orient: vertical !important;
	}

	#context-back label,
	#context-forward label,
	#context-reload label,
	#context-stop label,
	#context-bookmarkpage label{
      -moz-margin-start:15px !important; /* 32 -17 */
	}

	/*Windows screen dpi value of 105%*/
	@media (min-resolution: 101dpi) {
		#context-back label,
		#context-forward label,
		#context-reload label,
		#context-stop label,
		#context-bookmarkpage label{
		  -moz-margin-start:13px !important;
		}
	}
	/*Windows screen dpi value of 115%/125%/150%*/
	@media (min-resolution: 110dpi) {
		#context-back label,
		#context-forward label,
		#context-reload label,
		#context-stop label,
		#context-bookmarkpage label{
		  -moz-margin-start:11px !important;
		}
	}
	/*Windows screen dpi value of 200%*/
	@media (min-resolution: 192dpi) {
		#context-back label,
		#context-forward label,
		#context-reload label,
		#context-stop label,
		#context-bookmarkpage label{
		  -moz-margin-start:8px !important;
		}
	}

	#context-navigation{
	  margin-bottom:-4px !important;
	}

}