@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	#urlbar-container #bookmarks-menu-button .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/starbutton1.png");
	}
	#urlbar-container #bookmarks-menu-button:hover .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/starbutton1.png");
	}
	#urlbar-container #bookmarks-menu-button:hover:active .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/starbutton1.png");
	}
	#urlbar-container #bookmarks-menu-button[starred] .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/starbutton2.png");
	}
	#urlbar-container #bookmarks-menu-button[starred]:hover .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/starbutton2.png");
	}
	#urlbar-container #bookmarks-menu-button[starred]:hover:active .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/starbutton2.png");
	}

	#main-window[defaultfxtheme="true"] #editBookmarkPanelStarIcon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/starred48.png") !important;
	}
}