@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	#main-window[defaultfxtheme="true"][tabsontop="false"][sizemode="normal"] #TabsToolbar:not(:-moz-lwtheme) {
	  border-left: 1px solid hsla(209,67%,12%,0.35) !important;
	  border-right: 1px solid hsla(209,67%,12%,0.35) !important;
	  background-clip: padding-box !important;
	}
	
	#main-window[tabsintitlebar]:not([inFullscreen]) #navigator-toolbox #toolbar-menubar{
	  margin-top: 3px !important;
	  margin-bottom: 3px !important;
	}

	#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="normal"] #navigator-toolbox #toolbar-menubar[autohide="true"][inactive="true"]{
	  margin-top: 26px !important;
	}

	#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="maximized"] #navigator-toolbox #toolbar-menubar[autohide="true"][inactive="true"]{
	  margin-top: 23px !important;
	}
	
	#main-window[tabsintitlebar]:not([inFullscreen]) #navigator-toolbox #toolbar-menubar{
	  margin-top: 3px !important;
	  margin-bottom: 3px !important;
	}

	#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="normal"] #navigator-toolbox #toolbar-menubar[autohide="true"][inactive="true"]{
	  margin-top: 25px !important;
	}
	#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="maximized"] #navigator-toolbox #toolbar-menubar[autohide="true"][inactive="true"]{
	  margin-top: 25px !important;
	}
	
	#main-window[defaultfxtheme="true"] #TabsToolbar:not(:-moz-lwtheme){
	  background: -moz-Dialog !important;
	}
	
	#main-window[defaultfxtheme="true"][fx32plus="true"][tabsontop="false"] #TabsToolbar:not(:-moz-lwtheme) {
	  border-bottom: 1px solid hsla(209,67%,12%,0.25) !important;
	}
	
	/* add missing line for Fx38+ */
	#main-window[defaultfxtheme="true"][fx38plus="true"][tabsontop="false"] #TabsToolbar:-moz-lwtheme {
	  border-bottom: 1px solid hsla(209,67%,12%,0.25) !important;
	}
	
	/* Windows 10 tweaks */
	@media (-moz-os-version: windows-win10) {
	  #main-window[defaultfxtheme="true"][fx32plus="true"][tabsontop="false"] #TabsToolbar:not(:-moz-lwtheme),	
	  #main-window[defaultfxtheme="true"][fx32plus="true"][tabsontop="false"] #TabsToolbar:-moz-lwtheme {
		border-bottom: 0 !important;
	  }
	}
	
	/* for LavaFox themes */
	#main-window[currenttheme^="LavaFox"][tabsintitlebar]:not([inFullscreen])[sizemode="normal"] #navigator-toolbox #toolbar-menubar[autohide="true"][inactive="true"]{
	  margin-top: 0px !important;
	}
	#main-window[currenttheme^="LavaFox"][tabsintitlebar]:not([inFullscreen])[sizemode="maximized"] #navigator-toolbox #toolbar-menubar[autohide="true"][inactive="true"]{
	  margin-top: 8px !important;
	}

}