@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	/* urlbar border tweaks */
	#urlbar {
	  border: 1px solid ThreeDShadow !important;
	}
	@media (-moz-windows-default-theme) {
	  #urlbar {
		border-color: rgba(0,0,0,.32) !important;
	  }
	}
	#urlbar:-moz-lwtheme {
	  border-color: rgba(0,0,0,.32) !important;
	}

}