@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#nav-bar .toolbarbutton-1:not([type="menu-button"]) .toolbarbutton-icon {
	  min-width: 18px !important;
	  height: 18px !important;
	  padding: 0 !important;
	  margin: 0 !important;
	}
	#nav-bar .toolbarbutton-1[type="menu-button"] .toolbarbutton-icon {
	  min-width: 18px !important;
	  height: 18px !important;
	  padding: 0 !important;
	  margin: 0 !important;
	}

	#nav-bar .toolbarbutton-1 .toolbarbutton-text {
	  padding: 4px 0 0 0 !important;
	  margin: 0px !important;
	}
	
	#nav-bar .toolbarbutton-1 dropmarker {
	  padding: 0px !important;
	  margin: 0px !important;
	}

	#nav-bar .toolbarbutton-1 {
	  margin: 1px 0 !important;
	}
	
	#navigator-toolbox #nav-bar #urlbar-container{
	  margin-left: 4px !important;
	}
	#navigator-toolbox #nav-bar #urlbar{
	  border-radius: 3px !important;
	}

	#ctr_addon-bar toolbarbutton {
	  max-height: 38px !important;
	  margin-top: 0px !important;
	}

	#ctr_extra-bar {
	  padding-bottom: 3px !important;
	}
}
