@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul),
			   url(chrome://global/content/customizeToolbar.xul) {

	#ctr_bookmarks-menu-toolbar-button > .toolbarbutton-icon,
	#ctr_bookmarks-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/bookmarks_mac.png");
	}
	#ctr_bookmarks-menu-toolbar-button:active > .toolbarbutton-icon,
	#ctr_bookmarks-button:active > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/bookmarks2_mac.png");
	}
	#ctr_bookmarks-menu-toolbar-button:-moz-lwtheme-brighttext > .toolbarbutton-icon,
	#ctr_bookmarks-button:-moz-lwtheme-brighttext > .toolbarbutton-icon{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/bookmarks-inv.png");
	}
	#ctr_bookmarks-menu-toolbar-button[open] > .toolbarbutton-icon,
	#ctr_bookmarks-menu-toolbar-button[open]:active > .toolbarbutton-icon,
	#ctr_bookmarks-menu-toolbar-button[open]:-moz-lwtheme-brighttext > .toolbarbutton-icon,
	#ctr_bookmarks-menu-toolbar-button[open]:active:-moz-lwtheme-brighttext > .toolbarbutton-icon{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/bookmarks3_mac.png");
	}
	#ctr_history-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/history_mac.png");
	}
	#ctr_history-button:active  > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/history2_mac.png");
	}
	#ctr_history-button:-moz-lwtheme-brighttext > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/history-inv.png");
	}
	#ctr_back-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/back_mac.png");
	}
	#ctr_back-button:active  > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/back2_mac.png");
	}
	#ctr_back-button:-moz-lwtheme-brighttext > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/back-inv.png");
	}
	#ctr_forward-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/forward_mac.png");
	}
	#ctr_forward-button:active > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/forward2_mac.png");
	}
	#ctr_forward-button:-moz-lwtheme-brighttext > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/forward-inv.png");
	}
	#ctr_stop-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/stop_mac.png");
	}
	#ctr_stop-button:active > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/stop2_mac.png");
	}
	#ctr_stop-button:-moz-lwtheme-brighttext > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/stop-inv.png");
	}
	#ctr_reload-button > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/reload_mac.png");
	}
	#ctr_reload-button:active  > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/reload2_mac.png");
	}
	#ctr_reload-button:-moz-lwtheme-brighttext > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/reload-inv.png");
	}

	#TabsToolbar #ctr_appbutton{
	  -moz-appearance:none !important;
	  border:1px solid #727475 !important;
	  border-color: hsla(214,89%,21%,.5) !important;
	  border-radius: 2.5px 2.5px 0 0 !important;
	  margin-top:1px !important;
	}

	#ctr_appbuttonPopup menu,
	#ctr_appbuttonPopup .menu-right{
	  -moz-padding-start: 0px !important;
	  -moz-margin-start: 0px !important;	
	}
	
	#ctr_appbuttonPopup #newwebDeveloperPopupMenu #newmenuWebDeveloperPopup menu,
	#ctr_appbuttonPopup #menu_newBookmarksmenu #newbookmarksMenuPopup menu,
	#ctr_appbuttonPopup #menu_newHistorymenu #newHistorymenuPopup menu,
	#ctr_appbuttonPopup #newwebDeveloperPopupMenu #newmenuWebDeveloperPopup .menu-right,
	#ctr_appbuttonPopup #menu_newBookmarksmenu #newbookmarksMenuPopup .menu-right,
	#ctr_appbuttonPopup #menu_newHistorymenu #newHistorymenuPopup .menu-right{
	  -moz-padding-start:20px !important;
	  -moz-margin-start: 0px !important;
	}

	#nav-bar #ctr_appbutton #ctr_appbuttonPopup{
		margin-top:0px !important;
	}

	/* ctr addonbar */
	#ctr_addon-bar:not(:-moz-lwtheme),
	#ctr_addon-bar:not(:-moz-lwtheme)[customizing] {
	  background:linear-gradient(to bottom,#d2d2d2,#d9d9d9,#e9e9e9);
	}
	
	#ctr_addon-bar toolbarbutton {
	  -moz-appearance: none !important;
	  margin: 0px 3px !important;
	  padding:0px !important;
	}
	#ctr_addon-bar toolbarbutton .toolbarbutton-icon {
	  max-width: 18px;
	  max-height: 18px;
	}
	#ctr_addon-bar .toolbarbutton-menubutton-dropmarker {
	  padding: 0px !important;
	  margin-left: 1px !important;
	  margin-right: 1px !important;
	}

}

.ctr_linuxonly,
.ctr_windowsonly{
  visibility: collapse !important;
}

@-moz-document url(chrome://classic_theme_restorer/content/options.xul) {
	#ctr_appbutton_list2{
	  visibility: visible !important;
	}
	#ctr_wincontrols,
	#ctr_appbutton_list1{
	  visibility: collapse !important;
	}
}