@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {

	#nav-bar #back-button:not(:-moz-lwtheme){
	  background:none !important;
	  padding: 0 !important;
	  height: 0 !important;
	}
	#nav-bar #forward-button:not(:-moz-lwtheme){
	  background:none !important;
	  padding: 0 !important;
	  height: 0 !important;
	  border: 0 !important;
	}

	#bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker {
	  margin-top: 3px !important;
	  margin-bottom: 3px !important;
	}
	
	#navigator-toolbox #nav-bar .toolbarbutton-1 {
	  margin: -3px 0 !important;
	}
	#navigator-toolbox #nav-bar #forward-button {
	  margin-right: 2px !important;
	}

}