@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	/* Tab close button */
	.tab-close-button {
	  -moz-appearance: none !important;
	  -moz-image-region: rect(0, 64px, 16px, 48px) !important;
	  border: none !important;
	  padding: 0px !important;
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close.png") !important;
	}

	.tab-close-button:hover,
	.tab-close-button:hover[selected="true"] {
	  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
	}

	.tab-close-button:hover:active,
	.tab-close-button:hover:active[selected="true"] {
	  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
	}

	.tab-close-button[selected="true"] {
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}

	/**/
	.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
	  /*-moz-padding-end: 0px !important;*/
	  -moz-padding-start: 0px !important;
	}
	
	.tabs-newtab-button{
	  margin-right:-15px !important;
	}

	/* for Windows Classic Theme  */
	@media all and (-moz-windows-classic) {
		.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme){
		  background-image: linear-gradient(to top,#e6e3df,#eae8e4,#f5f5f2) !important;
		}
		
		.tabs-newtab-button:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):not(:hover):not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #afaba5,#c0bdb6,#c9c6c0) !important;
		  color:black !important;
		}
		
		.tabs-newtab-button:hover:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):hover:not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top,#cbc7c1,#d5d2cc,#e1ded8) !important;
		  color:black !important;
		}
		
		.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):not(:hover):not(:-moz-lwtheme){
		  background-size: 95% 100% !important;
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #afaba5,#c0bdb6,#c9c6c0) !important;
		}
	}
	
	/* for Windows Luna Blue and Olive Theme */
	@media not all and (-moz-windows-classic) {
   	
		.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme){
		  background-image: linear-gradient(to top,#f3f1e8,#eae8e4,#f5f5f2) !important;
		}
		
		.tabs-newtab-button:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):not(:hover):not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #afaba5,#c0bdb6,#c9c6c0) !important;
		  color:black !important;
		}
		
		.tabs-newtab-button:hover:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):hover:not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top,#cbc7c1,#d5d2cc,#e1ded8) !important;
		  color:black !important;
		}
		
		.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):not(:hover):not(:-moz-lwtheme){
		  background-size: 95% 100% !important;
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #afaba5,#c0bdb6,#c9c6c0) !important;
		}
    }
	
	@media all and (-moz-windows-theme: luna-silver){
		.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme){
		  background-image: linear-gradient(to top,#ececee,#f0eff1,#f5f5f6) !important;
		}
		
		.tabs-newtab-button:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):not(:hover):not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #b8b7bb,#cccbce,#d5d4d8) !important;
		  color:black !important;
		}
		
		.tabs-newtab-button:hover:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):hover:not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top,#d4d3d7,#dfdee1,#e8e8ea) !important;
		  color:black !important;
		}
		
		.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):not(:hover):not(:-moz-lwtheme){
		  background-size: 95% 100% !important;
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #b8b7bb,#cccbce,#d5d4d8) !important;
		}
	}
	
	@media all and (-moz-windows-theme: royale){
		.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme){
		  background-image: linear-gradient(to top,#f3f1f4,#f6f5f7,#fbfafb) !important;
		}
		
		.tabs-newtab-button:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):not(:hover):not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #c1bfc3,#d5d3d7,#dfdde1) !important;
		  color:black !important;
		}
		
		.tabs-newtab-button:hover:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):hover:not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top,#dddbdf,#e8e7ea,#f5f4f5) !important;
		  color:black !important;
		}
		
		.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):not(:hover):not(:-moz-lwtheme){
		  background-size: 95% 100% !important;
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #c1bfc3,#d5d3d7,#dfdde1) !important;
		}
	}
	
	@media all and (-moz-windows-theme: zune){
		.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme){
		  background-image: linear-gradient(to top,#eeeeee,#f1f1f1,#f8f8f8) !important;
		}
		
		.tabs-newtab-button:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):not(:hover):not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #bababa,#cecece,#d7d7d7) !important;
		  color:black !important;
		}
		
		.tabs-newtab-button:hover:not(:-moz-lwtheme),
		.tabbrowser-tab:not([selected="true"]):hover:not(:-moz-lwtheme) {
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top,#d6d6d6,#e1e1e1,#f0f0f0) !important;
		  color:black !important;
		}
		
		.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):not(:hover):not(:-moz-lwtheme){
		  background-size: 95% 100% !important;
		  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #bababa,#cecece,#d7d7d7) !important;
		}
	}
}
