@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	/* customize area buttons */
	.ctr_cuibutlabel:-moz-locale-dir(ltr){
	  margin: 6px 3px 0px 0px !important;
	}
	.ctr_cuibutlabel:-moz-locale-dir(rtl){
	  margin: 6px 0px 0px 3px !important;
	}
	
	.customizationmode-button label{
	  min-width:0 !important;
	  margin: 0 -2px !important;
	}

	#customization-reset-button2 label{
	  margin: 0 -8px !important;
	}

}