@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
	
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[actiontype="visiturl"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="visiturl"],
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[actiontype="searchengine"][originaltype="action searchengine heuristic"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="searchengine"][originaltype="action searchengine heuristic"],
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[actiontype="searchengine"][originaltype="action searchengine"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="searchengine"][originaltype="action searchengine"],
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[type="autofill heuristic"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[type="autofill heuristic"],
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[actiontype="visiturl"] *,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="visiturl"] *,
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[actiontype="searchengine"][originaltype="action searchengine heuristic"] *,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="searchengine"][originaltype="action searchengine heuristic"] *,
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[actiontype="searchengine"][originaltype="action searchengine"] *,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="searchengine"][originaltype="action searchengine"] *,
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[type="autofill heuristic"] *,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[type="autofill heuristic"] * {
	  min-height: 0 !important;
	  height: 0 !important;
	  max-height: 0 !important;
	  visibility: collapse !important;
	}
	
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[actiontype="visiturl"] + richlistitem:not([collapse="true"]),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="visiturl"] + richlistitem:not([collapse="true"]),
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[actiontype="searchengine"][originaltype="action searchengine heuristic"] + richlistitem:not([collapse="true"]),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="searchengine"][originaltype="action searchengine heuristic"] + richlistitem:not([collapse="true"]),
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[actiontype="searchengine"][originaltype="action searchengine"] + richlistitem:not([collapse="true"]),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="searchengine"][originaltype="action searchengine"] + richlistitem:not([collapse="true"]),
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[type="autofill heuristic"] + richlistitem:not([collapse="true"]),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[type="autofill heuristic"] + richlistitem:not([collapse="true"]) {
	  border-top: 1px solid transparent !important;
	  border-bottom: 1px solid transparent !important;
	}
	
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) .autocomplete-richlistbox,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistbox {
	  transition: unset !important;
	}

	/* this will remove the tiny popup lines visible after the "search with..." and "visit" items get hidden */
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete)[ctrsubboxstyle="height: 0px;"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"][ctrsubboxstyle="height: 0px;"],
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete)[ctrsubboxstyle="height: 2px;"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"][ctrsubboxstyle="height: 2px;"],
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete)[ctrsubboxstyle="height: 8px;"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"][ctrsubboxstyle="height: 8px;"],
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete)[ctrsubboxstyle="height: 42px;"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"][ctrsubboxstyle="height: 42px;"],
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete)[ctrsubboxstyle="height: 45px;"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"][ctrsubboxstyle="height: 45px;"],
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete)[ctrsubboxstyle="height: 49px;"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"][ctrsubboxstyle="height: 49px;"] {
      margin-left: -10000000000px !important;
	}
}