@import url(chrome://ctraddon_os_special/skin/alt_autocompleteextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	/* Richlist item code for Firefox 48 and 49 */
	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem {
	  -moz-binding: url("chrome://classic_theme_restorer/content/urlbarBindings.xml#autocomplete-richlistitem") !important;
	}
	
	/* Firefox 51 popup code works fine with Firefox 48+ */
	panel[type="autocomplete-richlistbox"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] {
	  -moz-binding: url("chrome://classic_theme_restorer/content/urlbarBindings51.xml#urlbar-rich-result-popup") !important;
	}

	/* Richlist item code for Firefox 50 beta2+ and 51+; (50b1 not supported anymore)*/
	#main-window[fx50plus="true"] panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem,
	#main-window[fx50plus="true"] #PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem {
	  -moz-binding: url("chrome://classic_theme_restorer/content/urlbarBindings51.xml#autocomplete-richlistitem") !important;
	}

	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem {
	  -moz-box-orient: vertical !important;
	  min-height: unset !important;
	  height: unset !important;
	  max-height: unset !important;
	  padding: 4px 0px !important;
	  border-radius: 0 !important;
	}

	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem .ac-separator,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-separator {
	  display:none !important;
	  visibility: collapse !important;
	}

	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem :-moz-any(.ac-site-icon,.ac-title,.ac-action,.ac-url),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem :-moz-any(.ac-site-icon,.ac-title,.ac-action,.ac-url){
	  -moz-margin-start: unset !important;
	  -moz-margin-end: unset !important;
	  -moz-padding-start: unset !important;
	  -moz-padding-end: unset !important;
	}

	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem .ac-type-icon,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-type-icon {
	  margin-inline-start: 4px !important;
	  margin-inline-end: 4px !important;
	}

	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem .ac-site-icon,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-site-icon {
	  -moz-margin-start: 4px !important;
	}

	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem .ac-title,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-title{
	  -moz-margin-start: 5px !important;
	  margin-top: -3px !important;
	}
	
	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem :-moz-any(.ac-url, .ac-action),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem :-moz-any(.ac-url, .ac-action){
	  -moz-margin-start: 25px !important;
	  margin-top: 1px !important;
	  padding-bottom: 1px !important;
	}

	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem .ac-action[actiontype=searchengine]:not([selected]),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-action[actiontype=searchengine]:not([selected]) {
	  display: block !important;
	}
	
	panel[type="autocomplete-richlistbox"] .search-one-offs,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .search-one-offs {
	  visibility: collapse !important;
	  display: none !important;
	}
	
	@media all and (-moz-windows-classic) {
	  panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem .ac-title,
	  #PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-title {
		padding-top: 2px !important;
		padding-bottom: 2px !important;
	  }

	  panel[type="autocomplete-richlistbox"] .autocomplete-richlistbox,
	  #PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistbox {
		padding: 0 !important;
	  }
	}
	
	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem #ibox-spacer,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem #ibox-spacer {
	  width:100000px !important;
	}

}