@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
	
	panel[type="autocomplete-richlistbox"] richlistitem[actiontype="visiturl"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="visiturl"],
	panel[type="autocomplete-richlistbox"] richlistitem[actiontype="searchengine"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="searchengine"],
	panel[type="autocomplete-richlistbox"] richlistitem[type="autofill heuristic"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[type="autofill heuristic"],
	panel[type="autocomplete-richlistbox"] richlistitem[actiontype="visiturl"] *,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="visiturl"] *,
	panel[type="autocomplete-richlistbox"] richlistitem[actiontype="searchengine"] *,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="searchengine"] *,
	panel[type="autocomplete-richlistbox"] richlistitem[type="autofill heuristic"] *,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[type="autofill heuristic"] * {
	  min-height: 0 !important;
	  height: 0 !important;
	  max-height: 0 !important;
	  visibility: collapse !important;
	}
	
	panel[type="autocomplete-richlistbox"] richlistitem[actiontype="visiturl"] + richlistitem:not([collapse="true"]),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="visiturl"] + richlistitem:not([collapse="true"]),
	panel[type="autocomplete-richlistbox"] richlistitem[actiontype="searchengine"] + richlistitem:not([collapse="true"]),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[actiontype="searchengine"] + richlistitem:not([collapse="true"]),
	panel[type="autocomplete-richlistbox"] richlistitem[type="autofill heuristic"] + richlistitem:not([collapse="true"]),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[type="autofill heuristic"] + richlistitem:not([collapse="true"]) {
	  border-top: 1px solid transparent !important;
	  border-bottom: 1px solid transparent !important;
	}

}