@-moz-document url(chrome://browser/content/browser.xul) {
	
	/* Aero-like appearance */
	.autocomplete-richlistitem[selected="true"] {
	  color: inherit !important;
	  background-color: transparent !important;
	  background-image:
		linear-gradient(to right, rgba(255,255,255,0.4) 0px, transparent 0px),
		linear-gradient(to left, rgba(255,255,255,0.4) 0px, transparent 0px),
		linear-gradient(to top, rgba(255,255,255,0.3) 0px, transparent 0px),
		linear-gradient(to bottom, rgba(163,196,247,0.2), rgba(122,180,246,0.2)) !important;
	  border-radius: 6px !important;
	  outline: 1px solid rgba(124,163,206,0.7) !important;
	  -moz-outline-radius: 3px !important;
	  outline-offset: -1px !important;
	}
	
	/* replace inverted text colors with default ones */
	.ac-title-text[selected] .ac-emphasize-text,
	.ac-title[selected=true] {
	  color: hsl(0, 0%, 0%) !important;
	}
	.ac-url-text[selected] .ac-emphasize-text,
	.ac-url[selected=true] {
	  color: hsl(210, 77%, 47%) !important;
	}
	.ac-action-text[selected] .ac-emphasize-text,
	.ac-action[selected=true] {
	  color: hsl(178, 100%, 28%) !important;
	}
	
	/* replace inverted icons with default ones */
	.ac-type-icon[type=keyword][selected],
	.ac-site-icon[type=searchengine][selected] {
	  list-style-image: url(chrome://global/skin/icons/autocomplete-search.svg#search-icon) !important;
	}
	.ac-type-icon[type=switchtab][selected],
	.ac-type-icon[type=remotetab][selected] {
	  list-style-image: url("chrome://browser/skin/urlbar-tab.svg#tab") !important;
	}
	.ac-type-icon[type=bookmark][selected][current] {
	  list-style-image: url("chrome://browser/skin/urlbar-star.svg#star") !important;
	}
	.ac-site-icon[selected] {
	  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png") !important;
	}
	
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[selected="true"]:not([collapse="true"]),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[selected="true"]:not([collapse="true"]) {
	  border-top: 1px solid transparent !important;
	  border-bottom: 1px solid transparent !important;
	}

	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) richlistitem[selected="true"] + richlistitem:not([collapse="true"]),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem[selected="true"] + richlistitem:not([collapse="true"]) {
	  border-top: 1px solid transparent !important;
	  border-bottom: 1px solid transparent !important;
	}
	
	panel[type="autocomplete-richlistbox"]:not(#PopupAutoComplete) .autocomplete-richlistbox,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistbox {
	  padding: 1px !important;
	}

}