@-moz-document url(chrome://browser/content/browser.xul) {
	
	panel[type="autocomplete-richlistbox"] richlistitem :-moz-any(.ac-emphasize-text-title, .ac-emphasize-text-tag, .ac-emphasize-text-url,.ac-emphasize-text),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] richlistitem :-moz-any(.ac-emphasize-text-title, .ac-emphasize-text-tag, .ac-emphasize-text-url,.ac-emphasize-text) {
	  font-weight: unset !important;
	  font-stretch: unset !important;
      /*font-style: unset !important;
      text-decoration: unset !important;*/
	  box-shadow: unset !important;
	  background-color: unset !important;
	  border-radius: unset !important;
	  text-shadow: unset !important;
	}

}