@import url(chrome://classic_theme_restorer/content/css/appbutton2.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
 
	#ctraddon_appbutton2 .toolbarbutton-text {
	  visibility: hidden !important;  
	}
    #ctraddon_appbutton2 > .toolbarbutton-icon {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/appbutton-inv.png") !important;
      padding: 0 9px !important;
	}
	
	#ctraddon_appbutton2{
	  width: 32px !important;
	}

	#ctraddon_appbutton2:-moz-locale-dir(ltr) > label{
	  -moz-appearance: none !important;
      margin: -1px -26px 0 -34px !important;
	}
	#ctraddon_appbutton2:-moz-locale-dir(rtl) > label{
	  -moz-appearance: none !important;
      margin: -1px -34px 0 -26px !important;
	}

	#ctraddon_appbutton2 > .toolbarbutton-menu-dropmarker{
      visibility: collapse !important;
	}
	
	#main-window:not([tabsintitlebar]) #titlebar-buttonbox-container{
	  -moz-appearance: none !important;
	  visibility:collapse !important;
	}
	
	#main-window[tabsintitlebar] #titlebar:not([hidden]) ~ * #toolbar-menubar {
	  -moz-margin-start: 34px !important;
	}

	#main-window[tabsintitlebar][customizing][sizemode="maximized"] #titlebar:not([hidden]) ~ * #toolbar-menubar {
	  -moz-margin-start: 0px !important;
	}

	#main-window[tabsintitlebar][chromehidden~="menubar"][sizemode="maximized"]:not([tabsontop="false"]) #toolbar-menubar ~ #TabsToolbar,
	#main-window[tabsintitlebar][sizemode="maximized"]:not([tabsontop="false"]) #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
	  -moz-margin-start: 32px;
	}
	
	@media all and (-moz-windows-theme:aero) {

		@media all and (-moz-windows-compositor) {
		
			#main-window[tabsintitlebar][sizemode="normal"] #TabsToolbar .titlebar-placeholder{
			  visibility:collapse !important;
			}
			#main-window[tabsintitlebar][chromehidden~="menubar"][sizemode="normal"] #toolbar-menubar ~ #TabsToolbar,
			#main-window[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
			  margin-top: 20px !important;
			}
			
		}
		@media not all and (-moz-windows-compositor) {	
			#main-window[tabsintitlebar][chromehidden~="menubar"][sizemode="normal"] #toolbar-menubar ~ #TabsToolbar,
			#main-window[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
			  margin-top: 18px !important;
			}
		}

	}
	
	@media (-moz-os-version: windows-win7){
	  @media (-moz-windows-classic){
	
		#main-window[tabsintitlebar][sizemode="normal"] #TabsToolbar .titlebar-placeholder{
		  visibility:collapse !important;
		}
		#main-window[tabsintitlebar][chromehidden~="menubar"][sizemode="normal"] #toolbar-menubar ~ #TabsToolbar,
		#main-window[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
		  margin-top: 16px !important;
		}
	
	  }
	}

}