@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	/* make text visible */
	#TabsToolbar #ctr_appbutton .toolbarbutton-text {
	  display: -moz-box !important;
	  color: white !important;
	  text-shadow:  0 0 1px rgba(0,0,0,.7),
					0 1px 1.5px rgba(0,0,0,.5) !important;
	  font-weight: bold !important;
	}

	/* remove icon */
	#TabsToolbar #ctr_appbutton .toolbarbutton-icon{
	  visibility: collapse !important;
	}
}