@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul),
			   url(chrome://global/content/customizeToolbar.xul) {

	#ctr_appbutton,
	#main-window:not([tabsintitlebar]) #ctr_appbutton2,
	#main-window[customizing][sizemode="maximized"] #ctr_appbutton2	{
	  visibility: collapse !important;
	}
	
	window:not([chromehidden~="toolbar"]) #ctr_appbutton2,
	#main-window:not([tabsintitlebar]):not([chromehidden~="toolbar"]) #ctr_appbutton {
	  visibility: visible !important;
	}

	/* style appbutton*/
	#ctr_appbutton2{
	  -moz-appearance:none !important;
	  background-clip: padding-box !important;
	  border-radius: 0 0 4px 4px;
	  width: 95px !important;
	  color: white !important;
	  text-shadow: 0 0 1px rgba(0,0,0,.7),
				   0 1px 1.5px rgba(0,0,0,.5) !important;
	  font-weight: bold !important;
	  padding: 0 1.4em .05em !important;
	  border-top: none !important;
	  border-right: 2px solid !important;
	  border-left: 2px solid !important;
	  border-bottom: 2px solid !important;
	  -moz-border-right-colors: rgba(255,255,255,.60) hsla(214,89%,21%,.5) !important;
	  -moz-border-left-colors: rgba(255,255,255,.60) hsla(214,89%,21%,.5) !important;
	  -moz-border-bottom-colors: rgba(255,255,255,.70) hsla(214,89%,21%,.5) !important;
	}

	#ctr_appbutton2 #ctr_appbuttonPopup{
	  margin-top:-1px;
	  margin-left:0px;
	}
	
	#ctr_appbutton2:hover:active,
	#ctr_appbutton2[open] {
	  border-radius:0 0 0 0;
	}

	#ctr_appbutton2:-moz-locale-dir(ltr) > label{
	  -moz-appearance: none !important;
      margin: 0 -18px 0 -24px !important;
	}
	#ctr_appbutton2:-moz-locale-dir(rtl) > label{
	  -moz-appearance: none !important;
      margin: 0 -24px 0 -18px !important;
	}

	#customization-palette #ctr_appbutton{
	  visibility: visible !important;
	}
	#customization-palette #ctr_appbutton{
	  background:url("chrome://classic_theme_restorer/content/images/enableoption.png") center no-repeat !important;
	}
	
	#main-window[tabsintitlebar] #titlebar:not([hidden]) ~ * #toolbar-menubar:-moz-locale-dir(ltr) {
	  margin-left: 99px !important;
	}
	#main-window[tabsintitlebar][customizing][sizemode="maximized"] #titlebar:not([hidden]) ~ * #toolbar-menubar:-moz-locale-dir(ltr) {
	  margin-left: 26px !important;
	}
	#main-window[tabsintitlebar] #titlebar:not([hidden]) ~ * #toolbar-menubar:-moz-locale-dir(rtl) {
	  margin-right: 99px !important;
	}
	#main-window[tabsintitlebar][customizing][sizemode="maximized"] #titlebar:not([hidden]) ~ * #toolbar-menubar:-moz-locale-dir(rtl) {
	  margin-right: 26px !important;
	}
	
	#main-window[tabsintitlebar][chromehidden~="menubar"][sizemode="maximized"] #toolbar-menubar ~ #TabsToolbar:-moz-locale-dir(ltr),
	#main-window[tabsintitlebar][sizemode="maximized"] #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar:-moz-locale-dir(ltr) {
	  margin-left: 97px;
	}
	#main-window[tabsintitlebar][chromehidden~="menubar"][sizemode="maximized"] #toolbar-menubar ~ #TabsToolbar:-moz-locale-dir(rtl),
	#main-window[tabsintitlebar][sizemode="maximized"] #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar:-moz-locale-dir(rtl) {
	  margin-right: 97px;
	}
	
	#main-window:not([tabsintitlebar]) #titlebar-buttonbox-container{
	  -moz-appearance: none !important;
	  visibility:collapse !important;
	}

	/* restore hidden titlebar and move it behind tabs toolbar for 
	   'tabsintitlebar=false' */

	@media all and (-moz-windows-theme:aero) {

		@media all and (-moz-windows-compositor) {
			#main-window:not([tabsintitlebar])[sizemode="normal"] #titlebar{
				display: block !important;
				margin-bottom:-30px !important;
			}
			
			#main-window:not([tabsintitlebar])[sizemode="maximized"] #titlebar{
				display: block !important;
				margin-bottom:-24px !important;
			}
			
			#main-window[sizemode="normal"] #ctr_appbutton2{
				margin-top:1px !important;
				margin: 1px 0 2px 0px !important;
			}
			
			#main-window[sizemode="maximized"] #ctr_appbutton2{
				margin-top:0px !important;
				margin: 0px 0 2px 0px !important;
			}
			
			#main-window[sizemode="normal"] > #titlebar:-moz-lwtheme #ctr_appbutton2{
				margin-top:1px !important;
				margin: -1px 0 2px 1px !important;
			}
			
			#main-window[tabsintitlebar][chromehidden~="menubar"][sizemode="normal"] #toolbar-menubar ~ #TabsToolbar,
			#main-window[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
			  margin-top: 20px !important;
			}
			
			#main-window[tabsintitlebar][sizemode="normal"] #TabsToolbar .titlebar-placeholder{
			  visibility:collapse !important;
			}
			
		}
		
		@media not all and (-moz-windows-compositor) {
			#main-window:not([tabsintitlebar])[sizemode="normal"] #titlebar,
			#main-window:not([tabsintitlebar])[sizemode="maximized"] #titlebar{
				display: block !important;
				margin-bottom:-18px !important;
				-moz-appearance:none !important;
			}
			
			#main-window:not([tabsintitlebar]) #ctr_appbutton2{
				margin-top:-1px !important;
				margin: -1px 0 2px 1px !important;
			}
			#main-window[tabsintitlebar][sizemode="normal"]  #ctr_appbutton2{
				margin-top:0px !important;
				margin: 0px 0 10px 1px !important;
			}
			#main-window[tabsintitlebar][sizemode="maximized"]  #ctr_appbutton2{
				margin-top:-1px !important;
				margin: -2px 0 2px 0px !important;
			}
			#main-window[sizemode="normal"] > #titlebar:-moz-lwtheme #ctr_appbutton2{
				margin-top:1px !important;
				margin: -1px 0 8px 1px !important;
			}
			
			#main-window[tabsintitlebar][chromehidden~="menubar"][sizemode="normal"] #toolbar-menubar ~ #TabsToolbar,
			#main-window[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar {
			  margin-top: 18px !important;
			}
		}
		
	}

	@media all and (-moz-windows-classic) {
	  @media  not all and (-moz-os-version: windows-xp){
		#main-window:not([tabsintitlebar])[sizemode="normal"] #titlebar,
		#main-window:not([tabsintitlebar])[sizemode="maximized"] #titlebar{
			display: block !important;
			margin-bottom:-14px !important;
			-moz-appearance:none !important;
		}
		#main-window:not([tabsintitlebar]) #ctr_appbutton2{
			margin-top:0px !important;
			margin: 0px 0 16px 0px !important;
		}
	  }
	  @media  all and (-moz-os-version: windows-xp){
		#main-window:not([tabsintitlebar])[sizemode="normal"] #titlebar,
		#main-window:not([tabsintitlebar])[sizemode="maximized"] #titlebar{
			display: block !important;
			margin-bottom:-12px !important;
			-moz-appearance:none !important;
		}
		#ctr_appbutton2{
			margin-top:0px !important;
			margin: 0px 0 2px 0px !important;
		}
	  }
	}
	
	@media all and (-moz-windows-theme: luna-blue){
		#main-window:not([tabsintitlebar])[sizemode="normal"] #titlebar,
		#main-window:not([tabsintitlebar])[sizemode="maximized"] #titlebar{
			display: block !important;
			margin-bottom:-12px !important;
			-moz-appearance:none !important;
		}
		#main-window[tabsintitlebar][sizemode="normal"]  #ctr_appbutton2{
				margin-top:0px !important;
				margin: 0px 0 10px 1px !important;
			}
		
		#main-window[tabsintitlebar][sizemode="maximized"]   #ctr_appbutton2{
			margin-top:-1px !important;
			margin: -1px 0 8px 0px !important;
		}
	}
	
	@media all and (-moz-windows-theme: luna-silver){
		#main-window:not([tabsintitlebar])[sizemode="normal"] #titlebar,
		#main-window:not([tabsintitlebar])[sizemode="maximized"] #titlebar{
			display: block !important;
			margin-bottom:-12px !important;
			-moz-appearance:none !important;
		}
	
		#main-window[tabsintitlebar][sizemode="normal"]  #ctr_appbutton2{
				margin-top:0px !important;
				margin: 0px 0 10px 1px !important;
			}
		
		#main-window[tabsintitlebar][sizemode="maximized"]   #ctr_appbutton2{
			margin-top:-1px !important;
			margin: -1px 0 8px 0px !important;
		}
	}
	
	@media all and (-moz-windows-theme: luna-olive){
		#main-window:not([tabsintitlebar])[sizemode="normal"] #titlebar,
		#main-window:not([tabsintitlebar])[sizemode="maximized"] #titlebar{
			display: block !important;
			margin-bottom:-12px !important;
			-moz-appearance:none !important;
		}
	
		#main-window[tabsintitlebar][sizemode="normal"]  #ctr_appbutton2{
				margin-top:0px !important;
				margin: 0px 0 10px 1px !important;
			}
		
		#main-window[tabsintitlebar][sizemode="maximized"]   #ctr_appbutton2{
			margin-top:-1px !important;
			margin: -1px 0 8px 0px !important;
		}
	}
	
	@media all and (-moz-windows-theme: royale){
		#main-window:not([tabsintitlebar])[sizemode="normal"] #titlebar,
		#main-window:not([tabsintitlebar])[sizemode="maximized"] #titlebar{
			display: block !important;
			margin-bottom:-12px !important;
			-moz-appearance:none !important;
		}
	
		#main-window[tabsintitlebar][sizemode="normal"]  #ctr_appbutton2{
				margin-top:0px !important;
				margin: 0px 0 13px 1px !important;
			}
		
		#main-window[tabsintitlebar][sizemode="maximized"]   #ctr_appbutton2{
			margin-top:-1px !important;
			margin: -1px 0 8px 0px !important;
		}
	}
	
	@media all and (-moz-windows-theme: zune){
		#main-window:not([tabsintitlebar])[sizemode="normal"] #titlebar,
		#main-window:not([tabsintitlebar])[sizemode="maximized"] #titlebar{
			display: block !important;
			margin-bottom:-12px !important;
			-moz-appearance:none !important;
		}

		#main-window[tabsintitlebar][sizemode="normal"]  #ctr_appbutton2{
				margin-top:0px !important;
				margin: 0px 0 13px 1px !important;
			}
		
		#main-window[tabsintitlebar][sizemode="maximized"]   #ctr_appbutton2{
			margin-top:-1px !important;
			margin: -1px 0 8px 0px !important;
		}
	}

}