@import url(chrome://ctraddon_os_special/skin/appbuttxtextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	window:not([chromehidden~="toolbar"]) #ctraddon_appbutton {
	  visibility: visible !important;
	}
	
	#ctraddon_appbutton2{
	  visibility: collapse !important;
	}
	
	/* remove icon */
	#ctraddon_appbutton .toolbarbutton-icon{
	  visibility: collapse !important;
	}

	/* make text visible */
	#ctraddon_appbutton .toolbarbutton-text {
	  display: -moz-box !important;
      padding-left: 4px !important;
      padding-right: 4px !important;
	}
	
	/* make text visible */
	#TabsToolbar #ctraddon_appbutton .toolbarbutton-text {
	  color: white !important;
	  text-shadow:  0 0 1px rgba(0,0,0,.7),
					0 1px 1.5px rgba(0,0,0,.5) !important;
	  font-weight: bold !important;
	}

}