@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	window:not([chromehidden~="toolbar"]) #ctraddon_appbutton {
	  visibility: visible !important;
	}
	
	#main-window[inFullscreen][inDOMFullscreen] * toolbar #ctraddon_appbutton{
	  visibility: collapse !important;
	}
	
	#ctraddon_appbutton2{
	  visibility: collapse !important;
	}

}