@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	panel[type="autocomplete-richlistbox"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] {
	  -moz-binding: url("chrome://classic_theme_restorer/content/urlbarBindings.xml#urlbar-rich-result-popup") !important;
	}

	#main-window[fx51plus="true"] panel[type="autocomplete-richlistbox"],
	#main-window[fx51plus="true"] #PopupAutoCompleteRichResult[autocompleteinput="urlbar"] {
	  -moz-binding: url("chrome://classic_theme_restorer/content/urlbarBindings51.xml#urlbar-rich-result-popup") !important;
	}

	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem:not([collapse="true"]) .ac-title,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem:not([collapse="true"]) .ac-title,
	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem:not([collapse="true"]) .ac-separator,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem:not([collapse="true"]) .ac-separator {
	  display: none !important;
	}

	panel[type="autocomplete-richlistbox"] .ac-type-icon,
	  #PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .ac-type-icon {
	  -moz-box-ordinal-group: 1000000 !important;
	}

	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem .ac-action,
	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem .ac-url,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-action,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-url{
	  -moz-margin-start: -6px !important;
	  margin-top:-3px !important;
	}
	
	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem .ac-action[actiontype=searchengine]:not([selected]),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-action[actiontype=searchengine]:not([selected]) {
	  display: block !important;
	}
	
	panel[type="autocomplete-richlistbox"] .search-one-offs,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .search-one-offs {
	  visibility: collapse !important;
	  display: none !important;
	}
	
	@media all and (-moz-windows-classic) {
	  panel[type="autocomplete-richlistbox"] .autocomplete-richlistbox,
	  #PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistbox {
		padding: 0 !important;
	  }
	}

}