@import url(chrome://ctraddon_os_special/skin/autocompl_no_title2extra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	panel[type="autocomplete-richlistbox"],
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] {
	  -moz-binding: url("chrome://classic_theme_restorer/content/urlbarBindings51.xml#urlbar-rich-result-popup") !important;
	}

	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem:not(:-moz-any([collapse="true"],[actiontype="searchengine"],[actiontype="visiturl"],[actiontype="switchtab"])) .ac-title,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem:not(:-moz-any([collapse="true"],[actiontype="searchengine"],[actiontype="visiturl"],[actiontype="switchtab"])) .ac-title,
	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem:not([collapse="true"]) .ac-separator,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem:not([collapse="true"]) .ac-separator,
	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem:-moz-any([actiontype="searchengine"],[actiontype="visiturl"],[actiontype="switchtab"]) :-moz-any(.ac-url, .ac-action),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem:-moz-any([actiontype="searchengine"],[actiontype="visiturl"],[actiontype="switchtab"]) :-moz-any(.ac-url, .ac-action){
	  display: none !important;
	}
	
	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem:-moz-any([actiontype="searchengine"],[actiontype="visiturl"],[actiontype="switchtab"]) .ac-title,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem:-moz-any([actiontype="searchengine"],[actiontype="visiturl"],[actiontype="switchtab"]) .ac-title,
	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem:not(:-moz-any([collapse="true"],[actiontype="searchengine"],[actiontype="visiturl"],[actiontype="switchtab"])) :-moz-any(.ac-url, .ac-action),
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem:not(:-moz-any([collapse="true"],[actiontype="searchengine"],[actiontype="visiturl"],[actiontype="switchtab"])) :-moz-any(.ac-url, .ac-action){
	  -moz-margin-start: -6px !important;
	  margin-top:-3px !important;
	}
	
	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem .ac-site-icon,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-site-icon {
	  -moz-margin-start: 4px !important;
	}

	panel[type="autocomplete-richlistbox"] .autocomplete-richlistitem:not([collapse="true"]) .ac-type-icon,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem:not([collapse="true"]) .ac-type-icon {
	  -moz-box-ordinal-group: 1000000 !important;
	}
	
	panel[type="autocomplete-richlistbox"] .search-one-offs,
	#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .search-one-offs {
	  visibility: collapse !important;
	  display: none !important;
	}
	
	@media all and (-moz-windows-classic) {
	  panel[type="autocomplete-richlistbox"] .autocomplete-richlistbox,
	  #PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistbox {
		padding: 0 !important;
	  }
	}

}