@import url(chrome://ctr_os_special/skin/back-forwardextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul),
			   url(chrome://global/content/customizeToolbar.xul) {
	
	#ctr_back-forward-button{
	  visibility: visible !important;
	}
	
	#urlbar-container #back-button,
	#urlbar-container #forward-button{
	  visibility: collapse !important;
	}
	
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper {
	  clip-path: none !important;
	}

	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  margin-left: 0px !important;
	  transition: none !important;
	  transition-property:  none !important;
	  transition-delay: 0s !important;
	}
	
    #urlbar:-moz-locale-dir(ltr){
      border-left:1px solid #b4c1cf !important;
    }
    #urlbar[focused="true"]:-moz-locale-dir(ltr){
      border-left:1px solid #72c0fe !important;
    }
	
    #urlbar:-moz-locale-dir(rtl){
      border-right:1px solid #b4c1cf !important;
    }
    #urlbar[focused="true"]:-moz-locale-dir(rtl){
      border-right:1px solid #72c0fe !important;
    }
	
	#nav-bar #urlbar-container #forward-button[disabled]{
	  visibility:collapse !important;
	  opacity: 1.0 !important;
	}
	
	#ctr_back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
	#ctr_forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon{
	  transform: scaleX(-1);
	}
}