@import url(chrome://ctraddon_os_special/skin/back-forwardextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#ctraddon_back-forward-button{
	  visibility: visible !important;
	}

	#main-window * * #back-button,
	#main-window * * #forward-button,	
	#main-window * * #urlbar-container #back-button,
	#main-window * * #urlbar-container #forward-button{
	  visibility: collapse !important;
	  display:none !important;
	}
	
    #main-window:not([fx57plus="true"]):not([chromehidden~="toolbar"]) toolbox #urlbar-wrapper,
	window:not([chromehidden~="toolbar"]) toolbar #urlbar-wrapper,
	#urlbar-container, #urlbar-container *,
	#urlbar-wrapper, #urlbar-wrapper *,
	#urlbar, #urlbar *{
	  clip-path: unset !important;
	}
	
	#urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  transition: none !important;
	  transition-property: none !important;
	  transition-delay: 0s !important;
	}
	
	#main-window * #urlbar-container #forward-button[disabled]{
	  visibility:collapse !important;
	  opacity: 1.0 !important;
	}
	
	#ctraddon_back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
	#ctraddon_forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon{
	  transform: scaleX(-1);
	}
	
	#main-window:not([fx57plus="true"]) #nav-bar #urlbar-container,
	#main-window:not([fx57plus="true"]) #nav-bar #search-container{
	  margin-top:1px;
	  margin-bottom:1px;
	}
	
	/*#main-window[fx57plus="true"] #nav-bar-customization-target{
	  margin-top:1px;
	  margin-bottom:1px;
	}*/
}