@import url(chrome://ctraddon_os_special/skin/back-forwardextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#ctraddon_back-forward-button{
	  visibility: visible !important;
	}
	
	#urlbar-container:-moz-locale-dir(ltr) #back-button,
	#urlbar-container:-moz-locale-dir(ltr) #forward-button{
	  visibility: collapse !important;
	}
	
	/* RTL locale fix */
	#urlbar-container:-moz-locale-dir(rtl) #back-button,
	#urlbar-container:-moz-locale-dir(rtl) #forward-button{
	  visibility: collapse !important; /*hidden*/
	}

	#urlbar-container *{
	  clip-path: none !important;
	}
	
	#urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  transition: none !important;
	  transition-property: none !important;
	  transition-delay: 0s !important;
	}
	
	#main-window #navigator-toolbox #urlbar-container #forward-button[disabled]{
	  visibility:collapse !important;
	  opacity: 1.0 !important;
	}
	
	#ctraddon_back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
	#ctraddon_forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon{
	  transform: scaleX(-1);
	}
}