@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/*@-moz-document url(chrome://browser/content/browser.xul) {*/

	#main-window #navigator-toolbox #nav-bar * #ctraddon_back-button {
	  -moz-margin-end:-1px !important;
	  -moz-padding-end:0px !important;
	}
	#main-window #navigator-toolbox #nav-bar * #ctraddon_forward-button {
	  -moz-margin-start:-1px !important;
	  -moz-padding-start:0px !important;
	}
	toolbar:not(#nav-bar) #ctraddon_back-button {
	  -moz-margin-end:-1px !important;
	  -moz-padding-end:2px !important;
	}
	toolbar:not(#nav-bar) #ctraddon_forward-button {
	  -moz-margin-start:-1px !important;
	  -moz-padding-start:2px !important;
	}

/*}*/