@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/*@-moz-document url(chrome://browser/content/browser.xul) {*/

	#main-window #navigator-toolbox #nav-bar #nav-bar-customization-target > *:last-child{
	  -moz-margin-end:2px !important;
	}
	#nav-bar-overflow-button{
	  display:none !important;
	}

/*}*/