@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	.tabbrowser-tab:not([pinned]):not([protected])[first-visible-tab][last-visible-tab] .tab-close-button,
	.tabbrowser-tab:not([pinned]):not([protected])[first-tab="true"][last-tab="true"]:not([first-visible-tab]) .tab-close-button,
	#main-window[tabmix_lwt="true"] #TabsToolbar .tabbrowser-tab[protected][first-visible-tab][last-visible-tab] .tab-close-button,
	#main-window[tabmix_lwt="true"] #TabsToolbar .tabbrowser-tab[protected][first-tab="true"][last-tab="true"]:not([first-visible-tab]) .tab-close-button,
	#main-window[tabmix_lwt="false"] #TabsToolbar .tabbrowser-tab[protected][first-visible-tab][last-visible-tab] .tab-close-button,
	#main-window[tabmix_lwt="false"] #TabsToolbar .tabbrowser-tab[protected][first-tab="true"][last-tab="true"]:not([first-visible-tab]) .tab-close-button{
	  visibility: collapse !important;
	}
	
	#navigator-toolbox #TabsToolbar #tabbrowser-tabs .tabbrowser-tab:not([pinned]):not([protected])[first-visible-tab][last-visible-tab] .tab-close-button,
	#navigator-toolbox #TabsToolbar #tabbrowser-tabs .tabbrowser-tab:not([pinned]):not([protected])[first-tab="true"][last-tab="true"]:not([first-visible-tab]) .tab-close-button {
	  visibility: collapse !important;
	  display: none !important;
	}

}