@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	/* Tabs toolbar tab close button (Fx31+) */
	#navigator-toolbox #TabsToolbar #tabs-closebutton,
	#navigator-toolbox #TabsToolbar #ctraddon_tabs-closebutton{
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close_alt.png") !important;
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}
	#navigator-toolbox #TabsToolbar #tabs-closebutton:hover,
	#navigator-toolbox #TabsToolbar #ctraddon_tabs-closebutton:hover{
	  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
	}
	#navigator-toolbox #TabsToolbar #tabs-closebutton:hover:active,
	#navigator-toolbox #TabsToolbar #ctraddon_tabs-closebutton:hover:active {
	  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
	}
}
