@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
	.tabbrowser-tab .tab-close-button {
	  visibility: collapse !important;
	}
	#ctraddon_tabs-closebutton{
	  visibility: visible !important;
	  -moz-box-ordinal-group: 0 !important;
	}
	#main-window #navigator-toolbox #TabsToolbar #ctraddon_tabs-closebutton{
	  -moz-appearance: none !important;
	  border: none !important;
	  padding: 0px !important;
	}
}

@-moz-document url(chrome://classic_theme_restorer/content/options.xul) {
	#ctraddon_pw_alw_tabclose{
	  visibility: collapse !important;
	}
}