@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	.toolbarbutton-1[cui-areatype="menu-panel"] { 
	  margin: 0px !important;
	  padding-top: 0px !important;
	  padding-bottom: 0px !important;
	}
	
	.panel-subview-body *,
	.subviewbutton{
	  margin-top: 0px !important;
	  margin-bottom: 0px !important;
	  padding-top:0px !important;
	  padding-bottom:0px !important;
	}
	
	.panel-subview-header{
	  padding-top:4px !important;
	  padding-bottom:4px !important;
	}

	#bookmarks-menu-button #BMB_bookmarksPopup .subviewbutton {
	  padding:0px 2px !important;
	  margin:0px 2px !important;
	}

	#PanelUI-popup #PanelUI-contents:empty {
	  height: 0px !important;
	  margin-bottom:-11.5px !important;
	}
	#PanelUI-popup #PanelUI-contents:empty::before {
	  background:none !important;
	  animation: none !important;
	}


}