@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://classic_theme_restorer/content/options.xul) {

	.customcssfx57yes {
	  -moz-appearance: none !important;
	  background-color: #1eff00 !important;
	}

	.customcssfx57d {
	  -moz-appearance: none !important;
	  background-color: #b2bdff !important;
	}
	
	.customcssfx57we {
	  -moz-appearance: none !important;
	  background-color: yellow !important;
	}

	.customcssfx57nn {
	  -moz-appearance: none !important;
	  background-color: #febf52 !important;
	}

	.customcssfx57no {
	  -moz-appearance: none !important;
	  background-color: #ff8282 !important;
	} 

}