@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#ctraddon_cuibuttonsbox{
	  visibility: visible !important;
	}
	
	#main-window[defaultfxtheme="true"] #ctraddon_cuibuttonsbox{
	  background-color: #ececec;
      padding: 0 15px 13px 15px;
	  margin-top:-8px;
	}

	/* customize area buttons */
	#main-window[defaultfxtheme="true"] #ctraddon_cui-smallnavbut-button1,
	#main-window[defaultfxtheme="true"] #ctraddon_cui-smallnavbut-button2,
	#main-window[defaultfxtheme="true"] #ctraddon_cui-icons-button,
	#main-window[defaultfxtheme="true"] #ctraddon_cui-iconstext-button,
	#main-window[defaultfxtheme="true"] #ctraddon_cui-textonly-button{
	  -moz-padding-start: 0 !important;
	  -moz-padding-end: 0 !important;
	  -moz-margin-start: -1px !important;
	  -moz-margin-end: 0 !important;
	}

	#main-window[defaultfxtheme="true"] #ctraddon_cui-smallnavbut-button1:-moz-locale-dir(ltr),
	#main-window[defaultfxtheme="true"] #ctraddon_cui-icons-button:-moz-locale-dir(ltr),
	#main-window[defaultfxtheme="true"] #ctraddon_cui-iconstext-button:-moz-locale-dir(ltr),
	#main-window[defaultfxtheme="true"] #ctraddon_cui-smallnavbut-button2:-moz-locale-dir(rtl),
	#main-window[defaultfxtheme="true"] #ctraddon_cui-iconstext-button:-moz-locale-dir(rtl),
	#main-window[defaultfxtheme="true"] #ctraddon_cui-textonly-button:-moz-locale-dir(rtl){
	  border-top-right-radius: 0px !important;
	  border-bottom-right-radius: 0px !important;
	}
	#main-window[defaultfxtheme="true"] #ctraddon_cui-smallnavbut-button2:-moz-locale-dir(ltr),
	#main-window[defaultfxtheme="true"] #ctraddon_cui-iconstext-button:-moz-locale-dir(ltr),
	#main-window[defaultfxtheme="true"] #ctraddon_cui-textonly-button:-moz-locale-dir(ltr),
	#main-window[defaultfxtheme="true"] #ctraddon_cui-smallnavbut-button1:-moz-locale-dir(rtl),
	#main-window[defaultfxtheme="true"] #ctraddon_cui-icons-button:-moz-locale-dir(rtl),
	#main-window[defaultfxtheme="true"] #ctraddon_cui-iconstext-button:-moz-locale-dir(rtl){
	  border-top-left-radius: 0px !important;
	  border-bottom-left-radius: 0px !important;
	}
	
	#main-window:not([defaultfxtheme="true"]) #ctraddon_cuibuttons_main,
	#main-window:not([defaultfxtheme="true"]) #ctraddon_cui-smallnavbut-button2,
	#main-window:not([defaultfxtheme="true"]) #ctraddon_cui-smallnavbut-button1 {
	  visibility:collapse !important;
	}

	/* customize area buttons */	
	#main-window:not([defaultfxtheme="true"]) #ctraddon_cui-icons-button,
	#main-window:not([defaultfxtheme="true"]) #ctraddon_cui-iconstext-button,
	#main-window:not([defaultfxtheme="true"]) #ctraddon_cui-textonly-button{
	  -moz-padding-start: 0 !important;
	  -moz-padding-end: 0 !important;
	  -moz-margin-start: -1px !important;
	  -moz-margin-end: 0 !important;
	}

	#main-window:not([defaultfxtheme="true"]) #ctraddon_cui-icons-button:-moz-locale-dir(ltr),
	#main-window:not([defaultfxtheme="true"]) #ctraddon_cui-iconstext-button:-moz-locale-dir(ltr),
	#main-window:not([defaultfxtheme="true"]) #ctraddon_cui-iconstext-button:-moz-locale-dir(rtl),
	#main-window:not([defaultfxtheme="true"]) #ctraddon_cui-textonly-button:-moz-locale-dir(rtl){
	  border-top-right-radius: 0px !important;
	  border-bottom-right-radius: 0px !important;
	}
	#main-window:not([defaultfxtheme="true"]) #ctraddon_cui-iconstext-button:-moz-locale-dir(ltr),
	#main-window:not([defaultfxtheme="true"]) #ctraddon_cui-textonly-button:-moz-locale-dir(ltr),
	#main-window:not([defaultfxtheme="true"]) #ctraddon_cui-icons-button:-moz-locale-dir(rtl),
	#main-window:not([defaultfxtheme="true"]) #ctraddon_cui-iconstext-button:-moz-locale-dir(rtl){
	  border-top-left-radius: 0px !important;
	  border-bottom-left-radius: 0px !important;
	}

	.customizationmode-button{
	  min-width: 0 !important;
	}
	
	.customizationmode-button:hover{
	  border-top: 1px solid #89b3d4 !important;
	  border-bottom: 1px solid #89b3d4 !important;
	}
	
	.ctraddon_cuibutlabel,
	.ctraddon_cuibutlabel:hover{
	  -moz-appearance: none !important;
	  border:0 !important;
	  border-top:0 !important;
	  border-bottom:0 !important;
	  background: none !important;
	  min-width: 0 !important;
	  box-shadow: none !important;
	  padding-left:0 !important;
	  padding-right:0 !important;
	}
	
}