@import url(chrome://ctr_os_special/skin/cuibuttonsextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#ctr_cuibuttonsbox{
	  visibility: visible !important;
	  background-color: #ececec;
      padding: 0 15px 15px 15px;
	  margin-top:-6px;
	}

	/* customize area buttons */	
	#customization-smallnavbut-button1:-moz-locale-dir(ltr),
	#customization-smallnavbut-button2:-moz-locale-dir(ltr),
	#customization-icons-button:-moz-locale-dir(ltr),
	#customization-iconstext-button:-moz-locale-dir(ltr),
	#customization-textonly-button:-moz-locale-dir(ltr){
	  padding-left:0 !important;
	  padding-right:0 !important;
	  margin-left:-1px !important;
	  margin-right:0 !important;
	}
	#customization-smallnavbut-button1:-moz-locale-dir(rtl),
	#customization-smallnavbut-button2:-moz-locale-dir(rtl),
	#customization-icons-button:-moz-locale-dir(rtl),
	#customization-iconstext-button:-moz-locale-dir(rtl),
	#customization-textonly-button:-moz-locale-dir(rtl){
	  padding-left:0 !important;
	  padding-right:0 !important;
	  margin-right:-1px !important;
	  margin-left:0 !important;
	}

	#customization-smallnavbut-button1:-moz-locale-dir(ltr),
	#customization-icons-button:-moz-locale-dir(ltr),
	#customization-iconstext-button:-moz-locale-dir(ltr),
	#customization-smallnavbut-button2:-moz-locale-dir(rtl),
	#customization-iconstext-button:-moz-locale-dir(rtl),
	#customization-textonly-button:-moz-locale-dir(rtl){
	  border-top-right-radius: 0px !important;
	  border-bottom-right-radius: 0px !important;
	}
	#customization-smallnavbut-button2:-moz-locale-dir(ltr),
	#customization-iconstext-button:-moz-locale-dir(ltr),
	#customization-textonly-button:-moz-locale-dir(ltr),
	#customization-smallnavbut-button1:-moz-locale-dir(rtl),
	#customization-icons-button:-moz-locale-dir(rtl),
	#customization-iconstext-button:-moz-locale-dir(rtl){
	  border-top-left-radius: 0px !important;
	  border-bottom-left-radius: 0px !important;
	}
	
	.customizationmode-button{
	  min-width: 0 !important;
	}
	
	.customizationmode-button:hover{
	  border-top: 1px solid #89b3d4 !important;
	  border-bottom: 1px solid #89b3d4 !important;
	}
	
}