@import url(chrome://ctr_os_special/skin/cuibuttonsextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#ctr_cuibuttonsbox{
	  visibility: visible !important;
	}

	/* customize area buttons */	
	#customization-smallnavbut-button1:-moz-locale-dir(ltr),
	#customization-smallnavbut-button2:-moz-locale-dir(ltr),
	#customization-icons-button:-moz-locale-dir(ltr),
	#customization-iconstext-button:-moz-locale-dir(ltr),
	#customization-textonly-button:-moz-locale-dir(ltr){
	  padding-left:0 !important;
	  padding-right:0 !important;
	  margin-left:-1px !important;
	  margin-right:0 !important;
	}
	#customization-smallnavbut-button1:-moz-locale-dir(rtl),
	#customization-smallnavbut-button2:-moz-locale-dir(rtl),
	#customization-icons-button:-moz-locale-dir(rtl),
	#customization-iconstext-button:-moz-locale-dir(rtl),
	#customization-textonly-button:-moz-locale-dir(rtl){
	  padding-left:0 !important;
	  padding-right:0 !important;
	  margin-right:-1px !important;
	  margin-left:0 !important;
	}

	#customization-smallnavbut-button1:-moz-locale-dir(ltr),
	#customization-icons-button:-moz-locale-dir(ltr),
	#customization-iconstext-button:-moz-locale-dir(ltr){
	  border-top-right-radius: 0px !important;
	  border-bottom-right-radius: 0px !important;
	}
	#customization-smallnavbut-button1:-moz-locale-dir(rtl),
	#customization-icons-button:-moz-locale-dir(rtl),
	#customization-iconstext-button:-moz-locale-dir(rtl){
	  border-top-left-radius: 0px !important;
	  border-bottom-left-radius: 0px !important;
	}
	
	.customizationmode-button{
	  min-width: 0 !important;
	}
	
	/* temp fix */
	#customization-toolbar-visibility-button #customization-toolbar-menu {
	  min-width: 150px !important;
	}
	
	/* adjust buttons */
	#customization-toolbar-visibility-button,
	#customization-reset-button{
	  margin:2px 0px !important;
	  background:#e6e6e6 !important;
	}

	#customization-toolbar-visibility-button[open],
	#customization-reset-button:active{
	  background:#d0d0d0 !important;
	}
	#customization-container vbox ~ hbox{
	  background: #f2f2f2;
	  margin-top: -25px !important;
	  margin-left: -25px !important;
	  margin-right: -25px !important;
	  padding-left: 10px !important;
	  padding-right: 10px !important;
	  padding-top: 5px !important;
	  border-top: 1px solid #c7c7c8 !important;
	}

	#customization-container vbox ~ hbox ~ hbox{
	  margin-top: 0px !important;
	  margin-bottom: -25px !important;
	  padding-bottom: 5px !important;
	  padding-top: 4px !important;
	  border-top: 0px !important;
	}
	.customizationmode-button:hover{
	  border-top: 1px solid #89b3d4 !important;
	  border-bottom: 1px solid #89b3d4 !important;
	}
	
}