@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul),
	       url(chrome://browser/content/places/places.xul),
	       url(chrome://browser/content/history/history-panel.xul),
	       url(chrome://browser/content/bookmarks/bookmarksPanel.xul),
	       url(chrome://browser/content/preferences/aboutPermissions.xul),
	       url(about:permissions) {

  #TabsToolbar .tabbrowser-tab:not([pinned]) .tab-icon-image:not([src]) {
	display: inline !important;
	list-style-image: url("chrome://classic_theme_restorer/content/images/default_favicon.png") !important;
  }

  #TabsToolbar .tabbrowser-tab:not([pinned])[busy] .tab-throbber + .tab-icon-image:not([src]) {
	display:none !important;
  }
  
  /* "page-proxy-favicon" is despite of its name no real "favicon" */
  /*#page-proxy-favicon:not(src):not([pageproxystate="valid"]),
  .chromeUI #page-proxy-favicon[pageproxystate="valid"],
  .mixedActiveContent #page-proxy-favicon[pageproxystate="valid"],
  .mixedDisplayContent #page-proxy-favicon[pageproxystate="valid"],
  .mixedDisplayContentLoadedActiveBlocked #page-proxy-favicon[pageproxystate="valid"],*/
  #tabbrowser-tabs .tab-icon-image:not(src),
  #alltabs-popup menuitem[image=""] > .menu-iconic-left > .menu-iconic-icon,
  .sidebar-placesTreechildren::-moz-tree-image(leaf),
  toolbaritem .bookmark-item:not(src):not([container]):not([type]),
  .site-favicon:not(src) {
	list-style-image: url("chrome://classic_theme_restorer/content/images/default_favicon.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
  }

  /*#page-proxy-favicon:not(src) {
	opacity: 1.0 !important;
  }*/

  #all-sites-item > .site-container > .site-favicon {
	list-style-image: none !important;
  }

  .sidebar-placesTreechildren::-moz-tree-image(title,livemarkItem),
  .bookmark-item[container][livemark] .bookmark-item {
	list-style-image: url("chrome://browser/skin/places/livemark-item.png") !important;
	-moz-image-region: rect(0px, 16px, 16px, 0px) !important;
  }

  .sidebar-placesTreechildren::-moz-tree-image(title,livemarkItem,visited),
  .bookmark-item[container][livemark] .bookmark-item[visited] {
   -moz-image-region: rect(0px, 32px, 16px, 16px) !important; }

  #PopupAutoCompleteRichResult .ac-site-icon[src="chrome://mozapps/skin/places/defaultFavicon.png"] {
	width: 0 !important;
	padding-right: 16px !important;
	background-image: url("chrome://classic_theme_restorer/content/images/default_favicon.png") !important;
  }
  
  treechildren::-moz-tree-image(title) {
	list-style-image: url("chrome://classic_theme_restorer/content/images/default_favicon.png") !important;
	padding-right: 2px !important;
	margin: 0px 2px !important;
	width: 16px !important;
	height: 16px !important;
  }

  treechildren::-moz-tree-image(title, livemarkItem) {
	list-style-image: url("chrome://browser/skin/places/livemark-item.png") !important;
  }

  treechildren::-moz-tree-image(title, separator) {
	list-style-image: none !important;
	width: 0 !important;
	height: 0 !important;
  }

  treechildren::-moz-tree-image(title, container) {
	list-style-image: url("chrome://global/skin/icons/folder-item.png")!important;
	-moz-image-region: rect(0px, 32px, 16px, 16px) !important;
  }

  treechildren::-moz-tree-image(title, open) {
	-moz-image-region: rect(16px, 32px, 32px, 16px) !important;
  }

  treechildren::-moz-tree-image(title, container, livemark) {
	list-style-image: url("chrome://browser/skin/feeds/feedIcon16.png") !important;
	-moz-image-region: auto !important;
  }

  treechildren::-moz-tree-image(container, OrganizerQuery_AllBookmarks) {
	list-style-image: url("chrome://browser/skin/Toolbar-small.png") !important;
	-moz-image-region: rect(0px 48px 16px 32px) !important;
  }

  treechildren::-moz-tree-image(container, OrganizerQuery_BookmarksToolbar) {
	list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png") !important;
	-moz-image-region: auto !important;
  }

  treechildren::-moz-tree-image(container, OrganizerQuery_BookmarksMenu) {
	list-style-image: url("chrome://browser/skin/places/bookmarksMenu.png") !important;
	-moz-image-region: auto !important;
  }

  treechildren::-moz-tree-image(container, OrganizerQuery_UnfiledBookmarks) {
	list-style-image: url("chrome://browser/skin/places/unsortedBookmarks.png") !important;
	-moz-image-region: auto !important;
  }

  treechildren::-moz-tree-image(title, query) {
	list-style-image: url("chrome://browser/skin/places/query.png") !important;
	-moz-image-region: auto !important;
  }

  treechildren::-moz-tree-image(title, query, tagContainer),
  treechildren::-moz-tree-image(query, OrganizerQuery_Tags) {
	list-style-image: url("chrome://browser/skin/places/tag.png") !important;
	-moz-image-region: auto !important;
  }

  treechildren::-moz-tree-image(query, OrganizerQuery_Downloads) {
	list-style-image: url("chrome://browser/skin/places/downloads.png") !important;
	-moz-image-region: auto !important;
  }

  treechildren::-moz-tree-image(title, query, dayContainer) {
	list-style-image: url("chrome://browser/skin/places/calendar.png") !important;
	-moz-image-region: auto !important;
  }

  treechildren::-moz-tree-image(title, query, hostContainer) {
	list-style-image: url("chrome://global/skin/icons/folder-item.png") !important;
	-moz-image-region: rect(0px, 32px, 16px, 16px) !important;
  }

  treechildren::-moz-tree-image(title, query, hostContainer, open) {
	list-style-image: url("chrome://global/skin/icons/folder-item.png") !important;
	-moz-image-region: rect(16px, 32px, 32px, 16px) !important;
  }

  treechildren::-moz-tree-image(title, query, OrganizerQuery_History) {
	list-style-image: url("chrome://browser/skin/Toolbar.png") !important;
	-moz-image-region: rect(0, 180px, 18px, 162px) !important;
  }

  treechildren::-moz-tree-image(title, query, folder) {
	list-style-image: url("chrome://global/skin/icons/folder-item.png")!important;
	-moz-image-region: rect(0px, 32px, 16px, 16px) !important;
  }

  treechildren::-moz-tree-image(title, query, folder, open) {
	-moz-image-region: rect(16px, 32px, 32px, 16px) !important;
  }

}
