@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url(chrome://browser/content/browser.xul){

	#identity-icon {
	  filter: unset !important;
	  fill: unset !important;
	  opacity: 1.0 !important;
	}

}