@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
	.browserContainer > findbar{
	  -moz-box-ordinal-group: 10 !important;
	}
}