@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url(chrome://browser/content/browser.xul){

	#urlbar-go-button,
	#urlbar-reload-button,
	#urlbar-stop-button {
	  padding: 0 2px !important;
	  margin-inline-start: unset !important;
	  border-inline-start: unset !important;
	  border-image: unset !important;
	  border-image-slice: unset !important;
	}

}