@import url(chrome://ctr_os_special/skin/hidenavbarextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
	#nav-bar:not([customizing]){
	  min-height:0px !important;
	  height:0px !important;
	  max-height:0px !important;
	}
	#PanelUI-button {
	  visibility: collapse !important;
	}
}