@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url(chrome://browser/content/browser.xul){

	#urlbar-wrapper #urlbar[pageproxystate="invalid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked),
	#urlbar-wrapper #urlbar[pageproxystate="valid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked), 
	#urlbar-wrapper #urlbar[pageproxystate="valid"] .chromeUI {
      background: linear-gradient(#fcfcfc,#d4d4d4) !important;
      border-image-source: none !important;
	  color: black !important;
	}
	
	#urlbar-wrapper #urlbar[pageproxystate="invalid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked) #identity-icon,
	#urlbar-wrapper #urlbar[pageproxystate="valid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked) #identity-icon, 
	#urlbar-wrapper #urlbar[pageproxystate="valid"] .chromeUI #identity-icon{
      background-color: unset !important;
	}
	
	#main-window:not([fx50plus="true"]) #urlbar-wrapper #urlbar[pageproxystate="invalid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked),
	#main-window:not([fx50plus="true"]) #urlbar-wrapper #urlbar[pageproxystate="valid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked), 
	#main-window:not([fx50plus="true"]) #urlbar-wrapper #urlbar[pageproxystate="valid"] .chromeUI {
      -moz-border-end: 1px solid lightgrey;
	}

	#urlbar-wrapper #urlbar[pageproxystate="invalid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked):hover,
	#urlbar-wrapper #urlbar[pageproxystate="valid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked):hover,
	#urlbar-wrapper #urlbar[pageproxystate="valid"] .chromeUI:hover {
	  background: linear-gradient(#f2f2f2,#c0c0c0) !important;
	}

	#urlbar-wrapper #urlbar[pageproxystate="invalid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked)[open="true"],
	#urlbar-wrapper #urlbar[pageproxystate="invalid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked):hover:active,
	#urlbar-wrapper #urlbar[pageproxystate="valid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked)[open="true"],
	#urlbar-wrapper #urlbar[pageproxystate="valid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked):hover:active,
	#urlbar-wrapper #urlbar[pageproxystate="valid"] .chromeUI[open="true"],
	#urlbar-wrapper #urlbar[pageproxystate="valid"] .chromeUI:hover:active {
	  background: linear-gradient(#f0f0f0,#c0c0c0) !important;
	  box-shadow: 0 1px 1px hsla(0,0%,48%,1.0) inset,
				  0 1px 3px 1px hsla(0,0%,48%,1.0) inset !important;
	}
	
	#main-window[fx50plus="true"] #urlbar-wrapper #urlbar[pageproxystate="valid"]  :-moz-any(.urlbar-input-box, #urlbar-display-box),
	#main-window[fx50plus="true"] #urlbar-wrapper #urlbar[pageproxystate="invalid"]  :-moz-any(.urlbar-input-box, #urlbar-display-box) {
	  border-image: unset !important;
	}
	
	#main-window[developertheme="true"][lwthemetextcolor="bright"] #urlbar-wrapper #urlbar[pageproxystate="invalid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked),
	#main-window[developertheme="true"][lwthemetextcolor="bright"] #urlbar-wrapper #urlbar[pageproxystate="valid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked), 
	#main-window[developertheme="true"][lwthemetextcolor="bright"] #urlbar-wrapper #urlbar[pageproxystate="valid"] .chromeUI {
      background: linear-gradient(#505050,#424242) !important;
	  color: white !important;
	}
	
	#main-window[developertheme="true"][lwthemetextcolor="bright"] #urlbar-wrapper #urlbar[pageproxystate="invalid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked):hover,
	#main-window[developertheme="true"][lwthemetextcolor="bright"] #urlbar-wrapper #urlbar[pageproxystate="valid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked):hover,
	#main-window[developertheme="true"][lwthemetextcolor="bright"] #urlbar-wrapper #urlbar[pageproxystate="valid"] .chromeUI:hover {
	  background: linear-gradient(#5d5d5d,#505050) !important;
	}

	#main-window[developertheme="true"][lwthemetextcolor="bright"] #urlbar-wrapper #urlbar[pageproxystate="invalid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked)[open="true"],
	#main-window[developertheme="true"][lwthemetextcolor="bright"] #urlbar-wrapper #urlbar[pageproxystate="invalid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked):hover:active,
	#main-window[developertheme="true"][lwthemetextcolor="bright"] #urlbar-wrapper #urlbar[pageproxystate="valid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked)[open="true"],
	#main-window[developertheme="true"][lwthemetextcolor="bright"] #urlbar-wrapper #urlbar[pageproxystate="valid"] .unknownIdentity:not(.mixedDisplayContentLoadedActiveBlocked):hover:active,
	#main-window[developertheme="true"][lwthemetextcolor="bright"] #urlbar-wrapper #urlbar[pageproxystate="valid"] .chromeUI[open="true"],
	#main-window[developertheme="true"][lwthemetextcolor="bright"] #urlbar-wrapper #urlbar[pageproxystate="valid"] .chromeUI:hover:active {
	  background: linear-gradient(#616161,#505050) !important;
	  box-shadow: 0 1px 1px hsla(0,0%,48%,1.0) inset,
				  0 1px 3px 1px hsla(0,0%,48%,1.0) inset !important;
	}
	
	@media (-moz-os-version: windows-win10) {
		.urlbar-textbox-container {
		  margin-top: -1px !important;
		  margin-bottom: -1px !important;
		}
	}

}