@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

  :root:not([uidensity=compact]) .searchbar-textbox,
  :root:not([uidensity=compact]) #urlbar-wrapper,
  :root:not([uidensity=compact]) #urlbar {
    min-height: 0px !important;
    height: 24px !important;
	font-size: 12px !important;
  }

  #main-window:not([fx57plus="true"]):not([chromehidden~="toolbar"]) #urlbar-wrapper {
	clip-path: url("chrome://browser/content/browser.xul#urlbar-back-button-clip-path") !important;
	margin-inline-start: -7px !important;
  }

  :root:not([uidensity=compact]) .searchbar-search-button{
    padding: unset !important;
    margin: 0 2px !important;
  }

  :root:not([uidensity=compact]) .search-go-button{
    margin: -1px -2px !important;
  }

  :root:not([uidensity=compact]) #connection-icon,
  :root:not([uidensity=compact]) #identity-icon{
	margin-top: -2px !important;
	margin-bottom: -1px !important;
  }

  #main-window:not([fx57plus="true"]) #forward-button:not([disabled]) > .toolbarbutton-icon {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    -moz-padding-start: 6px !important;
    -moz-padding-end: 3px !important;
    -moz-margin-start: 2px !important;
  }

  @media (max-resolution: 1.0dppx) {
    #main-window:not([fx57plus="true"]) #forward-button:not([disabled]) > .toolbarbutton-icon {
      max-width: unset !important;
    }
  }

  @media (min-resolution: 1.1dppx) {
    :root:not([uidensity=compact]) #identity-icon-labels label {
      margin-top: -2px !important;
    }
  }
 
  #main-window[fx57plus="true"] #nav-bar #bookmarks-menu-button[cui-areatype="toolbar"]:not([overflowedItem=true]) > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
	margin: -1px 0 !important;
  }

}