@import url(chrome://ctraddon_os_special/skin/back-forwardextra.css);
@import url(chrome://ctraddon_os_special/skin/nav_txtonlyextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#navigator-toolbox #nav-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text {
      border: 1px solid transparent;
    }
	#navigator-toolbox #nav-bar .toolbarbutton-1{
	 padding-top: 2px !important;
	 padding-bottom: 2px !important;
	}
	
	#navigator-toolbox toolbar:not(#TabsToolbar) .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text,
	#ctraddon_addon-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text	{
	  display: -moz-box !important;
	}
	
	#navigator-toolbox toolbar:not(#TabsToolbar) .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([type="menu-button"]),
	#ctraddon_addon-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([type="menu-button"]) {
	  -moz-box-orient: vertical !important;
	}
	
	#navigator-toolbox toolbar:not(#TabsToolbar) toolbarbutton:not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon,
	#ctraddon_addon-bar toolbarbutton:not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon {
	  visibility: collapse !important;
	}

	#navigator-toolbox toolbar:not(#TabsToolbar) #urlbar-page-action-button:not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon,
	#navigator-toolbox toolbar:not(#TabsToolbar) #urlbar-go-button:not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon,
	#navigator-toolbox toolbar:not(#TabsToolbar) #urlbar-stop-button:not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon,
	#navigator-toolbox toolbar:not(#TabsToolbar) #urlbar-reload-button:not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon {
	  visibility: visible !important;
	}
	
	#navigator-toolbox toolbar:not(#TabsToolbar) .toolbarbutton-1[type="menu"] dropmarker,
	#ctraddon_addon-bar .toolbarbutton-1[type="menu"] dropmarker{
	   visibility:collapse !important;
	}
	
	#downloads-button .toolbarbutton-icon{
	  margin: -4px !important;
	}

	/* make custom back-forward visible and hide back-forward on urlbar item */
	#ctraddon_back-forward-button{
	  visibility: visible !important;
	}
	#main-window toolbox toolbar #urlbar-container #back-button,
	#main-window toolbox toolbar #urlbar-container #urlbar-wrapper #forward-button{
	  visibility: collapse !important;
	  display:none !important;
	}
    #nav-bar * .toolbarbutton-icon,
	#nav-bar *,
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper {
	  clip-path: none !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  transition: none !important;
	  transition-property: none !important;
	  transition-delay: 0s !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar:-moz-locale-dir(ltr),
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar:-moz-locale-dir(rtl) {
	  margin-left: 0px !important;
	}

	/* Vertical toolbar */
	#vertical-toolbar .toolbarbutton-1 .toolbarbutton-text {
	  display: -moz-box !important;
	}
	#vertical-toolbar .toolbarbutton-1 {
	  -moz-box-orient: vertical !important;
	}
	#vertical-toolbar toolbarbutton .toolbarbutton-icon {
	  visibility: collapse !important;
	}
	
	/* badged buttons fix */
	toolbar .toolbarbutton-1 .toolbarbutton-badge,
	toolbar .toolbarbutton-1 .toolbarbutton-badge-container {
	  -moz-appearance:none !important;
	  background:none !important;
	  border:0 !important;
	  padding:0 !important;
	  box-shadow:none !important;
	}
	
	toolbar:not(#TabsToolbar) .toolbarbutton-badge-stack {
	  visibility:collapse !important;
	  display: -moz-box !important;
	}
	
	toolbox toolbar:not(#TabsToolbar) toolbarbutton:not(#downloads-button):not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-badge-stack .toolbarbutton-icon {
	  visibility: visible !important;
      position:absolute !important;
	  background: unset !important;
	  box-shadow: unset !important;
	  fill: unset !important;
	  opacity: 0 !important;
	  border: unset !important;
	}
	
	toolbar:not(#TabsToolbar) #downloads-button .toolbarbutton-badge-stack {
	  visibility: visible !important;
      position:absolute !important;
	  background: unset !important;
	  box-shadow: unset !important;
	  fill: unset !important;
	  border: unset !important;
	}
	
	toolbar:not(#TabsToolbar) #downloads-button #downloads-indicator-icon {
	  visibility: hidden !important;
	}
	
	/* widget-type="view" button fix */
	#main-window toolbox toolbar:not(#TabsToolbar) #bookmarks-menu-button .toolbarbutton-menubutton-button:not(.tabs-newtab-button):not(.tab-close-button),
	#main-window toolbox toolbar:not(#TabsToolbar) #history-panelmenu:not(.tabs-newtab-button):not(.tab-close-button),
	#main-window toolbox toolbar:not(#TabsToolbar) #developer-button:not(.tabs-newtab-button):not(.tab-close-button),
	#main-window toolbox toolbar:not(#TabsToolbar) #pocket-button:not(.tabs-newtab-button):not(.tab-close-button),
	#main-window toolbox toolbar:not(#TabsToolbar) #panic-button:not(.tabs-newtab-button):not(.tab-close-button),
	#main-window toolbox toolbar:not(#TabsToolbar) #sidebar-button:not(.tabs-newtab-button):not(.tab-close-button) {
	  -moz-box-orient: horizontal !important;
	}
	#main-window toolbox toolbar:not(#TabsToolbar) #bookmarks-menu-button .toolbarbutton-menubutton-button:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text,
	#main-window toolbox toolbar:not(#TabsToolbar) #history-panelmenu:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text,
	#main-window toolbox toolbar:not(#TabsToolbar) #developer-button:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text,
	#main-window toolbox toolbar:not(#TabsToolbar) #pocket-button:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text,
	#main-window toolbox toolbar:not(#TabsToolbar) #panic-button:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text,
	#main-window toolbox toolbar:not(#TabsToolbar) #sidebar-button:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text{
	  display: inline !important;
	}
	#main-window toolbox toolbar:not(#TabsToolbar) #bookmarks-menu-button .toolbarbutton-menubutton-button:not(#downloads-button):not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon,
	#main-window toolbox toolbar:not(#TabsToolbar) #history-panelmenu:not(#downloads-button):not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon,
	#main-window toolbox toolbar:not(#TabsToolbar) #developer-button:not(#downloads-button):not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon,
	#main-window toolbox toolbar:not(#TabsToolbar) #pocket-button:not(#downloads-button):not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon,
	#main-window toolbox toolbar:not(#TabsToolbar) #panic-button:not(#downloads-button):not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon,
	#main-window toolbox toolbar:not(#TabsToolbar) #sidebar-button:not(#downloads-button):not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon {
	  visibility: visible !important;
      position:absolute !important;
	  -moz-margin-end: -32px !important;
	  background: unset !important;
	  box-shadow: unset !important;
	  fill: unset !important;
	  opacity: 0 !important;
	}

	/* support for star & feed buttons in urlbar */
	#main-window toolbox toolbar:not(#TabsToolbar) #urlbar-container #urlbar #bookmarks-menu-button .toolbarbutton-menubutton-button:not(#downloads-button):not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon{
	  visibility: visible !important;
      position: unset !important;
	  -moz-margin-end: unset !important;
	  background: unset !important;
	  opacity: 1.0 !important;
	}
	
	#main-window toolbox toolbar #urlbar-container #urlbar #feed-button .toolbarbutton-text,
	#main-window toolbox toolbar #urlbar-container #urlbar #bookmarks-menu-button .toolbarbutton-text {
	  display: none !important;
	  visibility: collapse !important;
	}
	#main-window toolbox toolbar #urlbar-container #urlbar #feed-button:not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon,
	#main-window toolbox toolbar #urlbar-container #urlbar #bookmarks-menu-button:not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon {
	  visibility: visible !important;
	}
	#main-window toolbox toolbar #urlbar-container #urlbar #feed-button,
	#main-window toolbox toolbar #urlbar-container #urlbar #bookmarks-menu-button {
	  min-width: inherit !important;
	}
	#main-window toolbox toolbar #urlbar-container #urlbar #feed-button:hover,
	#main-window toolbox toolbar #urlbar-container #urlbar #bookmarks-menu-button:hover{
	  border: 0px solid transparent !important;
      background-image: linear-gradient(hsla(0,0%,100%,.0), hsla(0,0%,100%,.0)) !important;
      border-color: hsla(210,54%,20%,.0) hsla(210,54%,20%,.0) hsla(210,54%,20%,.0) !important;
      box-shadow: none !important;
	  padding:0 !important;
	}
	
	/*LastPass*/
	#navigator-toolbox toolbar:not(#TabsToolbar) #lpt_lastpass-compact-btn:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text,
	#ctraddon_addon-bar #lpt_lastpass-compact-btn:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text	{
	  display: -moz-box !important;
	}

	#navigator-toolbox toolbar:not(#TabsToolbar) #lpt_lastpass-compact-btn	{
      padding-top: 5px !important;
	}
	
	/* cui buttons */
	#ctraddon_cui-icons-button {
	  background:#fbfbfb !important;
	}
	#ctraddon_cui-iconstext-button {
	  background:#fbfbfb !important;
	}
	#ctraddon_cui-textonly-button {
	  background:#dadada !important;
	}
	
	@media all and (-moz-windows-classic) {
		#ctraddon_cui-icons-button * {
		  background: unset !important;
		}
		#ctraddon_cui-iconstext-button * {
		  background: unset !important;
		}
		#ctraddon_cui-textonly-button * {
		  background: #e7e3db !important;
		}
	}
	
}