@import url(chrome://ctr_os_special/skin/back-forwardextra.css);
@import url(chrome://ctr_os_special/skin/nav_txtonlyextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#navigator-toolbox .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text,
	#ctr_addon-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text	{
	  display: -moz-box !important;
	}
	#navigator-toolbox #nav-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text {
      border: 1px solid transparent;
    }
	#navigator-toolbox .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([type="menu-button"]),
	#ctr_addon-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([type="menu-button"]) {
	  -moz-box-orient: vertical !important;
	}
	#navigator-toolbox toolbarbutton:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-icon,
	#ctr_addon-bar toolbarbutton:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-icon,
	#navigator-toolbox #TabsToolbar #ctr_appbutton .toolbarbutton-text {
	  visibility: collapse !important;
	}
	#navigator-toolbox #TabsToolbar #ctr_appbutton .toolbarbutton-icon{
	  visibility: visible !important;
	}
	.toolbarbutton-1[type="menu"] dropmarker{
	   visibility:collapse !important;
	}
	/*make custom back-forward visible and hide back-forward on urlbar item*/
	#ctr_back-forward-button{
	  visibility: visible !important;
	}
	#urlbar-container #back-button,
	#urlbar-container #forward-button{
	  visibility: collapse !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper {
	  clip-path: none !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  margin-left: 0px !important;
	  transition: none !important;
	  transition-property:  none !important;
	  transition-delay: 0s !important;
	}
    #urlbar{
      border-left:1px solid #b4c1cf !important;
    }
    #urlbar[focused="true"]{
      border-left:1px solid #72c0fe !important;
    }
}