@import url(chrome://ctraddon_os_special/skin/back-forwardextra.css);
@import url(chrome://ctraddon_os_special/skin/mode_icons_and_text_extra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#nav-bar .toolbarbutton-1 .toolbarbutton-text,
	#nav-bar .toolbarbutton-menubutton-dropmarker > image,
	#nav-bar .toolbarbutton-menubutton-button .toolbarbutton-icon,
	#nav-bar toolbarbutton[type="menu-button"] > .toolbarbutton-icon,
	#nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button):not(#ctraddon_back-button):not(#ctraddon_forward-button):-moz-any(:hover,[checked],[open],[type="menu-button"]) > .toolbarbutton-icon,
	#nav-bar .toolbarbutton-1[type="menu-button"] > .toolbarbutton-menubutton-dropmarker::before,
	#nav-bar .toolbarbutton-1 > .toolbarbutton-icon,
	#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
		-moz-appearance: none !important;
		background: none !important;
		background-image: none !important;
		border-radius: 2.5px;
		border-color: transparent !important;
		box-shadow: none !important;
		transition-property: none !important;
        transition-duration: 0ms !important;
	}
	:-moz-any(#toolbar-menubar, #nav-bar, #PersonalToolbar, #ctraddon_addon-bar, #ctraddon_extra-bar, #vertical-toolbar) .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text {
	  display: -moz-box !important;

	}
	:-moz-any(#toolbar-menubar, #nav-bar, #PersonalToolbar, #ctraddon_addon-bar, #ctraddon_extra-bar, #vertical-toolbar) .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([type="menu-button"]) {
	  -moz-box-orient: vertical !important;

	}
	:-moz-any(#toolbar-menubar, #nav-bar, #PersonalToolbar, #ctraddon_addon-bar, #ctraddon_extra-bar, #vertical-toolbar) .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([type="menu-button"]) {
	  min-width: 57px !important;
	}
	:-moz-any(#toolbar-menubar, #PersonalToolbar, #ctraddon_addon-bar, #ctraddon_extra-bar, #vertical-toolbar) .toolbarbutton-1[type="menu"] dropmarker{
	   visibility: collapse !important;
	}
	:-moz-any(#toolbar-menubar, #PersonalToolbar, #ctraddon_addon-bar, #ctraddon_extra-bar, #vertical-toolbar) .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text {
      padding: 0px !important;
    }

    :-moz-any(#toolbar-menubar, #nav-bar, #PersonalToolbar, #ctraddon_addon-bar, #ctraddon_extra-bar, #vertical-toolbar) .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button) {
       border: 1px solid transparent !important;
    }
	:-moz-any(#toolbar-menubar, #nav-bar, #PersonalToolbar, #ctraddon_addon-bar, #ctraddon_extra-bar, #vertical-toolbar) .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not(#bookmarks-menu-button):not([disabled]):hover,
	#ctraddon_comb_stopreload-button #urlbar-reload-button:not([disabled]):hover,
	#ctraddon_comb_stopreload-button #urlbar-stop-button:not([disabled]):hover {
	  border: 1px solid !important;
      background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1)) !important;
      border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.2) hsla(210,54%,20%,.25) !important;
      box-shadow: 0 1px hsla(0,0%,100%,.3) inset,
                  0 1px hsla(210,54%,20%,.03),
                  0 0 2px hsla(210,54%,20%,.1) !important;
	}
	
	toolbar #bookmarks-menu-button:hover {
	  border: 1px solid !important;
      background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1)) !important;
      border-color: hsla(210,54%,20%,.15) hsla(210,54%,20%,.2) hsla(210,54%,20%,.25) !important;
      box-shadow: 0 1px hsla(0,0%,100%,.3) inset,
                  0 1px hsla(210,54%,20%,.03),
                  0 0 2px hsla(210,54%,20%,.1) !important;
	}
 
	/* CTR add-on bar*/
	#ctraddon_addon-bar .toolbarbutton-menubutton-button{
	  min-width:60px !important;
	}

	#ctraddon_addon-bar toolbarbutton[type=menu] {
	  padding:8px !important;
	}

	#bookmarks-menu-button .toolbarbutton-text{
	  font-size: 100% !important;
	}

	/* make custom back-forward visible and hide urlbars back-forward item */
	#ctraddon_back-forward-button {
	  visibility: visible !important;
	}	
	#urlbar-container #back-button,
	#urlbar-container #forward-button {
	  visibility: collapse !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper {
	  clip-path: none !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  transition: none !important;
	  transition-property: none !important;
	  transition-delay: 0s !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar:-moz-locale-dir(ltr) {
	  margin-left: 0px !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar:-moz-locale-dir(rtl) {
	  margin-left: -20px !important;
	}
	
    #urlbar {
      border:1px solid #b4c1cf !important;
    }

	@media all and (-moz-windows-theme:aero) {
		#urlbar[focused="true"] {
		  border:1px solid #72c0fe !important;
		}
	}
	
	#ctraddon_addon-bar #zoom-reset-button{
	  padding-top:8px !important;
	}
	
	/* support for star & feed buttons in urlbar */
	#nav-bar #urlbar-container #feed-button .toolbarbutton-text,
	#nav-bar #urlbar-container #bookmarks-menu-button .toolbarbutton-text {
	  display: none !important;
	  visibility: collapse !important;
	}
	#nav-bar #urlbar-container #feed-button,
	#nav-bar #urlbar-container #bookmarks-menu-button {
	  -moz-box-orient: horizontal !important;
	}
	#nav-bar #urlbar-container #feed-button,
	#nav-bar #urlbar-container #bookmarks-menu-button {
	  min-width: inherit !important;
	}
	#nav-bar #urlbar-container #feed-button:hover,
	#nav-bar #urlbar-container #bookmarks-menu-button:hover{
	  border: 0px solid transparent !important;
      background-image: linear-gradient(hsla(0,0%,100%,.0), hsla(0,0%,100%,.0)) !important;
      border-color: hsla(210,54%,20%,.0) hsla(210,54%,20%,.0) hsla(210,54%,20%,.0) !important;
      box-shadow: none !important;
	  padding:0 !important;
	}
	#nav-bar #urlbar-container #feed-button .toolbarbutton-icon,
	#nav-bar #urlbar-container #bookmarks-menu-button .toolbarbutton-icon {
	  margin: -8px 4px !important;
	}
	#nav-bar #urlbar-icons #feed-button:not([type="menu-button"]):not([type="menu"]) .toolbarbutton-icon {
	  height: 18px !important;
	}
	/**/
	
	#ctraddon_back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
	#ctraddon_forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon{
	  transform: scaleX(-1);
	}
	
	#nav-bar toolbarbutton[type="menu"] dropmarker{
	  visibility: collapse !important;
	}
	
	toolbar #ctraddon_back-forward-dropmarker  .toolbarbutton-text {
	  display: none !important;
	  visibility: collapse !important;
	}
	toolbar #ctraddon_back-forward-dropmarker  {
	  min-width:0px !important;
	}

}