@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	* #vertical-toolbar .toolbarbutton-1 .toolbarbutton-text	{
	  display: none !important;
	}
	* #vertical-toolbar .toolbarbutton-1 {
	  -moz-box-orient: unset !important;
	}
	* #vertical-toolbar toolbarbutton .toolbarbutton-icon {
	  visibility: visible !important;
	}

}