@import url(chrome://ctraddon_os_special/skin/mode_icons_and_text_extra3.css);
@import url(chrome://ctraddon_os_special/skin/back-forwardextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
	/* navigation toolbar */
	#nav-bar .toolbarbutton-1 .toolbarbutton-text,
	#nav-bar .toolbarbutton-menubutton-dropmarker > image,
	#nav-bar .toolbarbutton-menubutton-button .toolbarbutton-icon,
	#nav-bar toolbarbutton[type="menu-button"] > .toolbarbutton-icon,
	#nav-bar .toolbarbutton-1:not(#back-button):not(#forward-button):not(#ctraddon_back-button):not(#ctraddon_forward-button):-moz-any(:hover,[checked],[open],[type="menu-button"]) > .toolbarbutton-icon,
	#nav-bar .toolbarbutton-1[type="menu-button"] > .toolbarbutton-menubutton-dropmarker::before,
	#nav-bar .toolbarbutton-1 > .toolbarbutton-icon,
	#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon {
	  -moz-appearance: none !important;
	  background: none !important;
	  background-image: none !important;
	  border-radius: 2.5px;
	  border-color: transparent !important;
	  box-shadow: none !important;
	  transition-property: none !important;
	  transition-duration: 0ms !important;
	}
	#nav-bar toolbaritem .toolbarbutton-1 .toolbarbutton-text,
	#nav-bar .toolbarbutton-1:not([type="menu-button"]) .toolbarbutton-text,
	#nav-bar .toolbarbutton-1[type="menu-button"] toolbarbutton .toolbarbutton-text{
	  display: -moz-box !important;
	  padding:0 !important;
	}
	#nav-bar toolbaritem .toolbarbutton-1:not([type="menu-button"]),
	#nav-bar .toolbarbutton-1:not([type="menu-button"]),
	#nav-bar .toolbarbutton-1[type="menu-button"] toolbarbutton{
	  -moz-box-orient: vertical !important;
	  min-width: 57px !important;
	}
	#nav-bar toolbaritem .toolbarbutton-1,
	#nav-bar .toolbarbutton-1:not([type="menu-button"]),
	#nav-bar .toolbarbutton-1[type="menu-button"]{
	  padding:1px 2px !important;
	  margin:1px 0 !important;
	}

	#nav-bar .toolbarbutton-1[type="menu-button"] toolbarbutton{
	  padding:0px 0px !important;
	  margin:0px 0 !important;
	}
	#nav-bar toolbaritem .toolbarbutton-1,
	#nav-bar .toolbarbutton-1,
	#nav-bar .toolbarbutton-1[type="menu-button"] toolbarbutton{
	  -moz-appearance: toolbarbutton !important;
	}

	@media not all and (-moz-windows-theme:aero) {
	  #nav-bar toolbaritem .toolbarbutton-1,
	  #nav-bar .toolbarbutton-1{
		border-top: 2px solid transparent !important;
		border-right: 1px solid transparent !important;
		border-left: 1px solid transparent !important;
		border-bottom: 1px solid transparent !important;
	  }
	  #nav-bar toolbaritem .toolbarbutton-1:not([disabled]):hover,
	  #nav-bar .toolbarbutton-1:not([disabled]):hover{
		-moz-border-top-colors: transparent -moz-Dialog !important;
		border-right: 1px solid -moz-Dialog !important;
		border-left: 1px solid -moz-Dialog !important;
		border-bottom: 1px solid -moz-Dialog !important;
		background-image: linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1)) !important;
	  }
	}
	
	@media all and (-moz-windows-classic) {
	  #nav-bar toolbaritem .toolbarbutton-1:not([disabled]):hover,
	  #nav-bar .toolbarbutton-1:not([disabled]):hover{
		-moz-border-top-colors: transparent white !important;
		border-right: 1px solid #808080 !important;
		border-left: 1px solid white !important;
		border-bottom: 1px solid #808080 !important;
		background-image: unset !important;
	  }
	  #nav-bar toolbaritem .toolbarbutton-1:not([disabled])[checked],
	  #nav-bar .toolbarbutton-1:not([disabled])[checked],
	  #nav-bar toolbaritem .toolbarbutton-1:not([disabled])[open],
	  #nav-bar .toolbarbutton-1:not([disabled])[open],
	  #nav-bar toolbaritem .toolbarbutton-1:not([disabled]):active,
	  #nav-bar .toolbarbutton-1:not([disabled]):active
	  #nav-bar toolbaritem .toolbarbutton-1:not([disabled]):hover:active,
	  #nav-bar .toolbarbutton-1:not([disabled]):hover:active{
		-moz-border-top-colors: transparent #808080 !important;
		border-right: 1px solid white !important;
		border-left: 1px solid #808080 !important;
		border-bottom: 1px solid white !important;
		background-image: unset !important;
	  }
	}

	#nav-bar #urlbar toolbaritem .toolbarbutton-1 .toolbarbutton-text,
	#nav-bar #urlbar .toolbarbutton-1:not([type="menu-button"]) .toolbarbutton-text,
	#nav-bar #urlbar .toolbarbutton-1[type="menu-button"] toolbarbutton .toolbarbutton-text{
	  display: none !important;
	}
	#nav-bar #urlbar toolbaritem .toolbarbutton-1:not([type="menu-button"]),
	#nav-bar #urlbar .toolbarbutton-1:not([type="menu-button"]),
	#nav-bar #urlbar .toolbarbutton-1[type="menu-button"] toolbarbutton{
	  -moz-box-orient: unset !important;
	  min-width: unset !important;
	}
	#nav-bar #urlbar toolbaritem .toolbarbutton-1,
	#nav-bar #urlbar .toolbarbutton-1:not([type="menu-button"]),
	#nav-bar #urlbar .toolbarbutton-1[type="menu-button"] toolbarbutton{
	  padding: unset !important;
	  margin: unset !important;
	}
	#nav-bar #urlbar toolbaritem .toolbarbutton-1,
	#nav-bar #urlbar .toolbarbutton-1,
	#nav-bar #urlbar .toolbarbutton-1[type="menu-button"] toolbarbutton{
	  -moz-appearance: unset !important;
	}

	#nav-bar .toolbarbutton-1 .toolbarbutton-badge,
	#nav-bar .toolbarbutton-1 .toolbarbutton-badge-container,
	#nav-bar .toolbarbutton-1 .toolbarbutton-badge-stack {
	  -moz-appearance:none !important;
	  background:none !important;
	  border:0px !important;
	  box-shadow:none !important;
	}
	
	@media not all and (-moz-windows-theme){
		#nav-bar .toolbarbutton-1 .toolbarbutton-badge-container .toolbarbutton-icon{
		  -moz-appearance:none !important;
		  background:none !important;
		  border:1px solid transparent !important;
		  box-shadow:none !important;
		}
		
	}
	
	/* other toolbar */
	toolbar:not(#nav-bar):not(#TabsToolbar) toolbaritem .toolbarbutton-1 .toolbarbutton-text,
	toolbar:not(#nav-bar):not(#TabsToolbar) .toolbarbutton-1:not([type="menu-button"]) .toolbarbutton-text,
	toolbar:not(#nav-bar):not(#TabsToolbar) .toolbarbutton-1[type="menu-button"] toolbarbutton .toolbarbutton-text{
	  display: -moz-box !important;
	}
	toolbar:not(#nav-bar):not(#TabsToolbar) toolbaritem .toolbarbutton-1:not([type="menu-button"]),
	toolbar:not(#nav-bar):not(#TabsToolbar) .toolbarbutton-1:not([type="menu-button"]),
	toolbar:not(#nav-bar):not(#TabsToolbar) .toolbarbutton-1[type="menu-button"] toolbarbutton{
	  -moz-box-orient: vertical !important;
	  min-width: 57px !important;
	}

	toolbar:not(#nav-bar):not(#TabsToolbar) #urlbar toolbaritem .toolbarbutton-1 .toolbarbutton-text,
	toolbar:not(#nav-bar):not(#TabsToolbar) #urlbar .toolbarbutton-1:not([type="menu-button"]) .toolbarbutton-text,
	toolbar:not(#nav-bar):not(#TabsToolbar) #urlbar .toolbarbutton-1[type="menu-button"] toolbarbutton .toolbarbutton-text{
	  display: none !important;
	}
	toolbar:not(#nav-bar):not(#TabsToolbar) #urlbar toolbaritem .toolbarbutton-1:not([type="menu-button"]),
	toolbar:not(#nav-bar):not(#TabsToolbar) #urlbar .toolbarbutton-1:not([type="menu-button"]),
	toolbar:not(#nav-bar):not(#TabsToolbar) #urlbar .toolbarbutton-1[type="menu-button"] toolbarbutton{
	  -moz-box-orient: unset !important;
	  min-width: unset !important;
	}
	
	/* make custom back-forward visible and hide urlbars back-forward item */
	#ctraddon_back-forward-button {
	  visibility: visible !important;
	}	
	#urlbar-container #back-button,
	#urlbar-container #forward-button {
	  visibility: collapse !important;
	}
    #nav-bar * .toolbarbutton-icon,
	#nav-bar *,
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper {
	  clip-path: none !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  transition: none !important;
	  transition-property: none !important;
	  transition-delay: 0s !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar:-moz-locale-dir(ltr) {
	  margin-left: 0px !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar:-moz-locale-dir(rtl) {
	  margin-left: -20px !important;
	}

	#ctraddon_back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
	#ctraddon_forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon{
	  transform: scaleX(-1);
	}
	
	/* back forward button dropmarker */
	toolbar #ctraddon_back-forward-dropmarker  .toolbarbutton-text {
	  display: none !important;
	  visibility: collapse !important;
	}
	#nav-bar #ctraddon_back-forward-dropmarker:not([type="menu-button"]),	
	toolbar:not(#nav-bar):not(#TabsToolbar) #ctraddon_back-forward-dropmarker:not([type="menu-button"]){
	  -moz-box-orient: vertical !important;
	  min-width: unset !important;
	}
	/* hide menu button dropmarkers */
	toolbar:not(#nav-bar):not(#TabsToolbar) .toolbarbutton-1[type="menu"] dropmarker,
	#nav-bar .toolbarbutton-1[type="menu"] dropmarker{
	  visibility: collapse !important;
	}

	/*Zoompage support*/
	#nav-bar #zoompage-item .toolbarbutton-1:not([type="menu-button"]) .toolbarbutton-text,
	toolbar:not(#nav-bar):not(#TabsToolbar) #zoompage-item .toolbarbutton-1:not([type="menu-button"]) .toolbarbutton-text{
	  visibility: collapse !important;
	}
	#nav-bar #zoompage-item .toolbarbutton-1:not([type="menu-button"]),
	toolbar:not(#nav-bar):not(#TabsToolbar) #zoompage-item .toolbarbutton-1:not([type="menu-button"]) {
	  min-width: unset !important;
	}
	
	/* fix Firefox 44+ button width issues */
	#main-window[fx44plus="true"] .toolbarbutton-1 > .toolbarbutton-icon,
	#main-window[fx44plus="true"] .toolbarbutton-1 > :-moz-any(.toolbarbutton-menubutton-button, .toolbarbutton-badge-stack) > .toolbarbutton-icon,
	#main-window[fx44plus="true"] .toolbarbutton-1:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button) > .toolbarbutton-icon,
	#main-window[fx44plus="true"] .toolbarbutton-1:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button) > :-moz-any(.toolbarbutton-menubutton-button, .toolbarbutton-badge-stack) > .toolbarbutton-icon,
	#main-window[fx44plus="true"] #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
	#main-window[fx44plus="true"] #nav-bar .toolbarbutton-1 > .toolbarbutton-icon,
	#main-window[fx44plus="true"] #nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#main-window[fx44plus="true"] #nav-bar #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
	#main-window[fx44plus="true"] #nav-bar #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon,
	#main-window[fx44plus="true"] #back-button > .toolbarbutton-icon{
	  max-width: unset !important;
	}

	@media (min-resolution: 1.1dppx) {
		#main-window[fx44plus="true"] .toolbarbutton-1:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button) > .toolbarbutton-icon,
		#main-window[fx44plus="true"] .toolbarbutton-1:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button) > :-moz-any(.toolbarbutton-menubutton-button, .toolbarbutton-badge-stack) > .toolbarbutton-icon,
		#main-window[fx44plus="true"] #nav-bar .toolbarbutton-1:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button) > .toolbarbutton-icon,
		#main-window[fx44plus="true"] #nav-bar .toolbarbutton-1:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button) > :-moz-any(.toolbarbutton-menubutton-button, .toolbarbutton-badge-stack) > .toolbarbutton-icon,
		#main-window[fx44plus="true"] #nav-bar #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
		#main-window[fx44plus="true"] #nav-bar #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon{
		  max-width: 32px !important;
		}
		#main-window[fx44plus="true"] #PanelUI-menu-button .toolbarbutton-icon,
		#main-window[fx44plus="true"] toolbar:not(#nav-bar) .toolbarbutton-1:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button) > .toolbarbutton-icon,
		#main-window[fx44plus="true"] toolbar:not(#nav-bar) .toolbarbutton-1:-moz-any(#back-button, #forward-button, #home-button, #print-button, #downloads-button, #bookmarks-menu-button, #new-tab-button, #new-window-button, #fullscreen-button, #sync-button, #feed-button, #tabview-button, #social-share-button, #open-file-button, #find-button, #developer-button, #preferences-button, #ctraddon_preferences-button, #privatebrowsing-button, #save-page-button, #add-ons-button, #history-panelmenu, #nav-bar-overflow-button, #PanelUI-menu-button, #characterencoding-button, #email-link-button, #sidebar-button, #zoom-out-button, #zoom-reset-button, #zoom-in-button, #cut-button, #copy-button, #paste-button, #e10s-button, #panic-button, #web-apps-button, #webide-button, #loop-button, #pocket-button) > :-moz-any(.toolbarbutton-menubutton-button, .toolbarbutton-badge-stack) > .toolbarbutton-icon,
		#main-window[fx44plus="true"] toolbar:not(#nav-bar) #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon,
		#main-window[fx44plus="true"] toolbar:not(#nav-bar) #bookmarks-menu-button[cui-areatype="toolbar"] > .toolbarbutton-menubutton-button > .toolbarbutton-icon{
		  width: 18px !important;
		}
	}

}