@import url(chrome://ctraddon_os_special/skin/back-forwardextra.css);
@import url(chrome://ctraddon_os_special/skin/nav_txtonlyextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#navigator-toolbox #nav-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text {
      border: 1px solid transparent;
    }
	#navigator-toolbox #nav-bar .toolbarbutton-1{
	 padding-top: 2px !important;
	 padding-bottom: 2px !important;
	}
	
	#navigator-toolbox toolbar:not(#TabsToolbar) .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text,
	#ctraddon_addon-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-text	{
	  display: -moz-box !important;
	}
	
	#navigator-toolbox toolbar:not(#TabsToolbar) .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([type="menu-button"]),
	#ctraddon_addon-bar .toolbarbutton-1:not(.tabs-newtab-button):not(.tab-close-button):not([type="menu-button"]) {
	  -moz-box-orient: vertical !important;
	}
	
	#navigator-toolbox toolbar:not(#TabsToolbar) toolbarbutton:not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon,
	#ctraddon_addon-bar toolbarbutton:not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon {
	  visibility: collapse !important;
	}
	
	#navigator-toolbox toolbar:not(#TabsToolbar) #urlbar-go-button:not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon,
	#navigator-toolbox toolbar:not(#TabsToolbar) #urlbar-stop-button:not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon,
	#navigator-toolbox toolbar:not(#TabsToolbar) #urlbar-reload-button:not(.tabs-newtab-button):not(.tab-close-button):not(#tabs-closebutton):not(#ctraddon_tabs-closebutton):not(#PlacesChevron) .toolbarbutton-icon {
	  visibility: visible !important;
	}
	
	#navigator-toolbox toolbar:not(#TabsToolbar) .toolbarbutton-1[type="menu"] dropmarker,
	#ctraddon_addon-bar .toolbarbutton-1[type="menu"] dropmarker{
	   visibility:collapse !important;
	}
	
	#downloads-button .toolbarbutton-icon{
	  margin: -4px !important;
	}

	/* make custom back-forward visible and hide back-forward on urlbar item */
	#ctraddon_back-forward-button{
	  visibility: visible !important;
	}
	#main-window toolbox toolbar #urlbar-container #back-button,
	#main-window toolbox toolbar #urlbar-container #urlbar-wrapper #forward-button{
	  visibility: collapse !important;
	  display:none !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper {
	  clip-path: none !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar {
	  transition: none !important;
	  transition-property: none !important;
	  transition-delay: 0s !important;
	}
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar:-moz-locale-dir(ltr),
	window:not([chromehidden~="toolbar"]) #urlbar-container[forwarddisabled] > #urlbar-wrapper > #urlbar:-moz-locale-dir(rtl) {
	  margin-left: 0px !important;
	}
	
	/* support for star & feed buttons in urlbar */
	toolbox toolbar #urlbar-container #urlbar #feed-button .toolbarbutton-text,
	toolbox toolbar #urlbar-container #urlbar #bookmarks-menu-button .toolbarbutton-text {
	  display: none !important;
	  visibility: collapse !important;
	}
	#main-window toolbox toolbar #urlbar-container #urlbar #feed-button:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-icon,
	#main-window toolbox toolbar #urlbar-container #urlbar #bookmarks-menu-button:not(.tabs-newtab-button):not(.tab-close-button) .toolbarbutton-icon {
	  visibility: visible !important;
	}
	toolbox toolbar #urlbar-container #urlbar #feed-button,
	toolbox toolbar #urlbar-container #urlbar #bookmarks-menu-button {
	  min-width: inherit !important;
	}
	toolbox toolbar #urlbar-container #urlbar #feed-button:hover,
	toolbox toolbar #urlbar-container #urlbar #bookmarks-menu-button:hover{
	  border: 0px solid transparent !important;
      background-image: linear-gradient(hsla(0,0%,100%,.0), hsla(0,0%,100%,.0)) !important;
      border-color: hsla(210,54%,20%,.0) hsla(210,54%,20%,.0) hsla(210,54%,20%,.0) !important;
      box-shadow: none !important;
	  padding:0 !important;
	}
	
	/* Vertical toolbar */
	#vertical-toolbar .toolbarbutton-1 .toolbarbutton-text {
	  display: -moz-box !important;
	}
	#vertical-toolbar .toolbarbutton-1 {
	  -moz-box-orient: vertical !important;
	}
	#vertical-toolbar toolbarbutton .toolbarbutton-icon {
	  visibility: collapse !important;
	}
	
	/* Main menu button & call button fix */
	toolbar .toolbarbutton-1 .toolbarbutton-badge,
	toolbar .toolbarbutton-1 .toolbarbutton-badge-container {
	  -moz-appearance:none !important;
	  background:none !important;
	  border:0 !important;
	  padding:0 !important;
	  box-shadow:none !important;
	}
	
	toolbar .toolbarbutton-badge-stack {
	  display: none !important;
	}
}