@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	@media not all and (-moz-os-version: windows-win10) {
	
		#nav-bar-customization-target,
		#nav-bar-overflow-button {
		  margin-top:-6px !important;
		  margin-bottom:-6px !important;
		}
	
	}
	
	@media (-moz-os-version: windows-win10) {
		
		#main-window:not([inFullscreen="true"]) #nav-bar-customization-target,
		#main-window:not([inFullscreen="true"]) #nav-bar-overflow-button {
		  margin-top:-6px !important;
		  margin-bottom:-6px !important;
		}
		
		#main-window[inFullscreen="true"] #navigator-toolbox:not([style=""]) #nav-bar-customization-target,
		#main-window[inFullscreen="true"] #navigator-toolbox:not([style=""]) #nav-bar-overflow-button {
		  margin-top:0px !important;
		  margin-bottom:0px !important;
		  padding-top:0px !important;
		  padding-bottom:0px !important;
		}
	
	}

	#nav-bar-customization-target #urlbar-container,
	#nav-bar-customization-target #search-container {
	  margin-top:7px !important;
	  margin-bottom:7px !important;
	}
	
	#nav-bar toolbarseparator {
	  margin-top: 6px !important;
	  margin-bottom: 6px !important;
	}

	#nav-bar #ctraddon_puib_separator{
	  margin-top: 8px !important;
	  margin-bottom: 8px !important;
	}
	
	#nav-bar #ctraddon_back-forward-dropmarker{
	  margin-top: 0px !important;
	  margin-bottom: 0px !important;
	  padding-top: 0px !important;
	  padding-bottom: 0px !important;
	}

	#nav-bar[mode="text"] #nav-bar-customization-target #urlbar-container,
	#nav-bar[mode="text"] #nav-bar-customization-target #search-container {
	  margin-top:1px !important;
	  margin-bottom:1px !important;
	}
}