@import url(chrome://ctraddon_os_special/skin/navbar_compact_extra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#nav-bar-customization-target > toolbaritem:not(#search-container):not(#urlbar-container) toolbarbutton,
	#nav-bar-customization-target > toolbarbutton toolbarbutton,
	#nav-bar-customization-target > toolbarbutton > dropmarker,
	#nav-bar-customization-target > #bookmarks-menu-button .toolbarbutton-menubutton-dropmarker,
	#nav-bar-customization-target > toolbarbutton,
	#nav-bar-overflow-button {
	  padding-top:0px !important;
	  padding-bottom:0px !important;
	}
	
	#nav-bar[mode="text"] #nav-bar-customization-target > toolbarbutton[type="menu"] .dropmarker-icon {
	  display: none !important;
	}

}