@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#nav-bar-customization-target,
	#nav-bar-overflow-button {
	  margin-top:-6px !important;
	  margin-bottom:-6px !important;
	}
	#nav-bar-customization-target #urlbar-container,
	#nav-bar-customization-target #search-container {
	  margin-top:7px !important;
	  margin-bottom:7px !important;
	}
}