@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#nav-bar-customization-target > toolbaritem:not(#search-container):not(#urlbar-container) toolbarbutton,
	#nav-bar-customization-target > toolbarbutton toolbarbutton,
	#nav-bar-customization-target > toolbarbutton > dropmarker,
	#nav-bar-customization-target > #bookmarks-menu-button .toolbarbutton-menubutton-dropmarker,
	#nav-bar-customization-target > toolbarbutton,
	#nav-bar-overflow-button {
	  padding-top: 7px !important;
	  padding-bottom: 7px !important;
	}
	
	#main-window[fx55plus="true"] #nav-bar-customization-target > toolbaritem:not(#search-container):not(#urlbar-container) toolbarbutton,
	#main-window[fx55plus="true"] #nav-bar-customization-target > toolbarbutton toolbarbutton,
	#main-window[fx55plus="true"] #nav-bar-customization-target > toolbarbutton > dropmarker,
	#main-window[fx55plus="true"] #nav-bar-customization-target > #bookmarks-menu-button .toolbarbutton-menubutton-dropmarker,
	#main-window[fx55plus="true"] #nav-bar-customization-target > toolbarbutton,
	#main-window[fx55plus="true"] #nav-bar-overflow-button {
	  padding-top: 2px !important;
	  padding-bottom: 2px !important;
	}

}