@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/*@-moz-document url(chrome://browser/content/browser.xul) {*/
  #main-window #toolbar-menubar,
  #main-window #nav-bar,
  #main-window #navigator-toolbox #TabsToolbar .tabbrowser-tab .tab-text,
  #main-window #PersonalToolbar,
  #main-window #ctraddon_addon-bar{
    text-shadow:none!important;
  }
/*}*/