@import url(chrome://ctraddon_os_special/skin/oldsearch_extra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
	
	searchbar {
	  -moz-binding: url("chrome://classic_theme_restorer/content/ctr_oldsearch.xml#searchbar") !important;
	}
	
	#main-window:not([searchwp-moz-platform]) searchbar .searchbar-textbox {
	  -moz-binding: url("chrome://classic_theme_restorer/content/ctr_oldsearch.xml#searchbar-textbox") !important;
	}

	.searchbar-engine-button {
	  -moz-appearance: none !important;
	  min-width: 0 !important;
	  margin: 0 !important;
	  padding: 0 !important;
	  -moz-padding-start: 4px !important;
	  -moz-padding-end: 2px !important;
	  -moz-box-align: center !important;
	  background: none !important;
	  border: none !important;
	}
	
	#navigator-toolbox #nav-bar  .searchbar-engine-button {
	  min-height: unset !important;	
	}

	.searchbar-engine-button > .button-box {
	  -moz-appearance: none !important;
	  padding: 0 !important;
	  border: 0 !important;
	}

	.searchbar-dropmarker-image {
	  list-style-image: url("chrome://classic_theme_restorer/content/images/searchbar-dropdown-arrow.png");
	  -moz-image-region: rect(0, 13px, 11px, 0);
	}

	.searchbar-engine-button[open="true"] > .searchbar-dropmarker-image {
	  -moz-image-region: rect(0, 26px, 11px, 13px);
	}

	.search-go-button {
	  display: block !important;
	  list-style-image: url("chrome://classic_theme_restorer/content/images/search-glass.png") !important;
	  -moz-image-region: rect(0px, 16px, 16px, 0) !important;
	  width: 18px !important;
	  -moz-margin-end: -2px !important;
	}

	.search-go-button:hover {
	  -moz-image-region: rect(0px, 32px, 16px, 16px) !important;
	}

	.search-go-button:active {
	  -moz-image-region: rect(0px, 48px, 16px, 32px) !important;
	}
	
	.search-go-button:-moz-locale-dir(rtl) {
	  transform: scaleX(-1);
	}
	
	@media (min-resolution: 1.1dppx) {
		.search-go-button {
		  list-style-image: url("chrome://classic_theme_restorer/content/images/search-glass32.png") !important;
		  -moz-image-region: rect(0px, 32px, 32px, 0) !important;
		}

		.search-go-button:hover {
		  -moz-image-region: rect(0px, 64px, 32px, 32px) !important;
		}

		.search-go-button:active {
		  -moz-image-region: rect(0px, 96px, 32px, 64px) !important;
		}
		
	}
	
	.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
	  font-weight: bold !important;
	}
	
	.searchbar-popup {
	  -moz-margin-start: -1px !important;	
	}

	/* location bars footer */
	#urlbar-search-footer{
	  display:none !important;
	}

}