@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {
	
	/* Firefox 45+ */
	#urlbar[pageproxystate="valid"] :-moz-any(.verifiedDomain,.verifiedIdentity) #connection-icon {
	  list-style-image: url(chrome://classic_theme_restorer/content/images/padlock_modern.png) !important;
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}
	
	#urlbar[pageproxystate="valid"] :-moz-any(.insecureLoginForms,.mixedActiveContent,.notSecure) #connection-icon {
	  list-style-image: url(chrome://classic_theme_restorer/content/images/padlock_modern_mal.png) !important;
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}

	#urlbar[pageproxystate="valid"] :-moz-any(.weakCipher,.mixedDisplayContent,.mixedDisplayContentLoadedActiveBlocked,.certUserOverridden) #connection-icon {
	  list-style-image: url(chrome://classic_theme_restorer/content/images/padlock_modern_mpl.png) !important;
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}
	
	#urlbar[pageproxystate="valid"] .mixedActiveBlocked #connection-icon {
	  list-style-image: url(chrome://classic_theme_restorer/content/images/padlock_modern_mab.png) !important;
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}

	#main-window:not([defaultfxtheme="true"]) #urlbar #identity-icon,
	#main-window:not([defaultfxtheme="true"]) #urlbar #connection-icon{
	  width: 16px !important;
	}
	#main-window:not([defaultfxtheme="true"]) #urlbar *:not(:-moz-any(.verifiedDomain,.verifiedIdentity,.insecureLoginForms,.mixedActiveContent,.notSecure,.weakCipher,.mixedDisplayContent,.mixedDisplayContentLoadedActiveBlocked,.mixedActiveBlocked,.certUserOverridden)) #connection-icon:not([scr]){
	  width: 0px !important;
	}
	
	#connection-icon {
	  filter: unset !important;
	}
}