@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {

	/* Firefox 45+ */
	#urlbar[pageproxystate="valid"] .verifiedDomain #connection-icon,
	#urlbar[pageproxystate="valid"] .verifiedIdentity #connection-icon {
	  list-style-image: url(chrome://classic_theme_restorer/content/images/padlock_amo.png) !important;
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}
	
	#urlbar[pageproxystate="valid"] .insecureLoginForms #connection-icon,
	#urlbar[pageproxystate="valid"] .mixedActiveContent #connection-icon {
	  list-style-image: url(chrome://classic_theme_restorer/content/images/padlock_amo_mal.png) !important;
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}

	#urlbar[pageproxystate="valid"] .weakCipher #connection-icon,
	#urlbar[pageproxystate="valid"] .mixedDisplayContent #connection-icon,
	#urlbar[pageproxystate="valid"] .mixedDisplayContentLoadedActiveBlocked #connection-icon {
	  list-style-image: url(chrome://classic_theme_restorer/content/images/padlock_amo_mpl.png) !important;
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}
	
	#urlbar[pageproxystate="valid"] .mixedActiveBlocked #connection-icon {
	  list-style-image: url(chrome://classic_theme_restorer/content/images/padlock_amo_mab.png) !important;
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}

	#main-window:not([defaultfxtheme="true"]) #urlbar[pageproxystate="valid"] .verifiedDomain #connection-icon,
	#main-window:not([defaultfxtheme="true"]) #urlbar[pageproxystate="valid"] .verifiedIdentity #connection-icon,
	#main-window:not([defaultfxtheme="true"]) #urlbar[pageproxystate="valid"] .insecureLoginForms #connection-icon,
	#main-window:not([defaultfxtheme="true"]) #urlbar[pageproxystate="valid"] .mixedActiveContent #connection-icon,
	#main-window:not([defaultfxtheme="true"]) #urlbar[pageproxystate="valid"] .weakCipher #connection-icon,
	#main-window:not([defaultfxtheme="true"]) #urlbar[pageproxystate="valid"] .mixedDisplayContent #connection-icon,
	#main-window:not([defaultfxtheme="true"]) #urlbar[pageproxystate="valid"] .mixedDisplayContentLoadedActiveBlocked #connection-icon,
	#main-window:not([defaultfxtheme="true"]) #urlbar[pageproxystate="valid"] .mixedActiveBlocked #connection-icon{
	  width: 16px !important;
	}
	
	#connection-icon {
	  filter: unset !important;
	}
}