@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@-moz-document url(chrome://browser/content/browser.xul) {

	/* Firefox 45+ */
	#urlbar[pageproxystate="valid"] .chromeUI #identity-icon[src] + #tracking-protection-icon + #connection-icon {
	  list-style-image: url(chrome://branding/content/identity-icons-brand.svg) !important;
	  visibility: visible !important;
	  display: block !important;
	  width: 16px !important;
	  height: 16px !important;
	}

	#main-window:not([defaultfxtheme="true"]) #urlbar #identity-icon,
	#main-window:not([defaultfxtheme="true"]) #urlbar #connection-icon{
	  width: 16px !important;
	}
	#main-window:not([defaultfxtheme="true"]) #urlbar *:not(.verifiedDomain):not(.verifiedIdentity):not(.insecureLoginForms):not(.mixedActiveContent):not(.weakCipher):not(.mixedDisplayContent):not(.mixedDisplayContentLoadedActiveBlocked):not(.mixedActiveBlocked) #connection-icon:not([scr]){
	  width: 0px !important;
	}

}