@import url(chrome://ctraddon_os_special/skin/smallnavbutextra.css);
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url(chrome://browser/content/browser.xul){
 
  #restman-button{
	margin-top:1px !important;
	margin-bottom:1px !important;
  }
  
  #main-wndow[fx54plus="true"] #nav-bar-customization-target > toolbaritem:not(#search-container):not(#urlbar-container) toolbarbutton,
  #main-wndow[fx54plus="true"] #nav-bar-customization-target > toolbarbutton toolbarbutton,
  #main-wndow[fx54plus="true"] #nav-bar-customization-target > toolbarbutton > dropmarker,
  #main-wndow[fx54plus="true"] #nav-bar-customization-target > #bookmarks-menu-button .toolbarbutton-menubutton-dropmarker,
  #main-wndow[fx54plus="true"] #nav-bar-customization-target > toolbarbutton,
  #main-wndow[fx54plus="true"] #nav-bar-overflow-button {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
  }

  /* cui buttons */
  #ctraddon_cui-smallnavbut-button1 {
	background:#fbfbfb !important;
  }
  #ctraddon_cui-smallnavbut-button2 {
	background:#dadada !important;
  }
  
  @media all and (-moz-windows-classic) {
	#ctraddon_cui-smallnavbut-button1 * {
	  background: unset !important;
	}
	#ctraddon_cui-smallnavbut-button2 * {
	  background:#e7e3db !important;
	}
  }

}