@import url(chrome://ctraddon_os_special/skin/smallnavbutextra.css);
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url(chrome://browser/content/browser.xul){
 
  #restman-button{
	margin-top:1px !important;
	margin-bottom:1px !important;
  }
  
  /* cui buttons */
  #ctraddon_cui-smallnavbut-button1 {
	background:#fbfbfb !important;
  }
  #ctraddon_cui-smallnavbut-button2 {
	background:#dadada !important;
  }
  
  @media all and (-moz-windows-classic) {
	#ctraddon_cui-smallnavbut-button1 * {
	  background: unset !important;
	}
	#ctraddon_cui-smallnavbut-button2 * {
	  background:#e7e3db !important;
	}
  }

}