@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
			   
	/* spaces, flexible spaces, separators on toolbars in customizing mode */
	/* on palette */
	toolbarpaletteitem[place="palette"] > toolbarspring{
	  background: url("chrome://classic_theme_restorer/content/images/flex_space.png") white center no-repeat;
	  border: 1px solid black !important;
	}
	toolbarpaletteitem[place="palette"] > toolbarseparator{
	  /*background: url("chrome://classic_theme_restorer/content/images/separator.png") center no-repeat;*/
	}
	toolbarpaletteitem[place="palette"] > toolbarspacer{
	  background: url("chrome://classic_theme_restorer/content/images/space1.png") center no-repeat;
	}
	/* on toolbar */
	toolbarpaletteitem[place="toolbar"] > toolbarspring{
	  background: url("chrome://classic_theme_restorer/content/images/flex_space.png") white center no-repeat;
	  min-width: 32px;
	  border: 1px solid black !important;
	}
	toolbarpaletteitem[place="toolbar"] > toolbarseparator{
	  /*background: url("chrome://classic_theme_restorer/content/images/separator.png") center no-repeat;*/
	  min-width: 5px;
	  width: 5px;
	}
	toolbarpaletteitem[place="toolbar"] > toolbarspacer{
	  background: url("chrome://classic_theme_restorer/content/images/space1.png") center no-repeat;
	  min-width: 15px;
	  width: 15px;
	}
	
	/* spaces, flexible spaces, separators in panel ui menu */
	toolbarpaletteitem toolbarspring[cui-areatype="menu-panel"]{
	  background: url("chrome://classic_theme_restorer/content/images/flex_space.png") white center no-repeat;
	  border: 1px solid black;
	}
	
	toolbarpaletteitem toolbarseparator[cui-areatype="menu-panel"]{
	  background: url("chrome://classic_theme_restorer/content/images/separator.png") center no-repeat;
	}

	toolbarpaletteitem toolbarspacer[cui-areatype="menu-panel"]{
	  background: url("chrome://classic_theme_restorer/content/images/space1.png") center no-repeat;
	}
	
	/* adjustments for spaces, flexible spaces, separators in panel menu */
	toolbarspring[cui-areatype="menu-panel"]{
	  -moz-appearance: none !important;
	  width: 260px !important;
	  min-height: 20px !important;
	  margin-right: 2px !important;
	  margin-left: 2px !important;
	}
	toolbarseparator[cui-areatype="menu-panel"]{
	  -moz-appearance: none !important;
	  width: 260px !important;
	  min-height: 0px !important;
	  margin-right: 2px !important;
	  margin-left: 2px !important;
	  border-top: 1px solid rgba(0,0,0,.0) !important;
	  border-bottom: 1px solid rgba(0,0,0,.5) !important;
	}
	toolbarspacer[cui-areatype="menu-panel"]{
	  -moz-appearance: none !important;
	  height: 67px !important;
      width: 89px !important;
      padding-top: 38px !important;
	}

}