@import url(chrome://ctr_os_special/skin/starinurlextra.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url(chrome://browser/content/browser.xul){

	* #bookmarks-menu-button {
	  visibility:collapse !important;
	}
	#urlbar-icons #bookmarks-menu-button {
	  visibility:visible !important;
	}
	
	#urlbar-icons #bookmarks-menu-button {
	  -moz-appearance: none !important;
	  background: none !important;
	  padding:0 !important;
	  border:0 !important;
	  border-image:none !important;
	  box-shadow:none !important;
	}
	
	#urlbar-icons #bookmarks-menu-button > .toolbarbutton-menubutton-button,
	#urlbar-icons #bookmarks-menu-button > .toolbarbutton-menubutton-button > .toolbarbutton-icon{
	  -moz-appearance: none !important;
	  background: none !important;
	  background-image: none !important;
	  border-color: transparent !important;
	  border-image:none !important;
	  box-shadow: none !important;
	  transition-property: none !important;
      transition-duration: 0ms !important;
	}

	#urlbar-icons #bookmarks-menu-button .toolbarbutton-icon {
	  -moz-image-region: rect(0px 18px 18px 0px);
	  opacity: 1.0 !important;
	}
	#urlbar-icons #bookmarks-menu-button:hover .toolbarbutton-icon {
	  background-image: radial-gradient(circle closest-side, hsla(45,100%,73%,.3), hsla(45,100%,73%,0));
	  -moz-image-region: rect(0px 36px 18px 18px);
	}
	#urlbar-icons #bookmarks-menu-button:hover:active .toolbarbutton-icon {
	  background-image: radial-gradient(circle closest-side, hsla(45,100%,73%,.1), hsla(45,100%,73%,0));
	  -moz-image-region: rect(0px 54px 18px 36px);
	}
	#urlbar-icons #bookmarks-menu-button[starred] .toolbarbutton-icon {
	  -moz-image-region: rect(0px 18px 18px 0px);
	}
	#urlbar-icons #bookmarks-menu-button[starred]:hover .toolbarbutton-icon {
	  background-image: radial-gradient(circle closest-side, hsla(45,100%,73%,.3), hsla(45,100%,73%,0));
	  -moz-image-region: rect(0px 36px 18px 18px);
	}
	#urlbar-icons #bookmarks-menu-button[starred]:hover:active .toolbarbutton-icon {
	  background-image: radial-gradient(circle closest-side, hsla(45,100%,73%,.1), hsla(45,100%,73%,0));
	  -moz-image-region: rect(0px 54px 18px 36px);
	}
	
	#urlbar-icons #star-button,
	#urlbar-icons #bookmarks-menu-button .toolbarbutton-menubutton-dropmarker {
	  visibility:collapse !important;
	}
}