@import url(chrome://ctraddon_os_special/skin/starinurlextra.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@-moz-document url(chrome://browser/content/browser.xul){

	#nav-bar #bookmarks-menu-button,
	#urlbar[pageproxystate="invalid"] > #urlbar-icons #bookmarks-menu-button {
	  visibility:collapse !important;
	}
	
	#urlbar:not([pageproxystate="invalid"]) > #urlbar-icons #bookmarks-menu-button {
	  visibility:visible !important;
	}
	
	#urlbar-icons #bookmarks-menu-button {
	  -moz-appearance: none !important;
	  background: none !important;
	  padding:0 !important;
	  border:0 !important;
	  border-image:none !important;
	  box-shadow:none !important;
	}
	
	#urlbar-icons #bookmarks-menu-button > .toolbarbutton-menubutton-button,
	#urlbar-icons #bookmarks-menu-button > .toolbarbutton-menubutton-button > .toolbarbutton-icon{
	  -moz-appearance: none !important;
	  background: none !important;
	  background-image: none !important;
	  border-color: transparent !important;
	  border-image:none !important;
	  box-shadow: none !important;
	  transition-property: none !important;
      transition-duration: 0ms !important;
	}

	#urlbar-icons #star-button,
	#urlbar-icons #bookmarks-menu-button .toolbarbutton-menubutton-dropmarker {
	  visibility:collapse !important;
	}
	
	#main-window:not([defaultfxtheme="true"]) #urlbar-icons #bookmarks-menu-button {
	  margin:-8px 0px !important;
	}
	#main-window:not([defaultfxtheme="true"]) #nav-bar #urlbar-icons #bookmarks-menu-button .toolbarbutton-icon {
	  margin: -2px 0px !important;
	}
	#main-window[defaultfxtheme="true"] #urlbar-icons #bookmarks-menu-button {
	  margin:-8px -4px !important;
	}
	#main-window[defaultfxtheme="true"] #nav-bar #urlbar-icons #bookmarks-menu-button .toolbarbutton-icon {
	  margin: -8px 0px !important;
	}
	
	#bookmarked-notification-dropmarker-icon,
	#bookmarked-notification {
	  visibility: collapse !important;
	}
	
	#bookmarks-menu-button *,
	#bookmarked-notification,
	#bookmarked-notification-dropmarker-icon {
	  animation: none !important;
	}
}