@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#main-window:not([customizing]) #status-bar{
	  -moz-appearance: none !important;
	  background: none !important;
	  border: none !important;
	  border-right: none !important;
	}
	
	#main-window[customizing] #status-bar{
	  -moz-appearance: none !important;
	  background: none !important;
	  border: none !important;
	  border-right: none !important;
	  min-width: 50px !important;
	  box-shadow: 2px 2px 8px rgba(255,255,255,0.6) inset,
          		  1px 1px 8px rgba(0,0,0,0.8) inset,
                  0px 0px 0px 1px rgba(0,0,0,0.8) inset,
				  0px 0px 0px 2px rgba(255,255,255,0.9) inset !important;
	}
	
	#main-window[customizing] #ctr_addon-bar #status-bar{
	  margin-top:-1px !important;
	}
	
	#status-bar statusbarpanel {
	  -moz-appearance:none !important;
	  border:none !important;
	}

	#ctr_statusbar[cui-areatype="menu-panel"] #status-bar,
	toolbarpaletteitem[place="palette"] > #ctr_statusbar #status-bar,
	#ctr_statusbar[cui-areatype="menu-panel"],
	toolbarpaletteitem[place="palette"] > #ctr_statusbar {
	  width: 100px !important;
	  box-shadow: 2px 2px 8px rgba(255,255,255,0.6) inset,
          		  1px 1px 8px rgba(0,0,0,0.8) inset,
                  0px 0px 0px 1px rgba(0,0,0,0.8) inset,
				  0px 0px 0px 2px rgba(255,255,255,0.9) inset !important;
	}
	toolbarpaletteitem[place="toolbar"] #ctr_statusbar {
	  min-width: 50px !important;
	  box-shadow: 2px 2px 8px rgba(255,255,255,0.6) inset,
          		  1px 1px 8px rgba(0,0,0,0.8) inset,
                  0px 0px 0px 1px rgba(0,0,0,0.8) inset,
				  0px 0px 0px 2px rgba(255,255,255,0.9) inset !important;
	}
	
	/* temp. workaround for 'Request Policy' add-on until dev adds a fix for Fx 29+ */
	#requestpolicyStatusbar {
	  display: inline !important;
	}

}