@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
	  -moz-padding-end: 22px !important;
	  -moz-padding-start: 0px !important;
	}
	
	.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme){
	  background-image: linear-gradient(to top,#eaeaea,#e2e2e2,#ededed,#fcfcfc);
	}
	
	.tabbrowser-tab:not([selected="true"]):not(:hover):not(:-moz-lwtheme) {
	  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #a1a1a1,#c0c0c0,#cccccc,#d4d4d4);
	}
	
	.tabbrowser-tab:not([selected="true"]):hover:not(:-moz-lwtheme) {
	  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top,#b3b3b3,#cfcfcf,#dedede,#e5e5e5);
	}
	
	.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):not(:hover),
	.tabbrowser-tab:not(:-moz-lwtheme):not([selected=true]):hover{
	  color: black !important;
	}
	
	.tabs-newtab-button:not(:-moz-lwtheme) {
	  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #a1a1a1,#c0c0c0,#cccccc,#d4d4d4) !important;
	}
	
	.tabs-newtab-button:hover:not(:-moz-lwtheme) {
	  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top,#b3b3b3,#cfcfcf,#dedede,#e5e5e5) !important;
	}

	.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):not(:hover):not(:-moz-lwtheme){
	  background-size: 95% 100% !important;
	  background-image: linear-gradient(to top, #676f76 0px, transparent 1px),linear-gradient(to top, #a1a1a1,#c0c0c0,#cccccc,#d4d4d4) !important;
	}

	.tabbrowser-tabs{
	  border-bottom:0 !important;
	}
	
	#tabbrowser-tabs:not([overflow="true"]) {
	  -moz-margin-end: -8px !important;
	}
	
	#tabbrowser-tabs{
	  min-height: 0px !important;
	}
	
	.tabbrowser-tab,
	.tabs-newtab-button{
	  height:28px !important;
	}

	.tabs-newtab-button > .toolbarbutton-icon {
	  margin-left:-10px !important;
	  margin-right:-10px !important;
	  margin-top: -2px !important;
	  margin-bottom: -2px !important;
	}
	
	#main-window[tabsintitlebar][sizemode="normal"]  #TabsToolbar{
	  -moz-margin-start: 0px !important;
	}
	#main-window:not([tabsintitlebar])[sizemode="normal"]  #TabsToolbar{
	  -moz-margin-start: 0px !important;
	}
	
	#main-window[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"][inactive="true"]:not([customizing="true"]) ~ #TabsToolbar #ctraddon_appbutton{
	  -moz-margin-start:-2px !important;
	}
	
	.tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-background-middle:not([selected=true]),
	.tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-background-start:not([selected=true]),
	.tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-background-end:not([selected=true]),
	.tab-background-middle[selected=true],
	.tab-background-start[selected=true]::before,
	.tab-background-end[selected=true]::before,
	.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]){
	  background:none !important;
	}
	
	.tab-background-start[selected=true]:-moz-locale-dir(ltr)::after,
	.tab-background-end[selected=true]:-moz-locale-dir(rtl)::after,
	.tab-background-start[selected=true]:-moz-locale-dir(rtl)::after,
	.tab-background-end[selected=true]:-moz-locale-dir(ltr)::after{
	  content:none !important;
	}

	.tabs-newtab-button {
	  -moz-margin-start: 0px !important;
	  clip-path:none !important;
	  width: 28px !important;
	}
	
	.tabs-newtab-button .tab-stack,
	.tabbrowser-tab .tab-stack {
	  -moz-appearance: none !important;
	  margin-top: 0px !important;
	  margin-bottom: -2px !important;
	}
	
	.tabbrowser-tab .tab-content{
	  -moz-appearance: none !important;
	  -moz-border-image: none !important;
	  padding-left: 5px !important;
	  padding-right: 5px !important;
	  margin-left: 0px !important;
	  margin-right: 0px !important;
	  margin-top: -1px !important;
	  margin-bottom: 0px !important;
	}

	#TabsToolbar {
	  min-height: 0px !important;
	  padding-left: 2px !important;
	  padding-right: 2px !important;
	}

	.tabs-newtab-button{
	  background: linear-gradient(to top, rgba(10%,10%,10%,.4) 1px, transparent 1px), linear-gradient(transparent, hsla(0,0%,45%,.1) 1px, hsla(0,0%,32%,.2) 80%, hsla(0,0%,0%,.2)),
				  linear-gradient(-moz-dialog, -moz-dialog) !important;
	}

	.tabbrowser-tab,
	.tabs-newtab-button{
	  -moz-appearance: none !important;
	  background: linear-gradient(to top, rgba(10%,10%,10%,.4) 1px, transparent 1px), linear-gradient(transparent, hsla(0,0%,45%,.1) 1px, hsla(0,0%,32%,.2) 80%, hsla(0,0%,0%,.2)),
				  linear-gradient(-moz-dialog, -moz-dialog);
	  background-origin: border-box !important;
	  background-position: 1px 3px !important;
	  background-size: calc(100% - 2px) calc(100% - 2px) !important;
	  background-repeat: no-repeat !important;
	  border-top-right-radius: 3px !important;
	  border-top-left-radius: 3px !important;
	}
	
	.tabs-newtab-button:not(:-moz-lwtheme),
	.tabs-newtab-button:-moz-lwtheme{
	  border-width: 1px 3px 1px !important;
	  border-image: url(chrome://classic_theme_restorer/content/images/tab.png) 0 3 1 fill repeat stretch !important;
	  border-style: solid !important;
	}

	.tabbrowser-tab[selected=true] > .tab-stack > .tab-content,
	.tabbrowser-tab:not([selected=true]):not(:-moz-lwtheme) > .tab-stack > .tab-content,
	.tabbrowser-tab:not([selected=true]):-moz-lwtheme > .tab-stack > .tab-content {
      border-image: url("chrome://classic_theme_restorer/content/images/tab.png") 1 3 0 fill repeat stretch !important;
      border-style: solid !important;
    }

	.tabbrowser-tab[selected="true"] {
	  background-size: calc(100% - 2px) calc(100% - 2px) !important;
	}
	
	#TabsToolbar:not(:-moz-lwtheme)::after,
	#TabsToolbar:not(:-moz-lwtheme)::before {
	  box-shadow: none !important;
	}
	#tabbrowser-tabs .tabbrowser-arrowscrollbox .arrowscrollbox-overflow-start-indicator,
	#tabbrowser-tabs .tabbrowser-arrowscrollbox .arrowscrollbox-overflow-end-indicator {
	  background-image: none !important;
	}

	.tabbrowser-tab:-moz-lwtheme {
	  color: inherit !important;
	}

	.tabbrowser-tab[selected="true"]:-moz-lwtheme,
	.tabbrowser-tab[pinned]:-moz-lwtheme {
	  background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.5) 50%) !important;
	  background-size: calc(100% - 1px) calc(100% - 4px) !important;
	}

	.tabbrowser-tab:-moz-lwtheme-brighttext:not([selected="true"]),
	.tabs-newtab-button:-moz-lwtheme-brighttext {
	  background-image: linear-gradient(hsla(0,0%,40%,.6), hsla(0,0%,30%,.6) 80%) !important;
	}

	.tabbrowser-tab:-moz-lwtheme-brighttext:not([selected="true"]):hover,
	.tabs-newtab-button:-moz-lwtheme-brighttext:hover {
	  background-image: linear-gradient(hsla(0,0%,60%,.6), hsla(0,0%,45%,.6) 80%) !important;
	}

	.tabbrowser-tab:-moz-lwtheme-darktext:not([selected="true"]),
	.tabs-newtab-button:-moz-lwtheme-darktext {
	  background-image: linear-gradient(hsla(0,0%,60%,.5), hsla(0,0%,45%,.5) 80%) !important;
	}

	.tabbrowser-tab:-moz-lwtheme-darktext:not([selected="true"]):hover,
	.tabs-newtab-button:-moz-lwtheme-darktext:hover {
	  background-image: linear-gradient(hsla(0,0%,80%,.5), hsla(0,0%,60%,.5) 80%) !important;
	}

	.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]) {
	  background-image: radial-gradient(circle farthest-corner at 50% 3px, rgba(255,255,255,1) 3%, rgba(186,221,251,.75) 40%, rgba(127,179,255,.5) 80%, rgba(127,179,255,.25)) !important;
	}
	.tabbrowser-tab[pinned][titlechanged]:not([selected="true"]):hover {
	  background-image: linear-gradient(hsla(0,0%,100%,.4), hsla(0,0%,75%,.4) 80%),
						radial-gradient(circle farthest-corner at 50% 3px, rgba(255,255,255,1) 3%, rgba(186,221,251,.75) 40%, rgba(127,179,255,.5) 80%, rgba(127,179,255,.25)) !important;
	}

	.tab-background-middle[selected=true]:-moz-lwtheme{
	  background: linear-gradient(to top, rgba(10%,10%,10%,.2) 0px, transparent 0px), linear-gradient(transparent, hsla(0,0%,45%,.0) 1px, hsla(0,0%,32%,.0) 80%, hsla(0,0%,0%,.0)) !important;
	}

	#navigator-toolbox toolbar:-moz-lwtheme{
	  box-shadow:none !important;
	  border: 0px solid transparent !important;
	}
	#navigator-toolbox #nav-bar:-moz-lwtheme{
	  border-top: 1px solid transparent !important;
	}

	.tabbrowser-tab[pinned]{
	  min-width: 32px !important;
	  background-position: 0px 2px !important;
	  background-size: calc(100% - 0px) calc(100% - 1px) !important;
	  border-top-right-radius: 9px !important;
	  border-top-left-radius: 9px !important;
	}
	
	#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
	.tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
	#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
		background-image: none !important;
	}

	.tabbrowser-tab:not([pinned]) .tab-close-button{
	  -moz-margin-end:-4px !important;
	}
	
	
	#TabsToolbar{
	  background-image: none !important;
	}
	#TabsToolbar::after {
	  border-bottom: 0px !important;
	}
	
	/* remove ridiculous clipping */
	#main-window[tabsintitlebar]:not([sizemode="maximized"]):not([inFullscreen]) #toolbar-menubar:-moz-any([autohide="true"][inactive],:not([autohide])) + #TabsToolbar .tab-background-middle:not([selected=true]) {
	  clip-path: none !important;
	}
	
	/* Pinned tabs & TabMixPlus/TabUtilities locked/protected tabs support */	
	.tabbrowser-tab:not([pinned]) .tab-close-button{
	  -moz-margin-end:-4px !important;
	}
	.tabbrowser-tab:not([pinned]):not([locked]) .tab-throbber,
	.tabbrowser-tab:not([pinned]) .tab-icon-image{
	  -moz-margin-start:-3px !important;
	  -moz-margin-end:3px !important;
	}
	.tabbrowser-tab:not([pinned])[locked] .tab-throbber{
	  -moz-margin-start:-3px !important;
	  -moz-margin-end:-13px !important;
	}
  
 	.tabbrowser-tab[pinned]:not([locked]):not([pinned]) image{
	  -moz-margin-start:0px !important;
	}
	
	/* TU workaround */
	#PinnedTabsBarItems {
	  margin-left:0px !important;
	  margin-right:0px !important;
	}
	#tabbrowser-tabs[overflow] #PinnedTabsBarItems {
	  -moz-margin-end:-14px !important;
	}
	
	/* Private Tab extension */
	.tabs-newtab-button + .tabs-newtab-button {
	  -moz-margin-start: 15px !important;
	}

}

@-moz-document url(chrome://classic_theme_restorer/content/options.xul) {
	.tabcolorbox,
	.tabhovcolorbox,
	.tabpencolorbox,
	.tabunrcolorbox,
	.ntabcolorbox,
	.ntabhovcolorbox,
	#ntabcolorbox,
	#ntabhovcolorbox,
	#ctraddon_ccap_t_squared,
	#ClassicTRoptionsPane[defaultfxtheme="true"] #ctraddon_pw_colors_ntab_t{
	  visibility: visible !important;
	}
	
	#ctraddon_ccap_t_default{
	  visibility: collapse !important;
	}
}