@import url(chrome://ctraddon_os_special/skin/curvedtabsextra.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	.tabs-newtab-button:not(:-moz-lwtheme) {
	  background-position: left bottom, 30px bottom, right bottom;
	  background-repeat: no-repeat;
	  background-size: 30px 100%, calc(100% - (2 * 30px)) 100%, 30px 100%;
	}
	
	.tabs-newtab-button:not(:-moz-lwtheme){
	  background-image: url(chrome://browser/skin/tabbrowser/tab-background-start-preWin10.png),
						url(chrome://browser/skin/tabbrowser/tab-background-middle-preWin10.png),
						url(chrome://browser/skin/tabbrowser/tab-background-end-preWin10.png) !important;
	}
	
	@media  (-moz-os-version: windows-xp),
			(-moz-os-version: windows-vista),
			(-moz-os-version: windows-win7),
			(-moz-os-version: windows-win8),
			(-moz-os-version: windows-win10){
		.tabs-newtab-button:not(:-moz-lwtheme){
		  background-image: url(chrome://browser/skin/tabbrowser/tab-background-start-preWin10.png),
							url(chrome://browser/skin/tabbrowser/tab-background-middle-preWin10.png),
							url(chrome://browser/skin/tabbrowser/tab-background-end-preWin10.png) !important;
		}
	}

	.tabs-newtab-button:not(:-moz-lwtheme):hover{
	  background-image: url(chrome://classic_theme_restorer/content/images/ntab-hov-start.png),
						url(chrome://classic_theme_restorer/content/images/ntab-hov-middle.png),
						url(chrome://classic_theme_restorer/content/images/ntab-hov-end.png) !important;
	}

	#main-window[fx51plus="true"] .tabbrowser-tab::after,
	#main-window[fx51plus="true"] .tabbrowser-tab::before {
	  opacity: 0 !important;
	}
	
	#main-window[fx53plus="true"] .tabbrowser-tab:not([pinned]) .tab-label-container {
	  margin-left: -3px !important;
	  margin-right: -3px !important;
	}
	
	#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
	.tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
	#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
	  background-image: none !important;
	  background-color: unset !important;
	}
	
	/* tab appearance Fx 40+ */
	#main-window .tabbrowser-tab:not(:-moz-lwtheme):hover > .tab-stack > .tab-background:not([visuallyselected=true]),
	#main-window .tabbrowser-tab:not(:-moz-lwtheme):not(:hover) > .tab-stack > .tab-background:not([visuallyselected=true]) {
	  background-position: left bottom, 30px bottom, right bottom;
	  background-repeat: no-repeat;
	  background-size: 30px 100%, calc(100% - (2 * 30px)) 100%, 30px 100%;
	}

	#main-window .tabbrowser-tab:not(:-moz-lwtheme):hover > .tab-stack > .tab-background:not([visuallyselected=true]),
	#main-window .tabbrowser-tab:not(:-moz-lwtheme):not(:hover) > .tab-stack > .tab-background:not([visuallyselected=true]){
	  background-image: url(chrome://browser/skin/tabbrowser/tab-background-start.png),
						url(chrome://browser/skin/tabbrowser/tab-background-middle.png),
						url(chrome://browser/skin/tabbrowser/tab-background-end.png) !important;
	}
	
	@media  (-moz-os-version: windows-win10){
		#main-window .tabbrowser-tab:not(:-moz-lwtheme):hover > .tab-stack > .tab-background:not([visuallyselected=true]),
		#main-window .tabbrowser-tab:not(:-moz-lwtheme):not(:hover) > .tab-stack > .tab-background:not([visuallyselected=true]),
		#main-window .tabbrowser-tab:not(:-moz-lwtheme) > .tab-stack > .tab-background[visuallyselected=true]{
		  background-image: url(chrome://browser/skin/tabbrowser/tab-background-start-preWin10.png),
							url(chrome://browser/skin/tabbrowser/tab-background-middle-preWin10.png),
							url(chrome://browser/skin/tabbrowser/tab-background-end-preWin10.png) !important;
		  background-position: left bottom, 30px bottom, right bottom !important;
		  background-repeat: no-repeat !important;
		  background-size: 30px 100%, calc(100% - (2 * 30px)) 100%, 30px 100% !important;
		}
	}

	#main-window .tabbrowser-tab:not(:-moz-lwtheme):not([visuallyselected=true]):not(:hover) .tab-background-start:-moz-locale-dir(ltr),
	#main-window .tabbrowser-tab:not(:-moz-lwtheme):not([visuallyselected=true]):hover .tab-background-start:-moz-locale-dir(ltr),
	#main-window .tabbrowser-tab:not(:-moz-lwtheme):not([visuallyselected=true]):not(:hover) .tab-background-end:-moz-locale-dir(rtl),
	#main-window .tabbrowser-tab:not(:-moz-lwtheme):not([visuallyselected=true]):hover .tab-background-end:-moz-locale-dir(rtl) {
	  clip-path: url(chrome://browser/content/browser.xul#tab-curve-clip-path-start) !important;
	}
	
	#main-window .tabbrowser-tab:not(:-moz-lwtheme):not([visuallyselected=true]):not(:hover) .tab-background-end:-moz-locale-dir(ltr),
	#main-window .tabbrowser-tab:not(:-moz-lwtheme):not([visuallyselected=true]):hover .tab-background-end:-moz-locale-dir(ltr),
	#main-window .tabbrowser-tab:not(:-moz-lwtheme):not([visuallyselected=true]):not(:hover) .tab-background-start:-moz-locale-dir(rtl),
	#main-window .tabbrowser-tab:not(:-moz-lwtheme):not([visuallyselected=true]):hover .tab-background-start:-moz-locale-dir(rtl)	{
	  clip-path: url(chrome://browser/content/browser.xul#tab-curve-clip-path-end) !important;
	}

	/* remove ridiculous clipping */
	#main-window[tabsintitlebar][sizemode="maximized"] .tab-background-middle:not([visuallyselected=true]),
	#main-window[tabsintitlebar]:not([sizemode="maximized"]):not([inFullscreen]) #toolbar-menubar:-moz-any([autohide="true"][inactive], :not([autohide])) + #TabsToolbar .tab-background-middle:not([visuallyselected=true]) {
	  clip-path: none !important;
	}
	
	/*Test tweaks*/
	#main-window[fx57plus="true"] #TabsToolbar .close-icon > .toolbarbutton-icon {
	  width: 16px !important;
	  height: 16px !important;
	}
	
}

@-moz-document url(chrome://classic_theme_restorer/content/options.xul) {
	.tabcolorbox,
	.tabhovcolorbox,
	.tabpencolorbox,
	.tabunrcolorbox,
	#ctraddon_ccap_t_curved{
	  visibility: visible !important;
	}
	
	#ctraddon_ccap_t_default{
	  visibility: collapse !important;
	}
}