@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {
  
	#ctraddon_titlebartitle {
	  -moz-appearance: none !important;
	  padding: unset !important;
	  margin: unset !important;
	}

	/* make sure a visible menubar does not cause trouble */
	#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="normal"] #tab-view-deck #navigator-toolbox #toolbar-menubar[inactive="true"]:not([autohide="true"]),
	#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="normal"] #tab-view-deck #navigator-toolbox #toolbar-menubar[inactive="true"][autohide="false"],
	#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="normal"] #tab-view-deck #navigator-toolbox #toolbar-menubar[autohide="true"]:not([inactive="true"]),
	#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="normal"] #tab-view-deck #navigator-toolbox #toolbar-menubar:not([autohide="true"]),
	#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="maximized"] #tab-view-deck #navigator-toolbox #toolbar-menubar[inactive="true"][autohide="false"],
	#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="maximized"] #tab-view-deck #navigator-toolbox #toolbar-menubar[autohide="true"]:not([inactive="true"]),
	#main-window[tabsintitlebar]:not([inFullscreen])[sizemode="maximized"] #tab-view-deck #navigator-toolbox #toolbar-menubar:not([autohide="true"]) {
	  margin-top: 24px !important;
	  -moz-margin-start: 0 !important;
	}
	#main-window[tabsintitlebar][sizemode="normal"]:not([tabsontop="false"]) #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar,
	#main-window[tabsintitlebar][sizemode="normal"]:not([tabsontop="false"]) #toolbar-menubar[autohide="true"][inactive="true"]:not([customizing="true"]) ~ #TabsToolbar,
	#main-window[tabsintitlebar][sizemode="maximized"]:not([tabsontop="false"]) #toolbar-menubar[autohide="true"][inactive] ~ #TabsToolbar,
	#main-window[tabsintitlebar][sizemode="maximized"]:not([tabsontop="false"]) #toolbar-menubar[autohide="true"][inactive="true"]:not([customizing="true"]) ~ #TabsToolbar{
	  margin-top: 22px !important;
	  -moz-margin-start: 0 !important;
	}

	/* font & text-shadow css are from "Firefox: Bring the Title Back userstyle" */
	#ctraddon_titlebartitle label {
	  font-weight: bold !important;
	  color: CaptionText !important;
	}

	#main-window:-moz-window-inactive #ctraddon_titlebartitle label {
	  color: InactiveCaptionText !important;
	}

	@media (-moz-windows-glass) {

	  #ctraddon_titlebartitle label {
		text-shadow:  white 7px -1px 12px, white 7px -1px 13px, white 7px -1px 14px,
					  white -7px -1px 12px, white -7px -1px 13px, white -7px -1px 14px !important;
	  }

	  #main-window:-moz-window-inactive #ctraddon_titlebartitle label {
		text-shadow:  rgba(255, 255, 255, .8) 7px -1px 12px, rgba(255, 255, 255, .8) 7px -1px 13px,
					  rgba(255, 255, 255, .8) 7px -1px 14px, rgba(255, 255, 255, .8) -7px -1px 12px,
					  rgba(255, 255, 255, .8) -7px -1px 13px, rgba(255, 255, 255, .8) -7px -1px 14px !important;
	  }

	}

	@media (-moz-windows-theme: luna-blue),
		   (-moz-windows-theme: luna-olive) {

	  #ctraddon_titlebartitle label {
		text-shadow: 1px 1px rgba(0, 0, 0, .6) !important;
	  }
	  #main-window:-moz-window-inactive #ctraddon_titlebartitle label {
		text-shadow: none !important;
	  }

	}

	@media  (-moz-windows-theme: luna-silver),
			(-moz-windows-theme: royale),
			(-moz-windows-theme: zune),
			(-moz-windows-theme: generic) {

		#ctraddon_titlebartitle label {
		  text-shadow: 1px 1px rgba(0, 0, 0, .2) !important;
		}
		#main-window:-moz-window-inactive #ctraddon_titlebartitle label {
		  text-shadow: none !important;
		}

	}

}