/*AGENT_SHEET*/
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	#titlebar-placeholder-on-TabsToolbar-for-captions-buttons{
	  -moz-margin-start: 0px !important;
	}
	
	#main-window[tabsintitlebar][sizemode="normal"] #toolbar-menubar[autohide="true"][inactive="true"]:not([customizing="true"]) ~ #TabsToolbar:not(:-moz-lwtheme) #ctraddon_appbutton{
	  margin-left:-2px !important;
	}

	.tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-background-middle:not([selected=true]):not(:-moz-lwtheme),
	.tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-background-start:not([selected=true]):not(:-moz-lwtheme),
	.tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-background-end:not([selected=true]):not(:-moz-lwtheme),
	.tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-background-start:not([selected=true]):not(:-moz-lwtheme),
	.tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-background-end:not([selected=true]):not(:-moz-lwtheme),
	.tabbrowser-tab:not(:-moz-lwtheme) .tab-background-middle[selected=true],
	.tabbrowser-tab:not(:-moz-lwtheme) .tab-background-start[selected=true]::before,
	.tabbrowser-tab:not(:-moz-lwtheme) .tab-background-end[selected=true]::before,
	.tabbrowser-tab:hover:not(:-moz-lwtheme) > .tab-stack > .tab-background:not([selected=true]){
	  background:none !important;
	}
	
	.tabbrowser-tab:not(:-moz-lwtheme) .tab-background-start[selected=true]:-moz-locale-dir(ltr)::after,
	.tabbrowser-tab:not(:-moz-lwtheme) .tab-background-end[selected=true]:-moz-locale-dir(rtl)::after,
	.tabbrowser-tab:not(:-moz-lwtheme) .tab-background-start[selected=true]:-moz-locale-dir(rtl)::after,
	.tabbrowser-tab:not(:-moz-lwtheme) .tab-background-end[selected=true]:-moz-locale-dir(ltr)::after{
	  content:none !important;
	}
	
	#TabsToolbar:not(:-moz-lwtheme)::after,
	#TabsToolbar:not(:-moz-lwtheme)::before {
	  box-shadow: none !important;
	}

	#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after:not(:-moz-lwtheme),
	.tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before:not(:-moz-lwtheme),
	#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after:not(:-moz-lwtheme) {
	  background-image: none !important;
	}

    .tabs-newtab-button:not(:-moz-lwtheme) {
      -moz-margin-start: -20px !important;
      background: url("chrome://classic_theme_restorer/content/images/atab.png") 3px 0px no-repeat !important;
    }
    .tabs-newtab-button:hover:not(:-moz-lwtheme) {
      background: url("chrome://classic_theme_restorer/content/images/atab_hov.png") 3px 0px no-repeat !important;
    }
	
	#main-window[tabsontop='false'] .tabs-newtab-button:not(:-moz-lwtheme) {
      margin-left: -20px !important;
      background: url("chrome://classic_theme_restorer/content/images/atab.png") 3px 1px no-repeat !important;
    }
    #main-window[tabsontop='false'] .tabs-newtab-button:hover:not(:-moz-lwtheme) {
      background: url("chrome://classic_theme_restorer/content/images/atab_hov.png") 3px 1px no-repeat !important;
    }

    .tabbrowser-tab:not(:-moz-lwtheme) .tab-content {
      border: solid transparent;
      border-width: 2px 28px;
      -moz-margin-start: -20px;
      -moz-margin-end: -10px;
    }
    
    .tabbrowser-tab:not([pinned]):not(:-moz-lwtheme) .tab-close-button {
      pointer-events: auto;
      -moz-margin-end: -16px !important;
    }

    .tabbrowser-tab:not(:-moz-lwtheme) .tab-text {
      -moz-margin-start: -4px !important;
	  -moz-margin-end: -6px !important;
    }

    .tabbrowser-tab:not([pinned]):not(:-moz-lwtheme) .tab-icon-image,
    .tabbrowser-tab:not([pinned]):not(:-moz-lwtheme) .tab-throbber {
      pointer-events: auto;
      -moz-margin-start: -16px !important;
    }
    .tabbrowser-tab[pinned]:not(:-moz-lwtheme) .tab-icon-image,
    .tabbrowser-tab[pinned]:not(:-moz-lwtheme) .tab-throbber {
      pointer-events: auto;
      margin-left: -16px !important;
      margin-right: -16px !important;
	  max-width:16px !important;
    }

    .tabbrowser-tab[pinned]:not(:-moz-lwtheme) .tab-text {
      visibility: collapse !important;
    }

    .tabbrowser-tab:not(:-moz-lwtheme) > .tab-stack > .tab-content {
      -moz-border-image: url("chrome://classic_theme_restorer/content/images/atab.png") 2 28 fill repeat stretch !important;
      border-style:solid;
    }
    
    .tabbrowser-tab:hover:not(:-moz-lwtheme) > .tab-stack > .tab-content:not([selected="true"]) {
      -moz-border-image: url("chrome://classic_theme_restorer/content/images/atab_hov.png") 2 28 fill repeat stretch !important;
      border-style:solid;
    }
    
    .tabbrowser-tab:not(:-moz-lwtheme) > .tab-stack > .tab-content[selected="true"] {
      -moz-border-image: url("chrome://classic_theme_restorer/content/images/atab_act.png") 2 28 fill repeat stretch !important;
      border-style:solid;
    }
    
    #tabbrowser-tabs::after:not(:-moz-lwtheme) {
      content: '';
      display: block;
      background-image:
        url(chrome://classic_theme_restorer/content/images/atab.png),
        url(chrome://classic_theme_restorer/content/images/atab_act.png),
        url(chrome://classic_theme_restorer/content/images/atab_hov.png);
    }
    
    .tabbrowser-tab[pinned][titlechanged]:not(:-moz-lwtheme) > .tab-stack > .tab-content {
      -moz-border-image: url("chrome://classic_theme_restorer/content/images/atab_at.png") 2 28 repeat stretch !important;
	  background-size: 95% 100% !important;
	  background-image: linear-gradient(to top, #868d94 0px, transparent -1px),linear-gradient(to top,#b4c0cc,#c8d4e1,#d1deec) !important;
	  background-position: 0px 0px !important;
    }
    .tabbrowser-tab[pinned][titlechanged]:hover:not(:-moz-lwtheme) > .tab-stack > .tab-content:not([selected="true"]) {
      -moz-border-image: url("chrome://classic_theme_restorer/content/images/atab_hov.png") 2 28 repeat stretch !important;
	  background-size: 95% 100% !important;
	  background-image: linear-gradient(to top, #868d94 0px, transparent -1px),linear-gradient(to top,#d0dce8,#dce7f3,#e5effa) !important;
	  background-position: 0px 0px !important;
    }
	
	/* Tabs toolbar tab close button (Fx31+) */
	#ctraddon_tabs-closebutton{
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	  -moz-appearance: none !important;
	  border: none !important;
	  padding: 0px !important;
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close.png") !important;
	}
	#ctraddon_tabs-closebutton:hover{
	  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
	}
	#ctraddon_tabs-closebutton:hover:active {
	  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
	}
	
	/* Tab close button */
	.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button {
	  -moz-appearance: none !important;
	  -moz-image-region: rect(0, 64px, 16px, 48px) !important;
	  border: none !important;
	  padding: 0px !important;
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close.png") !important;
	}
	
	.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button:hover,
	.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button:hover[selected="true"] {
	  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
	}
	
	.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button:hover:active,
	.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button:hover:active[selected="true"] {
	  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
	}
	
	.tabbrowser-tab:not([pinned]):not([protected]):not([autoReload]) .tab-close-button[selected="true"] {
	  -moz-image-region: rect(0, 16px, 16px, 0) !important;
	}
	
	/*TabUtilities autoreload extra*/
	.tabbrowser-tab:not([pinned]):not([protected])[autoReload] .tab-close-button:hover,
	.tabbrowser-tab:not([pinned]):not([protected])[autoReload] .tab-close-button:hover[selected="true"] {
	  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
	  border: none !important;
	  padding: 0px !important;
	  list-style-image: url("chrome://classic_theme_restorer/content/images/close.png") !important;
	}
	
	/* remove ridiculous clipping */
	#main-window[tabsintitlebar]:not([sizemode="maximized"]):not([inFullscreen]) #toolbar-menubar:-moz-any([autohide="true"][inactive],:not([autohide])) + #TabsToolbar .tab-background-middle:not([selected=true]) {
	  clip-path: none !important;
	}
	/* TabMixPlus pinned tabs: icon size fix*/
    #main-window[tabmix_lwt="true"] .tabbrowser-tab[pinned]:not(:-moz-lwtheme) .tab-icon-image,
    #main-window[tabmix_lwt="true"] .tabbrowser-tab[pinned]:not(:-moz-lwtheme) .tab-throbber,
	#main-window[tabmix_lwt="false"] .tabbrowser-tab[pinned]:not(:-moz-lwtheme) .tab-icon-image,
    #main-window[tabmix_lwt="false"] .tabbrowser-tab[pinned]:not(:-moz-lwtheme) .tab-throbber {
	  padding-left: 8px !important;
	  padding-right: 8px !important;
	}
}

@-moz-document url(chrome://classic_theme_restorer/content/options.xul) {
	.tabcolorbox,
	.tabhovcolorbox,
	.tabactcolorbox,
	#ntabcolorbox,
	#ntabhovcolorbox,
	#ctraddon_customsqtab_cb,
	#ctraddon_ccap_t_default{
	  visibility: collapse !important;
	}
	
	#ctraddon_ccap_t_curvedaero{
	  visibility: visible !important;
	}
}