@import url(chrome://ctraddon_os_special/skin/classictabsextra2c2.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul){

	/* main tab tweaks */
	.tab-background,
	.tab-background *,
	.tab-background *::before,
	.tab-background *::after  {
	  background: unset !important;
	  background-position: unset !important;
	  background-repeat: unset !important;
	  background-size: unset !important;
	}
	
	.tab-background-middle {
	  border-left-width: 0 !important;
	  border-right-width: 0 !important;
	  margin: 0 !important;
	}

	#TabsToolbar:not([orient="vertical"]) .tab-background {
	  -moz-margin-end: 0 !important;
	  -moz-margin-start: 0 !important;
	}
	.tab-background-start[visuallyselected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
	.tab-background-end[visuallyselected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before,
	.tab-background-end[visuallyselected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
	.tab-background-start[visuallyselected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before,
	.tab-background-start[visuallyselected=true]:-moz-lwtheme::before,
	.tab-background-end[visuallyselected=true]:-moz-lwtheme::before {
	  background-image: unset !important;
	}
	.tab-background-start[visuallyselected=true]:-moz-locale-dir(ltr):-moz-lwtheme::before,
	.tab-background-end[visuallyselected=true]:-moz-locale-dir(rtl):-moz-lwtheme::before,
	.tab-background-end[visuallyselected=true]:-moz-locale-dir(ltr):-moz-lwtheme::before,
	.tab-background-start[visuallyselected=true]:-moz-locale-dir(rtl):-moz-lwtheme::before {
	  clip-path: unset !important;
	}
	.tab-background-middle[visuallyselected=true],
	.tab-background-middle[visuallyselected=true]:-moz-lwtheme {
	  background-color: unset !important;
	  background-image: unset !important;
	}
	.tab-background-start[visuallyselected=true]:-moz-lwtheme::before,
	.tab-background-end[visuallyselected=true]:-moz-lwtheme::before,
	.tab-background-middle[visuallyselected=true]:-moz-lwtheme {
	  background-color: unset !important;
	}
	.tab-background-start[visuallyselected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
	.tab-background-end[visuallyselected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before ,
	.tab-background-end[visuallyselected=true]:-moz-locale-dir(ltr):not(:-moz-lwtheme)::before,
	.tab-background-start[visuallyselected=true]:-moz-locale-dir(rtl):not(:-moz-lwtheme)::before,
	.tab-background-start[visuallyselected=true]:-moz-locale-dir(ltr)::after,
	.tab-background-end[visuallyselected=true]:-moz-locale-dir(rtl)::after,
	.tab-background-end[visuallyselected=true]:-moz-locale-dir(ltr)::after,
	.tab-background-start[visuallyselected=true]:-moz-locale-dir(rtl)::after,
	.tab-background-middle[visuallyselected=true],
	.tab-background-middle[visuallyselected=true]:-moz-lwtheme,
	.tab-background-start[visuallyselected=true]:-moz-lwtheme::before,
	.tab-background-end[visuallyselected=true]:-moz-lwtheme::before,
	.tabbrowser-tab:hover > .tab-stack > .tab-background:not([visuallyselected=true]),
	/*.tabbrowser-tab[pinned][titlechanged]:not([visuallyselected="true"]) > .tab-stack > .tab-content,*/
	#tabbrowser-tabs::before {
	  background-image: none !important;
	}

	.tab-background-start::after,
	.tab-background-start::before,
	.tab-background-start[visuallyselected=true]::after,
	.tab-background-start[visuallyselected=true]::before,
	.tab-background-start,
	.tab-background-end,
	.tab-background-end::after,
	.tab-background-end::before,
	.tab-background-end[visuallyselected=true]::after,
	.tab-background-end[visuallyselected=true]::before {
	  width: 0 !important;
	}

	.tab-background-start,.tab-background-end,
	.tab-background-start[visuallyselected=true]::after,
	.tab-background-end[visuallyselected=true]::after {
	  -moz-margin-start: 0 !important;
	}


	.tabs-newtab-button {
	  margin: unset!important;
	  background: unset !important;
	  width: 28px!important;
	}
	
	/* tab borders */
	.tabs-newtab-button,
	.tabbrowser-tab:not(:-moz-lwtheme):not([selected]) .tab-content {
	  border-top: 1px solid transparent !important;
	  border-left: 1px solid transparent !important; 
	  border-right: 1px solid transparent !important;
	}
	.tabs-newtab-button:hover,
	.tabbrowser-tab:not(:-moz-lwtheme):not([selected]):hover .tab-content {
	  border-top: 1px solid rgba(0,0,0,.2) !important;
	  border-left: 1px solid rgba(0,0,0,.2) !important; 
	  border-right: 1px solid rgba(0,0,0,.2) !important;
	}
	.tabbrowser-tab:not(:-moz-lwtheme)[selected] .tab-content {
	  box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.3), 1px 0px 0px 0px rgba(0,0,0,0.3),-1px 0px 0px 0px rgba(0,0,0,0.3) !important;
	}
	.tabs-newtab-button[selected]:-moz-lwtheme-darktext ,
	.tabbrowser-tab[selected] .tab-content:-moz-lwtheme-darktext {
	  border-top: 1px solid rgba(0,0,0,.2) !important;
	  border-left: 1px solid rgba(0,0,0,.2) !important; 
	  border-right: 1px solid rgba(0,0,0,.2) !important; 
	}
	.tabs-newtab-button[selected]:-moz-lwtheme-brighttext ,
	.tabbrowser-tab[selected] .tab-content:-moz-lwtheme-brighttext {
	  border-top: 1px solid rgba(255,255,255,.6) !important;
	  border-left: 1px solid rgba(255,255,255,.2) !important; 
	  border-right: 1px solid rgba(255,255,255,.2) !important; 
	}
	.tabs-newtab-button:hover:-moz-lwtheme-darktext ,
	.tabbrowser-tab:hover .tab-content:-moz-lwtheme-darktext {
	  border-top: 1px solid rgba(0,0,0,.2) !important;
	  border-left: 1px solid rgba(0,0,0,.2) !important; 
	  border-right: 1px solid rgba(0,0,0,.2) !important; 
	}
	.tabs-newtab-button:hover:-moz-lwtheme-brighttext ,
	.tabbrowser-tab:hover .tab-content:-moz-lwtheme-brighttext {
	  border-top: 1px solid rgba(255,255,255,.6) !important;
	  border-left: 1px solid rgba(255,255,255,.2) !important; 
	  border-right: 1px solid rgba(255,255,255,.2) !important; 
	}

	.tabs-newtab-button:not([selected]):not(:hover):-moz-lwtheme-darktext ,
	.tabbrowser-tab:not([selected]):not(:hover) .tab-content:-moz-lwtheme-darktext,
	.tabs-newtab-button:not([selected]):not(:hover):-moz-lwtheme-brighttext ,
	.tabbrowser-tab:not([selected]):not(:hover) .tab-content:-moz-lwtheme-brighttext {
	  border-top: 1px solid rgba(255,255,255,.0) !important;
	  border-left: 1px solid rgba(255,255,255,.0) !important; 
	  border-right: 1px solid rgba(255,255,255,.0) !important; 
	}

	.tabs-newtab-button,
	.tabbrowser-tab .tab-background-middle,
	.tabbrowser-tab .tab-content,
	.tabbrowser-tab {
	  border-top-left-radius: 3px !important;
	  border-top-right-radius: 3px !important;
	}

	/* Tab separators */
	#tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,
	.tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,
	#tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {
	  background-image: none !important;
	  background-color: unset !important;
	}

	/* tab image, throbber, close button position*/
	#TabsToolbar .tabbrowser-tab:not([pinned]) .tab-close-button{
	  -moz-margin-end: -7px !important;
	}

	/* Tabs Toolbar */
	#tabbrowser-tabs{
	  min-height: 0px !important;
	}

	#TabsToolbar:not(:-moz-lwtheme)::after,
	#TabsToolbar:not(:-moz-lwtheme)::before {
	  box-shadow: none !important;
	}
	#tabbrowser-tabs .tabbrowser-arrowscrollbox .arrowscrollbox-overflow-start-indicator,
	#tabbrowser-tabs .tabbrowser-arrowscrollbox .arrowscrollbox-overflow-end-indicator {
	  background-image: none !important;
	}
	
	#TabsToolbar{
	  background-image: none !important;
	  background: none !important;
	  min-height: 0px !important;
	}
	
	#TabsToolbar toolbarbutton:not(.tabs-newtab-button){
	  position:absolute !important;
	}
	/* TabUtilities fix*/
	#TabsToolbar #PinnedTabsBar toolbarbutton:not(.tabs-newtab-button){
	  position:unset !important;
	}

	/* Pinned tabs & TabMixPlus/TabUtilities locked/protected tabs support */	
	.tabbrowser-tab:not([pinned]) .tab-close-button{
	  -moz-margin-end:-5px !important;
	  -moz-margin-start:0px !important;
	}
	.tabbrowser-tab:not([pinned]):not([locked]) .tab-throbber,
	.tabbrowser-tab:not([pinned]) .tab-icon-image{
	  -moz-margin-start:-3px !important;
	  -moz-margin-end:3px !important;
	}
	.tabbrowser-tab:not([pinned])[locked] .tab-throbber{
	  -moz-margin-start:-3px !important;
	  -moz-margin-end:-13px !important;
	}
  
 	.tabbrowser-tab[pinned]:not([locked]):not([pinned]) image{
	  -moz-margin-start:0px !important;
	}
	
	/* pinned tabs fix (Fx38+) */
	#main-window[fx38plus="true"] #TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-content[pinned] {
	  -moz-padding-end: 0px !important;
	}
	/* pinned tabs fix (Fx45+) */
	#main-window[fx45plus="true"] #TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-content[pinned] {
	  -moz-padding-start: 6px !important;
	}

	/**/
	#TabsToolbar #ctraddon_appbutton{
	  margin-bottom:-1px !important;
	}
	
	/* remove ridiculous clipping */
	#main-window[tabsintitlebar]:not([sizemode="maximized"]):not([inFullscreen]) #toolbar-menubar:-moz-any([autohide="true"][inactive],:not([autohide])) + #TabsToolbar .tab-background-middle:not([selected=true]) {
	  clip-path: none !important;
	}
	
	/* fix crash icons position */
	.tabbrowser-tab[crashed] .tab-icon-overlay {
	  margin-top:0px !important;
	}
	
	/* TMP support */
	.tab-stack .tab-progress-container{
	  -moz-box-ordinal-group:2 !important;
	}
	.tab-stack .tab-content {
	  -moz-box-ordinal-group:1 !important;
	}
	/* TMP progress tweak */
	#main-window[tabmix_lwt="true"] .tabbrowser-tab progressmeter.tab-progress,
	#main-window[tabmix_lwt="false"] .tabbrowser-tab progressmeter.tab-progress {
	  margin-top: 2.5px !important;
	  height: 3px !important;
	}

	/* ColorfulTabs tweak*/
	#main-window[colorfultabs="true"] #TabsToolbar .tabbrowser-tab{
	  border-top:0 !important;
	  border-left:0 !important;
	  border-right:0 !important;
	}
	
	/*Faviconise tab add-on */
	#tabbrowser-tabs .tabbrowser-tab[faviconized="true"] .tab-icon-image{
	  -moz-margin-start:2px !important;
	  -moz-margin-end:1px !important;
	}
}

@-moz-document url(chrome://classic_theme_restorer/content/options.xul) {
	#ctraddon_ccap_t_squared2{
	  visibility: visible !important;
	}
	
	#ctraddon_ccap_t_default{
	  visibility: collapse !important;
	}
}