@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/*@-moz-document url(chrome://browser/content/browser.xul){*/
	
	.urlbar-history-dropmarker{
	  -moz-box-ordinal-group:100 !important;
	}

/*}*/