@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document url(chrome://browser/content/browser.xul) {

	#urlbar {
	  background-color: black !important;
	  color: lightgrey !important;
	}

	#identity-icon{
	  background-color: lightgrey !important;
	  opacity: 1 !important;
	}

}